@{
    ViewBag.Title = "CONCILIACIÓN GLOSAS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />

<div class="tab-content">


    <div class="tab-pane active" id="1b">
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary_asalud">Filtros de consulta</strong>
            </div>

            <div class="panel-body" id="panel_formulario">
                <form id="formbuscar" action="TableroConciliacionMedicamentos" method="post" class="row">
                    <div class="col-md-12 form-group row">
                        <div class="col-sm-3">
                            <label class="text-secondary_asalud">Fecha Inicial Auditoria</label>
                            <input class="datepickerr" value="@ViewBag.fechainicial" title="Este Campo es Obligatorio *" style="width:100%" name="fechainicial" id="fechainicial" required autocomplete="off" />

                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Fecha final Auditoria</label>

                            <input class="datepickerr" value="@ViewBag.fechafinal" title="Este Campo es Obligatorio *" style="width:100%" name="fechafinal" id="fechafinal" required autocomplete="off" />

                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-2 text-right">
                            <button class="btn btn-primary" style="margin-top: 8%" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>

</div>

<div class="container">
    <div id="pnlPrincipal" class="General">

        <div class="col-sm-12 row">
            <a class="btn btn-primary" href="@Url.Action("DescargarReporteConciliaciones", "MDConciliacion", new { fechainicial = @ViewBag.fechainicial, fechafinal = @ViewBag.fechafinal})">
                Reporte
                <i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
            </a>
            <table class="table table-hover display table-striped table-condensed table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Numero formula</th>
                        <th>Numero factura</th>
                        <th>Ciudad</th>
                        <th>Valor total formula</th>
                        <th>Valor glosado</th>
                        <th>Anexo</th>
                        <th>Fecha cargue anexo</th>

                        <th>Evaluar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ECOPETROL_COMMON.ENTIDADES.Managment_md_tablero_ConciliacionesResult item in ViewBag.List)
                    {
                        <tr>
                            <td>@item.numero_formula</td>
                            <td>@item.numero_factura</td>
                            <td>@item.ciudad</td>
                            <td>@item.vlr_total</td>
                            <td>@item.valor_glosado</td>
                            <td>@item.tiene_anexo</td>
                            <th>@item.cargue_fecha.Value.ToString("dd/MM/yyyy")</th>


                            <td class="text-center">
                                <a role="button" class="btn btn-success btn-sm" href="@Url.Action("ConciliacionesMedicamentos", "MDConciliacion", new {variable = item.numero_formula})">Auditar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.table').DataTable({
            "searching": false,
            "sSearch": "Buscar:",
            "iDisplayLength": 20,
            "lengthChange": false,
            "info": false,
            responsive: true,
        });

        $('#close').on('click', function () {
            $('#popup').fadeOut('slow');
            $('.popup-overlay').fadeOut('slow');
            return false;
        });

        $('.select2').select2({
            width: '100%'
        });

        $(".datepickerr").kendoDatePicker({
            format: "MM/dd/yyyy",
        });
        $(".k-input").attr('readonly', true);

    })

</script>

<style>
    .big-checkbox {
        width: 20px;
        height: 30px;
    }

    .control-label {
        font-size: 15px;
        color: #357ebd;
    }

    .letra {
        font-size: 15px;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .control-label {
        font-size: 15px;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .showErroneos {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .cortinilla {
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .ventana {
        width: 15%;
        height: 25%;
        padding: 1%;
        background-image: url(../../Resources/cargando.gif);
        background-size: 100% 100%;
        top: 40%;
        left: 42.5%;
        position: relative;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    #table2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 10px;
        margin: 7px;
        width: 990px;
        text-align: left;
        border-collapse: collapse;
    }


        #table2 th {
            font-size: 12px;
            font-weight: normal;
            padding: 8px;
            background: #9598A0;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #524e4e;
        }

        #table2 td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #000000;
            border-top: 1px solid transparent;
        }

    label {
        display: block;
        margin-bottom: 2px;
    }
</style>





