@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "GestionarFactura";

}

<div class="tab-content">


    <div class="tab-pane active" id="1b">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary_asalud">Ingresoo Gestión</strong>
            </div>

            <div class="panel-body" id="panel_formulario">
                <form class="animated fadeInDown" id="formulario">

                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Numero Factura</label>
                            <input type="text" class="form-control solo-numero solo-numero2 solo-numero3 " name="Nmfactura" id="Nmfactura" value="@ViewBag.numFactura" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Prestador</label>
                            <input rows="4" cols="100" type="text" class="form-control" name="prestador" id="prestador" value="@ViewBag.prestador" readonly />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Valor Factura</label>
                            <input type="text" class="form-control solo-numero solo-numero2 solo-numero3 " name="Vlrfactura" id="Vlrfactura" value="@ViewBag.Vlrfactura" readonly />
                        </div>
                        <div class="col-sm-3">
                            <label class="text-secondary_asalud">Factura es multiusuario</label>
                            <select class="form-control select" required id="opmulti" name="opmulti" onchange="Habilitar($(this).val())">
                                <option value="">- Seleccionar -</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                    </div>

                    <div style="display:none" id="pnldx">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="text-secondary_asalud">Diagnostico CIE 10</label>

                                @(Html.Kendo().AutoComplete()
                                 .Name("id_cie10_1")
                                 .Placeholder("Seleccione...")
                                 .HtmlAttributes(new { style = "width:600px" })
                                 .DataTextField("des")

                                 .Filter(FilterType.Contains)

                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetCie10Principal", "Evolucion");
                                      });

                                  })
                               )
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label class="text-secondary_asalud">Clasifique el Gasto:</label>
                            <button data-bind="click: agregarDetalle" class="btn btn-xs button_Asalud_Aceptar">Agregar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <table class="table table-bordered" style="margin-left:0px">
                                <thead>
                                    <tr>
                                        <th>Gasto</th>
                                        <th>Observación del gasto</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody data-bind="foreach: detalle">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1" style="font-size:10pt;width:200px;" required="required" data-bind="value: Id_ref_tipo_gasto_facturas, options: window.Lista, optionsText: 'descripcion', optionsValue: 'id_ref_tipo_gasto_facturas', attr: { name: 'DetalleGasto[' + $index() + '].id_gasto' }"></select>
                                                <em data-bind="validationMessage: Id_ref_tipo_gasto_facturas"></em>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5" id="comment" style="font-size:10pt;width:250px;" required="required" data-bind="value: Observacion_gasto, attr: { name: 'DetalleGasto[' + $index() + '].obs_gasto' }" maxlength="499"></textarea>
                                                <em data-bind="validationMessage: Observacion_gasto"></em>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="button_Asalud_Rechazar" data-bind="click: $root.eliminarDetalle">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <label class="text-secondary_asalud">Factura autorizada para pago</label>
                            <select class="form-control select" required id="ftautoriza" name="ftautoriza">
                                <option value="">- Seleccionar -</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                    </div>
                    <br />

                    <div class="row">

                        <div class="col-sm-12" align="center">
                            <button class="button_Asalud_Guardar" type="button" onclick="finalizar()">Guardar</button>
                        </div>

                    </div>
                    <div style="display:none">
                        <input class="form-control" type="text" name="id_cargue_dtll" id="id_cargue_dtll" value="@ViewBag.id_cargue_dtll" />
                        <input class="form-control" type="text" name="cie10F" id="cie10F"  />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script src="~/Scripts/validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/knockout-2.2.1.js"></script>
<script src="~/Scripts/knockout.validation.js"></script>
<script src="~/Scripts/ViewModels/ControlGastoViewModel.js"></script>
<script>

    var Lista = JSON.parse('@Html.Raw(Json.Encode(ViewBag.listgastos))');
    var viewModel = new controlgastoViewModel();
    ko.validation.init({ insertMessages: false, parseInputAttributes: true });
    ko.applyBindings(viewModel);

    $(document).ready(function () {
        $('.select2').select2({
            width: '100%'
        });

        $(".datepickerr").kendoDatePicker({
            format: "dd/MM/yyyy",
        });
        //$(".k-input").attr('readonly', true);

          $('.select2').select2({
            width: '100%'
        });

        $('.solo-numero').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });


        $('.solo-numero2').keydown(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });


        $('.solo-numero3').focusout(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');

        });

        $("#id_cie10_1").change(function () {
            var au = $("#id_cie10_1").data("kendoAutoComplete");
            var selected = au.listView.selectedDataItems();
            if (selected.length > 0) {
                $("#cie10F").val(selected[0].id_cie10);
            } else {
                $("#cie10F").val("");
            }
        });
    })



    function finalizar() {
        var validator = $("#formulario").validate();
        if (validator.form()) {

            FinalizarDatos();
        }
    }

    function FinalizarDatos()
    {
        var SelectedList = new Array();
        var SelectedList = [];
        $.each($("input[name='DetalleGasto']:checked"), function () {
            SelectedList.push($(this).val());
        });

        var value = $("#cie10F").val();
        var formData = new FormData($("form")[0]);
        formData.append("id_cargue_dtll", $("#id_cargue_dtll").val());
        formData.append("multiusuario", $("#opmulti").val());
        formData.append("id_dx1", value);
        formData.append("gasto", $("#clasifGasto").val());
        formData.append("factura_autorizada", $("#ftautoriza").val());

        for (var i = 0; i < SelectedList.length; i++) {
            formData.append('DetalleGasto', SelectedList[i]);
        }


        $("#myModal").modal('hide');
        LoadingShow();
        $.ajax({
            url: "@Url.Action("SavegestionFacturas", "RadicacionElectonica")",
            type: "post",
            data: formData,
            method: 'POST',
            contentType: false,
            processData: false,
            success: function (response)
            {
                  if (response.success)
                  {
                      if (response.opc == 2)
                      {
                          $('#resultado').empty();
                          $('#resultado').load("@Url.Action("FacturaDevPrestadores","RadicacionElectonica")?ID=" + response.id, function ()
                          {
                              LoadingHide();
                              $("#myModal").modal('show');
                          });
                      }
                      else
                      {
                          var URL2 = "@Url.Action("CrearPdfFacturasDig", "RadicacionElectonica")?id=" + response.id;
                          window.open(URL2, '', 'width =450,height =300,left =50,top =50,toolbar =yes');
                          LoadingHide();
                          location.reload();
                      }

                  }
                  else
                  {
                         alert(response.message);
                         LoadingHide();
                  }

            }
        })
    }


    function Habilitar(a) {
        var Valor = a;
        if (Valor == "NO") {
             document.getElementById('pnldx').style.display = 'block';
        } else {
             document.getElementById('pnldx').style.display = 'none';
        }
    }


</script>

<style>
    .big-checkbox {
        width: 20px;
        height: 30px;
    }

    .control-label {
        font-size: 15px;
        color: #357ebd;
    }

    .letra {
        font-size: 15px;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .control-label {
        font-size: 15px;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .showErroneos {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .cortinilla {
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .ventana {
        width: 15%;
        height: 25%;
        padding: 1%;
        background-image: url(../../Resources/cargando.gif);
        background-size: 100% 100%;
        top: 40%;
        left: 42.5%;
        position: relative;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    #table2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 10px;
        margin: 7px;
        width: 990px;
        text-align: left;
        border-collapse: collapse;
    }


        #table2 th {
            font-size: 12px;
            font-weight: normal;
            padding: 8px;
            background: #9598A0;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #524e4e;
        }

        #table2 td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #000000;
            border-top: 1px solid transparent;
        }

    label {
        display: block;
        margin-bottom: 2px;
    }

</style>




