
<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="text-primary_asalud">CARGUE RIPS</strong>
    </div>
    <div class="panel-body">
        <form id="formularioIngresoRips">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-secondary_asalud">Código CUV</label>
                        <input type="hidden" id="tipo" name="tipo" value="@ViewBag.tipo" />
                        <input type="hidden" id="idDetalle" name="idDetalle" value="@ViewBag.idDetalle" />
                        <input type="hidden" id="idCargue" name="idCargue" value="@ViewBag.idCargue" />
                        <input type="hidden" id="listadoId" name="listadoId" value="@ViewBag.listadoId" />
                        <input type="hidden" id="listadoCuv" name="listadoCuv" value="@ViewBag.listadoCuv" />
                        <input type="hidden" id="existeCuv" name="existeCuv" value="@ViewBag.existeCuv" />
                        <input type="hidden" id="codPrestador" name="codPrestador" value="@ViewBag.codPrestador" />
                        <input type="hidden" id="listadoCodPrestador" name="listadoCodPrestador" value="@ViewBag.listadoCodPrestador" />

                        @if (!string.IsNullOrEmpty(ViewBag.listadoCuv))
                        {
                            <input type="text" class="form-control" id="codigo_cuv" name="codigo_cuv" value="@ViewBag.listadoCuv" maxlength="500" required readonly />
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(ViewBag.cuv))
                            {
                                <input type="text" class="form-control" id="codigo_cuv" name="codigo_cuv" value="@ViewBag.cuv" maxlength="250" required readonly />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="codigo_cuv" name="codigo_cuv" value="@ViewBag.cuv" maxlength="250" required />
                            }
                        }

                    </div>

                    <div class="col-md-6">
                        <label class="text-secondary_asalud">Formato</label>
                        @*<input type="file" id="files" name="files" class="form-control" style="width:100%;" onchange="ValidarArchivos();" multiple required />*@
                        <input type="file" id="files" name="files" class="form-control" style="width:100%;" onchange="ValidarArchivosJson();" required />
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-12 text-center" style="align-items:center; text-align:center;">
                        <a onclick="ValidarFormularioRips()" class="button_Asalud_Guardar">GUARDAR</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/Scripts/validate.js"></script>
<script>

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%',
            height: '100%'
        });

        $('.solo-numeros').keyup(function () {
            this.value = (this.value + '').replace(/[^0-9]/g, '');
        });
    });

    function ValidarArchivos() {
        var data = document.getElementById('files');
        var distintosArchivos = data.files;
        var contador = 0;

        for (contador; contador < distintosArchivos.length; contador++) {

            var nameext = data.files[contador].name;
            var extension = getfilesExtension3(nameext);

            var listaextensiones = ["zip", "Zip", "ZIP"];

            var valida = false;

            jQuery.each(listaextensiones, function (i, val) {
                if (extension == val) {
                    valida = true;
                }
            });

            if (valida == false) {
                alert("La extensión " + extension + " no es válida. Por favor, solo subir archivos ZIP.");
                $("#files").val("");
            }
        }
    }

    function ValidarArchivosJson() {
        var data = document.getElementById('files');
        var distintosArchivos = data.files;
        var contador = 0;

        for (contador; contador < distintosArchivos.length; contador++) {

            var nameext = data.files[contador].name;
            var extension = getfilesExtension3(nameext);

            var listaextensiones = ["json", "Json", "JSON"];

            var valida = false;

            jQuery.each(listaextensiones, function (i, val) {
                if (extension == val) {
                    valida = true;
                }
            });

            if (valida == false) {
                alert("La extensión " + extension + " no es válida. Por favor, solo subir archivos JSON.");
                $("#files").val("");
            }
        }
    }

    function getfilesExtension3(filesname) {
        return filesname.slice((filesname.lastIndexOf(".") - 1 >>> 0) + 2);
    }

    function ValidarFormularioRips() {
        var validar = $("#formularioIngresoRips").validate();
        if (validar.form()) {
            //GuardarDatosRips();
            GuardarDatosPruebas();
        }
    }

    @*function GuardarDatosRips() {

        var formData = new FormData($("#formularioIngresoRips")[0]);
        formData.append("codigo_cuv", $("#codigo_cuv").val());
        formData.append("idDetalle", $("#idDetalle").val());
        formData.append("idCargue", $("#idCargue").val());
        formData.append("listadoId", $("#listadoId").val());
        formData.append("listadoCuv", $("#listadoCuv").val());
        formData.append("tipo", $("#tipo"));
        formData.append("existeCuv", $("#existeCuv"));
        formData.append("codPrestador", $("#codPrestador"));
        formData.append("listadoCodPrestador", $("#listadoCodPrestador"));

        var tipoIngreso = $("#tipo").val();

        var archivos = $("#files")[0].files;

        for (var i = 0; i < archivos.length; i++) {
            formData.append("archivo", archivos[i]);
        }

        LoadingShow();
        $.ajax({
            url: '@Url.Action("GuardarConsultas", "FIS_RIPS")',

            data: formData,
            method: "POST",
            processData: false,
            contentType: false,

            success: function (response) {

                alert(response.mensaje);
                LoadingHide();

                if (response.rta == 1) {
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                LoadingHide();
            }
        });
    }*@

    function GuardarDatosPruebas() {

        var formData = new FormData($("#formularioIngresoRips")[0]);

        formData.append("codigo_cuv", $("#codigo_cuv").val());
        formData.append("idDetalle", $("#idDetalle").val());
        formData.append("idCargue", $("#idCargue").val());
        formData.append("listadoId", $("#listadoId").val());
        formData.append("listadoCuv", $("#listadoCuv").val());
        formData.append("tipo", $("#tipo"));
        formData.append("existeCuv", $("#existeCuv"));
        formData.append("codPrestador", $("#codPrestador"));
        formData.append("listadoCodPrestador", $("#listadoCodPrestador"));

        var tipoIngreso = $("#tipo").val();

        var archivos = $("#files")[0].files;

        for (var i = 0; i < archivos.length; i++) {
            formData.append("archivo", archivos[i]);
        }

        LoadingShow();
        $.ajax({
            url: '@Url.Action("GuardarConsultasFis", "FIS_RIPS")',

            data: formData,
            method: "POST",
            processData: false,
            contentType: false,

            success: function (response) {

                alert(response.mensaje);
                LoadingHide();

                if (response.rta == 1) {
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                LoadingHide();
            }
        });
    }

</script>
