@{var conteo = ViewBag.conteoArchivos; }

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="title text-center">
            <h4>
                <a class="text-primary_asalud" data-toggle="collapse" data-parent="#accordion">ARCHIVOS</a>
            </h4>
            <h5>
                <label class="text-secondary_asalud">Id. @ViewBag.idMed</label>
            </h5>
        </p>
    </div>
    <div class="panel-body">

        <div id="divTabla">

            <div class="table-responsive">
                <table id="tableGestionDocumental" class="table table-bordered table-condensed" style="font-size:11px; width:100%;  margin:0px !important">
                    <thead>
                        <tr>
                            <th class="text-center">Ítem</th>
                            <th class="text-center">Fecha de cargue</th>
                            @*<th class="text-center">Tipo</th>*@
                            <th class="text-center">Archivo</th>
                            <th class="text-center">Usuario creador</th>
                            <th class="text-center">Ver</th>

                            @*@if (ViewBag.rol == "1" || ViewBag.rol == "10" || ViewBag.rol == "34")
                                {*@
                            @*<th class="text-center">Eliminar</th>*@
                            @*}*@
                        </tr>
                    </thead>
                    <tbody id="tbodytbl2">
                        @if (ViewBag.conteoArchivos > 0)
                        {
                            var i = 0;

                            foreach (ECOPETROL_COMMON.ENTIDADES.management_cuentasMedicas_ripsNoEsalud_archivosResult item in ViewBag.listaArchivos)
                            {
                                i++;
                                <tr>
                                    <td class="text-center">@i</td>
                                    @if (item.fecha_digita != null)
                                    {
                                        <td class="text-center">@item.fecha_digita.Value.ToString("dd/MM/yyyy H:mm:ss")</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">@item.fecha_digita</td>
                                    }

                                    @*<td class="text-center">@item.extension</td>*@
                                    <td class="text-center">@item.nombre_archivo</td>
                                    <td class="text-center">@item.nombreCarga</td>

                                    <td class="text-center">
                                        <a href='javascript:MostrarArchivo(@item.id_archivo);'>Ver archivo</a>
                                    </td>
                                    @*<td class="text-center">
                                        <a class="button_Asalud_Rechazar" onclick="EliminarArchivo(@item.id_archivo);">
                                            Eliminar
                                        </a>
                                    </td>*@
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12" style="text-align:center; font-size:15px;">
                                    <label>Sin archivos.</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
    </div>
</div>

<script>

    $(document).ready(function () {
        MostrarTabla();
        $.validator.messages.required = 'Este campo es obligatorio';

    });

    function MostrarTabla() {

        var conteo = @conteo;
        if (conteo > 0) {

            $('#tableGestionDocumental').DataTable().destroy();

            $('#tableGestionDocumental').DataTable({
                "searching": true,
                "iDisplayLength": 10,
                "lengthChange": false,
                "info": false,
                "order": [[0, "asc"]],
                responsive: true,
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar MENU registros",
                    info: "Mostrando registros del START al END de un total de TOTAL registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de MAX registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último",
                    },
                }
            });
        }
    }

    function getFileExtension3(filename) {
        return filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2);
    }

    function MostrarArchivo(idArchivo) {
        var url = "@Url.Action("VerArchivoIngreso", "RadicacionElectonica")?idArchivo=" + idArchivo;
        popupWindow = window.open(url, '', 'height=150,width=500,left=50,top=550,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes')
    }

</script>

<style>
    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 10px;
        margin: 10px;
        width: 600px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #ffffff;
    }

    td {
        padding: 8px;
        background: #ffffff;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }
</style>