
@{
    ViewBag.Title = "TABLERO GESTIÓN FACTURAS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="panel panel-default">
    <div class="panel-heading">
        <form id="formulariobuscar" action="TableroGestionFacturas" method="post" enctype="multipart/form-data">
            @if (ViewBag.opcion != 3)
            {
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="text-secondary_asalud">Fecha de Recepción</label>
                            <div class="input-group">
                                <input class="datepickerr" title="datepicker" style="width:100%" name="fechainicial" id="fechainicial" />
                                <span class="input-group-addon" id="sizing-addon2">A</span>
                                <input class="datepickerr" title="datepicker" style="width:100%" aria-describedby="sizing-addon2" name="fechafinal" id="fechafinal" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="text-secondary_asalud">Estado del caso</label>
                            <select class="form-control select" id="estado" name="estado">
                                <option value="">- Seleccionar -</option>
                                @foreach (ECOPETROL_COMMON.ENTIDADES.view_ref_estado_facturas item in ViewBag.ref_estado)
                                {
                                    <option value="@item.id_estado_factura">@item.nom_estado</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            }

            <div class="row">

                @if (ViewBag.opcion == 1 || ViewBag.opcion == 3)
                {
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="text-secondary_asalud">Regional</label>
                            @*<select class="form-control select2" onchange="CargarPrestador($(this).val())" id="regional" name="regional">
                                    <option value="">- Seleccionar -</option>
                                    @foreach (ECOPETROL_COMMON.ENTIDADES.Ref_regional item in ViewBag.regionales)
                                    {
                                        <option value="@item.id_ref_regional">@item.nombre_regional</option>
                                    }

                                </select>*@
                            <select class="form-control select" id="regional" name="regional" onchange="CargarPrestador($(this).val())" >
                                <option value="">- Seleccionar -</option>
                                @foreach (ECOPETROL_COMMON.ENTIDADES.Ref_regional item in ViewBag.regionales)
                                {
                                    <option value="@item.id_ref_regional">@item.nombre_regional</option>
                                }
                            </select>
                           
                        </div>
                    </div>
                }

                @if (ViewBag.opcion != 3)
                {

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="text-secondary_asalud"> Prestador</label>
                            <input type="text" class="form-control" name="prestador" id="prestador" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="text-secondary_asalud">Nit Prestador</label>
                            <input type="text" class="form-control" name="nit" id="nit" autocomplete="off" />

                        </div>
                    </div>

                }
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="text-secondary_asalud">Numero Factura</label>
                        <input type="text" class="form-control" name="numFac" id="numFac" autocomplete="off" />

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 text-right">
                    <div class="col-sm-3">


                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6 text-left">
                    @*  <button type="button" id="btnbuscar" onclick="validarformulario()" class="button_Asalud_Guardar"><i class="glyphicon glyphicon-search"></i>&nbsp; Buscar</button>*@
                    <button type="button" onclick="validarformulario()" class="button_Asalud_Guardar"><i class="glyphicon glyphicon-upload" s></i> Buscar</button>
                </div>
                <div class="col-sm-3 text-right">
                    <a role="button" href="@Url.Action("ExportarLstFacturasGestionadas","RadicacionElectonica")" class="button_Asalud_descargas"><i class="glyphicon glyphicon-download"></i>&nbsp; Descargar Resultados</a>
                </div>
                @if (ViewBag.opcion != 3)
                {
                    <div class="col-sm-3 text-right">
                        <a role="button" href="@Url.Action("ExportarFacturasMasivamente","RadicacionElectonica")" class="button_Asalud_descargas"><i class="glyphicon glyphicon-download"></i>&nbsp; Descargar Facturas</a>
                    </div>
                }

            </div>
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed table-striped datatable1">
            <thead>
                <tr>
                    <th>ID LOTE</th>
                    <th>Numero Factura</th>
                    <th>Valor Factura</th>
                    <th>Prestador</th>
                    <th>Regional</th>
                    <th>Fecha Recepción</th>
                    <th>Fecha Aprobación</th>
                    <th>Estado Actual</th>
                    <th>Analista</th>
                    <th>Auditor</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    @if (ViewBag.ROL == "1" || ViewBag.ROL == "20")
                    {
                        <th></th>
                    }
                    @if (ViewBag.ROL == "1" || ViewBag.ROL == "20")
                    {
                        <th></th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (ECOPETROL_COMMON.ENTIDADES.managmentprestadoresfacturasgestionadasResult order in ViewBag.Lista)
                {
                    <tr>
                        <td>@order.id_cargue_base</td>
                        <td>@order.num_factura</td>
                        <td>@order.valor_neto</td>
                        <td>@order.nombre_prestador</td>
                        <td>@order.nombre_regional</td>
                        @if (@order.fecha_recepcion_fac == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@order.fecha_recepcion_fac</td>
                        }
                        @if (@order.fecha_aprobacion == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@order.fecha_aprobacion.Value.ToString("dd/MM/yyyy")</td>
                        }

                        <td>@order.estado_des</td>
                        <td>@order.nom_analitica</td>
                        <td>@order.nom_auditor</td>
                        @if (ViewBag.ROL != "21")
                         {
                            <td><a style="text-decoration-color:#5168a8" class="alink" href="javascript: window.open('@Url.Action("Verdocumentodigital","RadicacionElectonica",new {tipo = 1, idcarguebase = order.id_cargue_base, idcarguedtll = order.id_cargue_dtll })', '', 'width=700,height =500,left =50,top =50,toolbar =yes');">Ver Documento</a></td>
                            <td><a style="text-decoration-color:#5168a8" class="alink" href="javascript:versoportes(@order.id_cargue_base , @order.id_cargue_dtll)">@order.count_soportes Documento Cargados</a></td>
                            if (order.count_soportes_zip > 0)
                            {
                                <td><a style="text-decoration-color:#5168a8" class="alink" href="javascript: window.open('@Url.Action("Verdocumentodigital_zip","RadicacionElectonica",new {idcarguedtll = order.id_cargue_dtll })', '', 'width=500,height =100,left =50,top =50,toolbar =yes');">Ver Archivo Comprimido</a></td>
                            }
                            else
                            {
                                <td></td>
                            }

                            if (ViewBag.ROL != "20")
                            {
                                if (order.estado_factura == 6)
                                {
                                    <td><a style="text-decoration-color:#5168a8" class="alink" href="javascript: window.open('@Url.Action("PdfFacturasAprobadas","RadicacionElectonica",new {ID = order.id_cargue_dtll,ID2 = order.estado_factura })', '', 'width=800,height =500,left =50,top =50,toolbar =yes');">Ver Carta Aprobacion</a></td>
                                }
                                else if (order.estado_factura == 11)
                                {
                                    <td><a style="text-decoration-color:#5168a8" class="alink" href="javascript: window.open('@Url.Action("PdfFacturasAprobadas","RadicacionElectonica",new {ID = order.id_cargue_dtll,ID2 = order.estado_factura })', '', 'width=800,height =500,left =50,top =50,toolbar =yes');">Ver Carta Aprobacion</a></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        }



                        @if (ViewBag.ROL == "1" || ViewBag.ROL == "20")
                        {
                            if (order.estado_factura == 3)
                            {
                                <td>
                                    <button class="button_Asalud_Aceptar" onclick="VerRechazo(@order.id_cargue_dtll,@order.id_cargue_base);" data-toggle="modal" data-target="#myModal2">
                                        Ver Motivo
                                    </button>
                                </td>
                            }
                            else if (order.estado_factura == 5)
                            {
                                <td>
                                    <button class="button_Asalud_Aceptar" onclick="VerDevolucion(@order.id_cargue_dtll);" data-toggle="modal" data-target="#myModal3">
                                        Ver Motivo
                                    </button>
                                </td>

                            }
                            else
                            {
                                <td>
                                </td>
                            }


                        }
                       
                        @if (ViewBag.ROL == "1" || ViewBag.ROL == "20")
                        {
                            if (order.estado_factura == 3)
                            {
                                <td>
                                    <button class="button_Asalud_Rechazar" onclick="llamarVistaParcial(@order.id_cargue_dtll);" data-toggle="modal" data-target="#myModal">
                                        Ingreso Observación
                                    </button>
                                </td>
                            }
                            else if (order.estado_factura == 5)
                            {
                                <td>
                                    <button class="button_Asalud_Rechazar" onclick="llamarVistaParcial(@order.id_cargue_dtll);" data-toggle="modal" data-target="#myModal">
                                        Ingreso Observación
                                    </button>
                                </td>

                            }
                            else
                            {
                                <td>
                                </td>
                            }


                        }
                      
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<div id="ModalSoportes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Soportes Cargados</h4>
            </div>
            <div class="modal-body">
                <table id="tblsoportes" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>item</th>
                            <th>Nombre documento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div id="resultado"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button_Asalud_Rechazar" data-dismiss="modal">CERRAR</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div id="resultado2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button_Asalud_Rechazar" data-dismiss="modal">CERRAR</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div id="resultado3"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button_Asalud_Rechazar" data-dismiss="modal">CERRAR</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="~/Scripts/validate.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(window).load(function () {
        $("#loader").fadeOut("slow");
    });

    $(document).ready(function () {

        $("#btnbuscar").click(function () {
            LoadingShow();
            $("#formulariobuscar").submit();
        })

        $('.table').DataTable({
            "searching": false,
            "sSearch": "Buscar:",
            "iDisplayLength": 20,
            "lengthChange": false,
            "info": false,
            responsive: true,
        });

        $(".datepickerr").kendoDatePicker({
            format: "MM/dd/yyyy"
        });

        $("#prestador").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: "/RadicacionElectonica/BuscarPrestador",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term,
                        tipofiltro: 1
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            min_length: 3,
            delay: 300,
            select: function (evento, ui) {
                if (ui.item != null) {
                    $("#nit").val(ui.item.nit);
                    $("#prestador").val(ui.item.nombre);
                }
            },
        });

    })

   function CargarPrestador(a) {
        var regional = a;
        if (regional != "") {
            $.ajax({
                url: "@Url.Action("GetCascadePrestador", "RadicacionElectonica")",
                type: "post",
                data: { regional: regional },
                success: function (data) {
                    $("#prestador").empty();

                    $("#prestador").append("<option value=''> - Seleccionar - </option>");

                    data.forEach(function (b) {
                        $("#prestador").append("<option value='" + b.id_ref_unis + "'>" + b.nombre + "</option>");

                    });
                    CargarEspecialista(regional);
                    CargarOdontologos(regional);
                }
            })
        }

    }

    function versoportes(a, b)
    {
        $.ajax({
            url: "@Url.Action("tablasoportesclinicos")",
            type: "post",
        data: {
            idcargue: a,
            iddetalle:b
        },
        success: function (data)
        {
            $("#tblsoportes tbody").empty();
            $("#tblsoportes tbody").html(data);
            $("#ModalSoportes").modal('show');
        }
        })
    }


    function AbrirSoporteClinico(a)
    {
        var url = "@Url.Action("versoporteclinico", "RadicacionElectonica")?idsoporteclinico=" + a;
        popupWindow = window.open(url, '', 'height=500,width=700,left=50,top=50,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes')
    }

     function VerRechazo(AI, BI) {
        var laURLDeLaVista = '@Url.Action("VerRechazo")'
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {
                ID: AI,
                IDBASE: BI
            },
            success: function (response) {
                $('#resultado2').html('');
                $('#resultado2').html(response);
            }
        });
    }

     function VerDevolucion(AI) {
        var laURLDeLaVista = '@Url.Action("VerDevolucion")?ID=' + AI
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {},
            success: function (response) {
                $('#resultado3').html('');
                $('#resultado3').html(response);
            }
        });
    }
    function llamarVistaParcial(AI) {
        var laURLDeLaVista = '@Url.Action("GestionarObservacion")?ID=' + AI
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {},
            success: function (response) {
                $('#resultado').html('');
                $('#resultado').html(response);
            }
        });
    }

    sumaFecha = function (d, fecha) {
        var Fecha = new Date();
        var sFecha = fecha || (Fecha.getDate() + "/" + (Fecha.getMonth() + 1) + "/" + Fecha.getFullYear());
        var sep = sFecha.indexOf('/') != -1 ? '/' : '-';
        var aFecha = sFecha.split(sep);
        var fecha = aFecha[2] + '/' + aFecha[1] + '/' + aFecha[0];
        fecha = new Date(fecha);
        fecha.setDate(fecha.getDate() + parseInt(d));
        var anno = fecha.getFullYear();
        var mes = fecha.getMonth() + 1;
        var dia = fecha.getDate();
        mes = (mes < 10) ? ("0" + mes) : mes;
        dia = (dia < 10) ? ("0" + dia) : dia;
        var fechaFinal = dia + sep + mes + sep + anno;
        return (fechaFinal);
    }

    function validarformulario()
    {
        var validator = $("#formulariobuscar").validate();
        if (validator.form())
        {
            if (ValidacionArchivo())
            {
                LoadingShow()
                $("#formulariobuscar").submit();
            }

        }
    }

    function ValidacionArchivo() {
        var fecha = $("#fechainicial").val()
        var fecha2 = $("#fechafinal").val()

        if (fecha != "") {
            if (fecha2 != "") {
                return true
            }
            else {
                alert('Por favor, seleccione una fecha final...');
                return false;
            }
        }
        else {
            return true
        }

    }
</script>

<style>
    #pnlcargararchivo {
        margin-top: 5%;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>

