
@{
    ViewBag.Title = "FACTURAS PENDIENTES DE DOCUMENTACIÒN";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />


<div class="panel panel-default">

    <div class="col-md-12" style="text-align:right;">
        <a class="button_Asalud_descargas" href="@Url.Action("ExcelReporteFacturasIncompletas", "RadicacionElectonica")">
            Reporte facturas incompletas<i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
        </a>
    </div>

    <div class="panel-body">
        <br />

        <table class="table table-bordered table-condensed table-striped datatable1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Numero factura</th>
                    <th>Nombre Prestador</th>
                    <th>Fecha Ingreso</th>
                    <th>Usuario Ingreso</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ECOPETROL_COMMON.ENTIDADES.management_facturas_sinDocumentacionResult item in ViewBag.Lista)
                {
                    <tr>
                        <td>@item.id_cargue_base</td>
                        <td>@item.num_factura</td>
                        <td>@item.nom_prestador.ToUpper()</td>
                        <td>@item.fecha_digita</td>
                        <td>@item.usuario_digita</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        $('.select2').select2({
            width: '100%'
        });

        $(".datepickerr").kendoDatePicker({
            format: "dd/MM/yyyy",
        });
        $(".k-input").attr('readonly', true);

        $('.table').DataTable({
            "sSearch": "Buscar:",
            "searching": true,
            "iDisplayLength": 25,
            "lengthChange": false,
            "info": false,
            responsive: true,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });

    })

</script>
<style>
    #pnlcargararchivo {
        margin-top: 5%;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>



