

@model List<ECOPETROL_COMMON.ENTIDADES.management_baseBeneficiarios_consolidadoDetallePeriodoResult>
@{
    Layout = null;
    var i = 0;
}

<div class="panel-heading">
    <strong class="text-primary_asalud">Consolidado</strong>
</div>
<div class="table-responsive">
    <table class="consolidado table table-bordered" style="font-size:10px; width:98%;">
        <thead>
            <tr>
                <th>Ítem</th>
                <th>Conteo</th>
                <th>Tipo identificación</th>
                <th>Genero</th>
                <th>Grupo etareo</th>
                <th>Departamento</th>
                <th>Regional</th>
                <th>Unis</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody style="height:80px; overflow:auto;">
            @foreach (ECOPETROL_COMMON.ENTIDADES.management_baseBeneficiarios_consolidadoDetallePeriodoResult item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.conteo</td>
                    <td>@item.clase_de_identificacion</td>
                    <td>@item.genero</td>
                    <td>@item.grupo_etareo</td>
                    <td>@item.deparrtamento</td>
                    <td>@item.regional</td>
                    <td>@item.unis</td>
                    <td>@item.estado</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {
        $('.consolidado').DataTable({
            "sSearch": "Buscar:",
            "searching": true,
            "iDisplayLength": 20,
            "lengthChange": false,
            "info": false,
            responsive: true,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    });

</script>
