@using Kendo.Mvc.UI;
@model  AsaludEcopetrol.Models.Medicamentos.herramientasTec

@{
    ViewBag.Title = "EVALUACION HERRAMIENTA TECNOLOGICA DETALLE TABLA 1";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />

<div class="container">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">ESPECIFICACIONES GENERALES</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="gj-clear-both"></div>
                    <div class="gj-margin-top-10">
                        <table id="grid"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">SEGURIDAD</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="gj-clear-both"></div>
                    <div class="gj-margin-top-10">
                        <table id="grid2"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">FUNCIONALIDAD</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="gj-clear-both"></div>
                    <div class="gj-margin-top-10">
                        <table id="grid3"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12">
            <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.hallazgos)</span></h4>
            @Html.TextAreaFor(p => p.hallazgos, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.hallazgos, null, new { @class = "label label-danger" })
        </div>

    </div>

    <br />

    <div id="pnlGuardar" class="General">
        <table align="center">

            <tr>
                <td>
                    @*<input id="BtnActualizar" type="submit" value="SIGUIENTE" class="btn btn-success" />*@

                    <button type="submit" id="btnSave3" class="btn btn-primary" onclick="Save4()">GUARDAR</button>
                </td>
            </tr>
            <tr>
                <td class="Error">
                    @Html.ValidationSummary(true, "")
                </td>
            </tr>

            <tr>
                <td style="display:none">
                    @Html.TextBoxFor(u => u.id_indicadores_medicamentos)
                    @Html.TextBoxFor(u => u.nombre_auditado)

                </td>
            </tr>

        </table>

    </div>

    <div id="resultado" style='display:none;' class="Error">
        <h3>Ingreso correcto...</h3>
    </div>

    <div style="display:none">
        @Html.TextBoxFor(u => u.id_herramienta_tec_med)

    </div>
</div>

<br>
<br>


<script type="text/javascript">


    $(document).ready(function () {
        var textBox1 = $('input:text[id$=id_herramienta_tec_med]').keyup();
        var value2 = textBox1.val();

        var valores = ['0', '1'];
        var grid;
        grid = $('#grid').grid({
            locale: 'es-es',
            dataSource: '/herramientaTecnologica/GetT1/' + value2,
            uiLibrary: 'bootstrap4',
            primaryKey: 'id_md_detalle_tabla1',
            inlineEditing: { mode: 'command', managementColumnConfig: { width: 240 } },
            columns: [


                { field: 'id_sub_categoria', title: 'Id', width: 50 },
                { field: 'sub_categoria', width: 450, title: 'SubCategoria' },
                { field: 'peso', width: 50, title: 'peso' },
                { field: 'valor', title: 'Valor', width: 50, type: 'dropdown', editor: { dataSource: valores } },
                { field: 'resultado', title: 'Resultado', width: 80 },
                { field: 'observaciones', title: 'Observaciones', editor: true, width: 150, align: 'center' },

            ],
            pager: { limit: 5 }

        });
        grid.on('rowDataChanged', function (e, id, record) {

            var data = $.extend(true, {}, record);
            $.ajax({
                url: '/herramientaTecnologica/Save1',
                data: { record: data },
                method: 'POST',
                success: function (data) {
                    location.reload();
                }
            })

                .fail(function () {
                    alert('Failed to save.');
                });

        });

    });

    $(document).ready(function () {
        var textBox1 = $('input:text[id$=id_herramienta_tec_med]').keyup();
        var value2 = textBox1.val();

        var valores = ['0', '1'];
        var grid;
        grid = $('#grid2').grid({
            locale: 'es-es',
            dataSource: '/herramientaTecnologica/GetT2/' + value2,
            uiLibrary: 'bootstrap4',
            primaryKey: 'id_md_detalle_tabla1',
            inlineEditing: { mode: 'command', managementColumnConfig: { width: 240 } },
            columns: [


                { field: 'id_sub_categoria', title: 'Id', width: 50 },
                { field: 'sub_categoria', width: 450, title: 'SubCategoria' },
                { field: 'peso', width: 50, title: 'peso' },
                { field: 'valor', title: 'Valor', width: 50, type: 'dropdown', editor: { dataSource: valores } },
                { field: 'resultado', title: 'Resultado', width: 80 },
                { field: 'observaciones', title: 'Observaciones', editor: true, width: 150, align: 'center' },

            ],
            pager: { limit: 5 }

        });
        grid.on('rowDataChanged', function (e, id, record) {

            var data = $.extend(true, {}, record);
            $.ajax({
                url: '/herramientaTecnologica/Save1',
                data: { record: data },
                method: 'POST',
                success: function (data) {
                    location.reload();
                }
            })

                .fail(function () {
                    alert('Failed to save.');
                });

        });

    });

    $(document).ready(function () {
        var textBox1 = $('input:text[id$=id_herramienta_tec_med]').keyup();
        var value2 = textBox1.val();

        var valores = ['0', '1'];
        var grid;
        grid = $('#grid3').grid({
            locale: 'es-es',
            dataSource: '/herramientaTecnologica/GetT3/' + value2,
            uiLibrary: 'bootstrap4',
            primaryKey: 'id_md_detalle_tabla1',
            inlineEditing: { mode: 'command', managementColumnConfig: { width: 240 } },
            columns: [


                { field: 'id_sub_categoria', title: 'Id', width: 50 },
                { field: 'sub_categoria', width: 450, title: 'SubCategoria' },
                { field: 'peso', width: 50, title: 'peso' },
                { field: 'valor', title: 'Valor', width: 50, type: 'dropdown', editor: { dataSource: valores } },
                { field: 'resultado', title: 'Resultado', width: 80 },
                { field: 'observaciones', title: 'Observaciones', editor: true, width: 150, align: 'center' },

            ],
            pager: { limit: 5 }

        });
        grid.on('rowDataChanged', function (e, id, record) {

            var data = $.extend(true, {}, record);
            $.ajax({
                url: '/herramientaTecnologica/Save1',
                data: { record: data },
                method: 'POST',
                success: function (data) {
                    location.reload();
                }
            })

                .fail(function () {
                    alert('Failed to save.');
                });

        });

    });



    function Save4() {

        var textBox1 = $('input:text[id$=id_herramienta_tec_med]').keyup();
        var value2 = textBox1.val();

        document.getElementById('resultado').style.display = 'block';

        var formData = new FormData($("form")[0]);

        formData.append("id_herramienta_tec_med", $("#id_herramienta_tec_med").val());
        formData.append("hallazgos", $("#hallazgos").val());

        $.ajax({

            url: "/herramientaTecnologica/SaveHallazgosT1",
            data: formData,
            method: 'POST',
            contentType: false,
            processData: false,
            success: function (response) {
                //document.getElementById('resultado').style.display = 'block';
                window.location = '@Url.Action("BuscarHerramienta", "herramientaTecnologica")'

            }

        })

            .fail(function () {
                alert('ERROR AL GUARDAR.');
                dialog2.close();
            });

    }

</script>

<style>
    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 150px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .mywidth {
        width: 35em;
        font-family: Verdana;
        font-size: 1em;
    }


    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 10px;
        margin: 9px;
        width: 900px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-size: 12px;
        font-weight: normal;
        padding: 8px;
        background: #212020;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #524e4e;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #1a23a3;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }
</style>



