@model List<ECOPETROL_COMMON.ENTIDADES.vw_odont_historia_clinica>
@{
    ViewBag.Title = "Listado de historias clínicas";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-primary_asalud">LISTADO DE HISTORIAS CLINICAS</strong>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-condensed" style="font-size:11px; width:100%;  margin:0px !important">
                <thead>
                    <tr>
                        <th>Odontologo auditado</th>
                        <th>Regional</th>
                        <th>Unis</th>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>Fecha digita</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (ECOPETROL_COMMON.ENTIDADES.vw_odont_historia_clinica item in Model)
                        {
                            <tr>
                                <td>@item.nom_odontologo_auditado.ToLower()</td>
                                <td>@item.regional</td>
                                <td>@item.nom_unis</td>
                                <td>@item.nom_mes</td>
                                <td>@item.año</td>
                                <td>@item.fecha_digita.Value.ToString("dd/MM/yyyy")</td>
                                <td class="text-center"><a class="btn button_Asalud_Aceptar btn-sm" href="@Url.Action("_PacientesHistoriasclinicas","Cambios",new { id_historia = item.id_odont_historia_clinica, modo = 1})">Ver pacientes</a></td>
                            </tr>
                        }
                    }else
                    {
                        <tr>
                            <td colspan="7" class="text-center">No se ha encontrado ninguna historia clínica con este id</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <div class="text-center form-group">
                <a role="button" href="@Url.Action("GestionHcOdontologia","Cambios")" class="btn button_Asalud_Rechazar btn-sm">Volver</a>
            </div>
        </div>
    </div>
</div>





<style>
    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }



    .letra {
        font-size: 15px;
        font-family: 'Century Gothic';
        color: #556da2;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }



    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    label {
        display: block;
        margin-bottom: 2px;
        font-family: 'Century Gothic';
    }

    .container {
        padding-left: 0px;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #556da2;
    }
</style>

