
@{
    ViewBag.Title = "MODIFICACIONES AUDITORIA HOSPITALARIA";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

@{ string alerta = (string)ViewData["alerta"];
    string idadmin = (string)ViewBag.idadmin;
    int rol = (int)ViewBag.rol;

}

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="font-family:'Century Gothic'">
            @if (!String.IsNullOrEmpty(alerta))
            {
                <p style="font-family:'Century Gothic'">@Html.Raw(alerta)</p>
            }
        </div>
    </div>
</div>


<div class="container">

    <input type="hidden" id="rol" value="@rol" />


    <ul class="nav nav-pills">

        @if (rol == 1)
        {
            <li class="active">
                <a href="#1b" id="tab1" data-toggle="tab">Cambio auditor paciente</a>
            </li>
            <li>
                <a href="#2b" id="tab2" data-toggle="tab">Eliminar egreso</a>
            </li>
            <li>
                <a href="#5b" id="tab5" data-toggle="tab">Cambiar fecha egreso</a>
            </li>
            <li>
                <a href='#3b' id="tab3" data-toggle="tab">Cambiar datos paciente</a>
            </li>
            <li>
                <a href='#4b' id="tab4" data-toggle="tab">Cambiar IPS</a>
            </li>
            <li>
                <a href='#6b' id="tab6" data-toggle="tab">Cambiar tipo estancia</a>
            </li>
        }

        @if (rol == 33)
        {
            <li class="active">
                <a href="#2b" id="tab2" data-toggle="tab">Eliminar egreso</a>
            </li>
            <li>
                <a href="#5b" id="tab5" data-toggle="tab">Cambiar fecha egreso</a>
            </li>
            <li>
                <a href='#4b' id="tab4" data-toggle="tab">Cambiar IPS</a>
            </li>
        }

    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="1b">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-primary_asalud">BUSCAR AUDITOR O INGRESAR DOCUMENTO DEL PACIENTE</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-5">
                            <label class="radio-inline">
                                <input type="radio" name="documento" id="documento" value="si" required onclick="mostrar1()">Auditor
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="documento" id="documento" value="si1" required onclick="mostrar()">Documento paciente
                            </label>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <br />

                    <form id="formulario" name="formulario" action="GestionAuditor" method="post" enctype="multipart/form-data">
                        <div class="row" id="pnlDocumento" style="display:none">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <label class="text-secondary_asalud">Numero documento paciente:</label><span style="color:red"></span>
                                <input type="text" class="form-control solo-numero" required name="numerodocumento" id="numerodocumento" maxlength="20" />
                            </div>
                            <div class="col-md-3">
                                <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                                <button class="button_Asalud_Guardar" id="btnguardar" type="button" onclick="ValidarFormulario()">BUSCAR</button>
                            </div>
                        </div>
                    </form>

                    <form id="formulario2" name="formulario2" action="GestionAuditor" method="post" enctype="multipart/form-data">
                        <div class="row" id="pnlAuditor" style="display:none">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <label class="text-secondary_asalud">Auditor :</label><span style="color:red"></span>
                                <select class="form-control select2" style="width:100%" required id="auditor" name="auditor">
                                    <option value="">- Seleccionar -</option>
                                    @foreach (ECOPETROL_COMMON.ENTIDADES.sis_usuario item in ViewBag.auditores)
                                    {
                                        <option value="@item.usuario">@item.nombre</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                                <button class="button_Asalud_Guardar" id="btnguardar" type="button" onclick="ValidarFormulario2()">BUSCAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="2b">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-primary_asalud">BUSCAR PACIENTE PARA LEVANTAR EGRESO</p>
                </div>
                <div class="panel-body">
                    <form id="formulario3" name="formulario3" action="GestionLevanteEgreso" method="post" enctype="multipart/form-data">
                        <div class="row" id="pnlDocumento">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <label class="text-secondary_asalud">Número documento paciente:</label><span style="color:red"></span>
                                <input type="text" class="form-control solo-numero" required name="numerodocumentoegreso" id="numerodocumentoegreso" maxlength="20" />
                            </div>
                            <div class="col-md-3">
                                <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                                <button class="button_Asalud_Guardar" id="btnguardar" type="button" onclick="ValidarFormulario3()">BUSCAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="3b">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-primary_asalud">MODIFICAR DATOS PACIENTE</p>
                </div>
                <div class="panel-body">
                    <form id="formulario4" name="formulario4" action="GestionCambioDatos" method="post" enctype="multipart/form-data">
                        <div class="row" id="pnlDocumento">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <label class="text-secondary_asalud">Numero documento paciente:</label><span style="color:red"></span>
                                <input type="text" class="form-control solo-numero" required name="numerodocumentopaciente" id="numerodocumentopaciente" maxlength="20" />
                            </div>
                            <div class="col-md-3">
                                <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                                <button class="button_Asalud_Guardar" id="btnguardar" type="button" onclick="ValidarFormulario4()">BUSCAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="4b">
            <br />
            @Html.Action("ActualizarIPS", "Concurrencia")
        </div>

        <div class="tab-pane" id="5b">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-primary_asalud">BUSCAR PACIENTE PARA EDITAR EGRESO</p>
                </div>
                <div class="panel-body">
                    <form id="formulario5" name="formulario5" action="ActualizarDatosEgreso" method="post" enctype="multipart/form-data">
                        <div class="row" id="pnlDocumento">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <label class="text-secondary_asalud">Número documento paciente:</label><span style="color:red"></span>
                                <input type="text" class="form-control solo-numero" required name="numerodocumentoegreso2" id="numerodocumentoegreso2" maxlength="20" />
                            </div>
                            <div class="col-md-3">
                                <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                                <button class="button_Asalud_Guardar" id="btnguardar" type="button" onclick="ValidarFormulario5()">BUSCAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="6b">
            <br />
            @Html.Action("ActualizarEstanciaEvolucion", "Cambios")
        </div>
    </div>
    </div>



<script src="~/Scripts/validate.js"></script>
<script>

    $(document).ready(function () {
        var rol = document.getElementById("rol").value

        if (rol == 33) {
            document.getElementById("1b").style.display = "none";
            $("#2b").addClass('active');
        }

    });


    function ValidarFormulario() {

        var validator = $("#formulario").validate();
        if (validator.form()) {
            $("#formulario").submit();
        }
    }

    function ValidarFormulario2() {

        var validator = $("#formulario2").validate();
        if (validator.form()) {
            $("#formulario2").submit();
        }
    }


    function ValidarFormulario3() {

        var validator = $("#formulario3").validate();
        if (validator.form()) {
            $("#formulario3").submit();
        }
    }


    function ValidarFormulario4() {

        var validator = $("#formulario4").validate();
        if (validator.form()) {
            $("#formulario4").submit();
        }
    }


    function ValidarFormulario5() {

        var validator = $("#formulario5").validate();
        if (validator.form()) {
            $("#formulario5").submit();
        }
    }

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%',
            height: '100%'
        });

        $(".dropdownlist").kendoDropDownList({
            width: '100%',
            filter: "contains",
            messages: {
                custom: function (input) {
                    return $(input).parents().find('label').text();
                }
            }
        });

        $(".datepickerr").kendoDatePicker({
            format: "MM/dd/yyyy"
        });

        $(".k-input").attr('readonly', true);
    })

    function mostrar() {

        document.getElementById('pnlDocumento').style.display = 'block';
        document.getElementById('pnlAuditor').style.display = 'none';



    };
    function mostrar1() {

        document.getElementById('pnlAuditor').style.display = 'block';
        document.getElementById('pnlDocumento').style.display = 'none';

    };



</script>


<style>
    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }



    .letra {
        font-size: 15px;
        font-family: 'Century Gothic';
        color: #556da2;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }



    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    label {
        display: block;
        margin-bottom: 2px;
        font-family: 'Century Gothic';
    }

    .container {
        padding-left: 0px;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #556da2;
    }
</style>
