@model AsaludEcopetrol.Models.MorNatSinConcurrencia.MorNatSinConcurrencia
@{
    ViewBag.Title = "BUSCAR USUARIO";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />


@using (Html.BeginForm())
{

    @*<div>
            <table align="center" width="700" style="color:#ffffff; background: #2E64FE;">
                <tr>
                    <td class="text-center">
                        <Label>BUSQUEDA USUARIO</Label>
                    </td>
                </tr>
            </table>
        </div>*@
    <div id="pnlPrincipal" class="General">

        <table align="center">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
              
                    <td>
                        @Html.RadioButtonFor(model => model.Items, "1", new { @onclick = "mostrar()" })
                        @Html.Label("REPORTE NATALIDAD")
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        @Html.RadioButtonFor(model => model.Items, "2", new { @onclick = "mostrar()" })
                        @Html.Label("REPORTE MORTALIDAD")
                    </td>
               
            </tr>
        </table>
    </div>
    <div id='pnlBusquedaDocumento' style='display:none;'  class="General">
        <table align="center">
            <tr>
                <td>
                    <h4><span class="text-secondary_asalud">@Html.Label("TIPO IDENTIFICACIÒN")</span></h4>
                </td>
                <td>&nbsp;</td>
                <td>
                    @Html.DropDownListFor(model => model.IdSeleccionado, new SelectList(Model.ListTipoDocumento, "id_ref_tipo_documental", "descripcion"), "Seleccione...", new { @class = "form-control" })

                </td>
                <td>&nbsp;</td>
                <td class="Error">
                    @Html.ValidationMessageFor(u => u.IdSeleccionado, null, new { @class = "label label-danger" })

                </td>
                <td>&nbsp;</td>
                <td>
                    <h4><span class="text-secondary_asalud">@Html.Label("NUMERO IDENTIFICACIÒN")</span></h4>

                </td>
                <td>&nbsp;</td>
                <td>

                    @Html.TextBoxFor(p => p.afi_NumDoc, new { @class = "form-control" })
                </td>
                <td>&nbsp;</td>
                <td class="Error">
                    @Html.ValidationMessageFor(u => u.afi_NumDoc, null, new { @class = "label label-danger" })
                </td>
                <td>&nbsp;</td>

                <td>
                    <input id="BtnBuscarDocumento" type="submit" value="BUSCAR" class="btn btn-success" />
                </td>
            </tr>
        </table>


    </div>
    
    <div>
        <table align="center">
            <tr>
                <td class="Error">
                    @Html.ValidationSummary(true, "")
                </td>
            </tr>

        </table>

    </div>
       
}

<script type="text/javascript">

    function mostrar() {

        document.getElementById('pnlBusquedaDocumento').style.display = 'block';
      
    };
    
    
</script>
<style>
    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>




