@using Kendo.Mvc.UI;
@model AsaludEcopetrol.Models.MorNatSinConcurrencia.MorNatSinConcurrencia

@{
    ViewBag.Title = "MORTALIDAD";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}
<br>

@using (Html.BeginForm())
{

    <div class="container">

        <div class="General">
            <table border="1" align="center" width="600">

                @if (Model != null && Model.ListBase != null && Model.ListBase.Count > 0)
                {

                    foreach (var item in Model.ListBase)
                    {
                        Model.afi_Nom = Convert.ToString(item.Nombre + ' ' + item.Apellidos);
                    }

                }

            </table>
        </div>

        <form id="frm-alumno">


            <div class="row">

                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.afi_tipoDoc)</span></h4>
                    @Html.DropDownListFor(model => model.afi_tipoDoc, new SelectList(Model.ListTipoDocumento, "id_ref_tipo_documental", "descripcion"), "Seleccione...", new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(u => u.afi_tipoDoc, null, new { @class = "label label-danger" })
                </div>

                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.afi_NumDoc)</span></h4>
                    @Html.TextBoxFor(p => p.afi_NumDoc, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(u => u.afi_NumDoc, null, new { @class = "label label-danger" })
                </div>

                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.afi_Nom)</span></h4>
                    @Html.TextBoxFor(p => p.afi_Nom, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(u => u.afi_Nom, null, new { @class = "label label-danger" })
                </div>


            </div>


            <div class="row">
                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.NumeroDefuncion)</span></h4>
                    @Html.TextBoxFor(p => p.NumeroDefuncion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.NumeroDefuncion, null, new { @class = "label label-danger" })
                </div>

                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.HoraDefuncion)</span></h4>
                    @Html.TextBoxFor(p => p.HoraDefuncion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.HoraDefuncion, null, new { @class = "label label-danger" })
                </div>

                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.fecha_de_muerte)</span></h4>
                    @(Html.Kendo().DateTimePickerFor(p => p.fecha_de_muerte)
                             .Name("datepicker2")
                            .Format("dd/MM/yyyy")
                             .Events(e =>
                             {
                                 e.Change("change2");
                             })
                            .HtmlAttributes(new { style = "width: 70%", title = "Vigencia desde" })


                    )
                    @Html.ValidationMessageFor(u => u.fecha_de_muerte, null, new { @class = "label label-danger" })
                </div>

            </div>

            <div class="row">
                <div class="col-sm-8">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.Observacion)</span></h4>
                    @Html.TextAreaFor(p => p.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Observacion, null, new { @class = "label label-danger" })
                </div>

                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.fecha_exp_cedula_fallecido)</span></h4>
                    @(Html.Kendo().DateTimePickerFor(p => p.fecha_exp_cedula_fallecido)
                             .Name("datepicker4")
                             .Format("dd/MM/yyyy")
                             .Events(e =>
                             {
                                 e.Change("change4");
                             })
                            .HtmlAttributes(new { style = "width: 70%", title = "Vigencia desde" })

                    )


                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.diag_causa_directa_muerte)</span></h4>
                    @(Html.Kendo().AutoComplete()
                                    .Name("dx2")
                                    .Placeholder("Seleccione...")
                                    .HtmlAttributes(new { style = "width:300px" })
                                    .DataTextField("des")
                                    .Events(events => events.Select("CustomerSelect3"))
                                    .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCie10", "Concurrencia");
                                        });

                                    })
                    )
                    @Html.HiddenFor(x => x.diag_causa_directa_muerte)

                    @Html.ValidationMessageFor(p => p.diag_causa_directa_muerte, null, new { @class = "label label-danger" })
                </div>

                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.diag_causa_basica_muerte)</span></h4>
                    @(Html.Kendo().AutoComplete()
                                    .Name("dx3")
                                    .Placeholder("Seleccione...")
                                    .HtmlAttributes(new { style = "width:300px" })
                                    .DataTextField("des")
                                    .Events(events => events.Select("CustomerSelect4"))
                                    .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCie10", "Concurrencia");
                                        });

                                    })
                    )
                    @Html.HiddenFor(x => x.diag_causa_basica_muerte)

                    @Html.ValidationMessageFor(p => p.diag_causa_basica_muerte, null, new { @class = "label label-danger" })

                </div>
 

         
                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.diag_causa_antecedente_muerte)</span></h4>
                    @(Html.Kendo().AutoComplete()
                                    .Name("dx4")
                                    .Placeholder("Seleccione...")
                                    .HtmlAttributes(new { style = "width:300px" })
                                    .DataTextField("des")
                                    .Events(events => events.Select("CustomerSelect5"))
                                    .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCie10", "Concurrencia");
                                        });

                                    })
                    )
                    @Html.HiddenFor(x => x.diag_causa_antecedente_muerte)

                    @Html.ValidationMessageFor(p => p.diag_causa_antecedente_muerte, null, new { @class = "label label-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">

                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.nom_ips)</span></h4>
                    @Html.TextBoxFor(p => p.nom_ips, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.nom_ips, null, new { @class = "label label-danger" })
                </div>
                <div class="col-sm-4">
                    <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.id_ciudad)</span></h4>

                    @(Html.Kendo().AutoComplete()
                                    .Name("dx6")
                                    .Placeholder("Seleccione...")
                                    .HtmlAttributes(new { style = "width:300px" })
                                    .DataTextField("nom")
                                    .Events(events => events.Select("CustomerSelect6"))
                                    .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCiudadesTotal", "MorNatSinCon");
                                        });

                                    })
                    )
                    @Html.HiddenFor(x => x.id_ciudad)
                    @Html.ValidationMessageFor(u => u.id_ciudad, null, new { @class = "label label-danger" })
                </div>

                <div class="col-sm-4">

                </div>

            </div>

            <div id="pnlGuardar" class="General">
                <table align="left">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="BtnActualizar" type="submit" value="INGRESAR" class="btn btn-success" />
                        </td>
                    </tr>
                    <tr>
                        <td class="Error">
                            @Html.ValidationSummary(true, "")
                        </td>
                    </tr>

                    <tr>
                        <td style="display:none">
                            @Html.TextBoxFor(u => u.afi_NumDoc)
                            @Html.TextBoxFor(u => u.fecha_de_muerteok)
                            @Html.TextBoxFor(u => u.fecha_exp_cedula_fallecidook)

                        </td>
                        <td></td>
                    </tr>


                </table>

            </div>
        </form>
    </div>

}


<script type="text/javascript">


    $(document).ready(function () {

        $('#datepicker2').attr('disabled', 'disabled');

    });

    function change2() {
        var DataItem = (kendo.toString(this.value(), 'd'));

        $('input:text[id$=fecha_de_muerteok]').val(DataItem);

    }


    $(document).ready(function () {

        $('#datepicker4').attr('disabled', 'disabled');

    });

    function change4() {
        var DataItem = (kendo.toString(this.value(), 'd'));

        $('input:text[id$=fecha_exp_cedula_fallecidook]').val(DataItem);

    }

    function CustomerSelect3(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#diag_causa_directa_muerte").val(DataItem.id_cie10);
    }
    function CustomerSelect4(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#diag_causa_basica_muerte").val(DataItem.id_cie10);
    }
    function CustomerSelect5(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#diag_causa_antecedente_muerte").val(DataItem.id_cie10);
    }

    function CustomerSelect6(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#id_ciudad").val(DataItem.id_ciu);
    }


</script>

<style>
    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>








