
@{
    ViewBag.Title = "REPORTES TRATAMIENTOS TERMINADOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}
<br />

<div class="tab-content">


    <div class="tab-pane active" id="1b">
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary_asalud">Filtros de busqueda</strong>
            </div>

            <div class="panel-body" id="panel_formulario">
                <form class="animated fadeInDown" id="formulario">
                    <div class="row">

                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Tipo tratamiento</label>
                            <select class="form-control select2" required id="chktipotratamiento" name="tipotratamiento">
                                <option value="" selected="selected">- Seleccionar -</option>
                                @foreach (var item in ViewBag.tratamiento)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Documento identidad</label>
                            <input type="text" class="form-control solo-numero solo-numero2 solo-numero3 " maxlength="18" required name="documento" id="documento" />
                        </div>

                        <div class="col-sm-3 form-group">

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-12 form-group">
                            <button class="btn button_Asalud_Aceptar" type="button" onclick="ValidarFormulario()">Buscar</button>
                        </div>
                    </div>

                    <table class="table table-hover display table-striped table-condensed table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Regional</th>
                                <th>Unis</th>
                                <th>Documento</th>
                                <th>Nombre</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody id="tbodytbl">

                            @foreach (ECOPETROL_COMMON.ENTIDADES.vw_reportesTratamientosUnificados item in ViewBag.historico)
                            {

                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.regional </td>
                                    <td>@item.unis</td>
                                    <td>@item.documento</td>
                                    <td>@item.nombre</td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="display:none">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/validate.js"></script>
<script>

    $(document).ready(function () {
        $('.select2').select2({
            width: '100%'
        });

        $(".datepickerr").kendoDatePicker({
            format: "MM/dd/yyyy",
        });
        $(".k-input").attr('readonly', true);




    })

    function ValidarFormulario() {
        var validator = $("#formulario").validate();
        if (validator.form()) {
            GuardarDatos();
        }
    }

    function GuardarDatos() {

         var formData = new FormData($("form")[0]);

        formData.append("id", $("#chktipotratamiento").val());
        formData.append("tipo", $("#documento").val());


        LoadingShow();
        $.ajax({
            url: "@Url.Action("BuscarReporteTratamientos", "odontologia")",
            type: "post",
            data: formData,
            method: 'POST',
            contentType: false,
            processData: false,

            success: function (data)
            {
                LoadingHide();
                $("#tbodytbl").empty();
                $("#tbodytbl").html(data);
            }
        })
    }

    function CargarUnis(a) {
        var regional = a;
        if (regional != "") {
            $.ajax({
                url: "@Url.Action("GetCascadeUnis", "odontologia")",
                type: "post",
                data: { regional: regional },
                success: function (data) {
                    $("#cbxunis").empty();
                    $("#cbxunis2").empty();
                    $("#cbxunis").append("<option value=''> - Seleccionar - </option>");
                    $("#cbxunis2").append("<option value=''> - Seleccionar - </option>");
                    data.forEach(function (b) {
                        $("#cbxunis").append("<option value='" + b.id_ref_unis + "'>" + b.nombre + "</option>");
                        $("#cbxunis2").append("<option value='" + b.id_ref_unis + "'>" + b.nombre + "</option>");
                    });

                }
            })
        }

    }

    function CargarLocalidades(a)
    {
        var unis = a;
        if (unis != "") {
            $.ajax({
                url: "@Url.Action("GetCascadeLocalidades", "odontologia")",
                type: "post",
                data: { unis: unis },
                success: function (data) {
                    $("#cbxlocalidad").empty();
                    $("#cbxlocalidad2").empty();
                    $("#cbxlocalidad").append("<option value=''> - Seleccionar - </option>");
                    $("#cbxlocalidad2").append("<option value=''> - Seleccionar - </option>");
                    data.forEach(function (b) {
                        $("#cbxlocalidad").append("<option value='" + b.id_ref_ciudades + "'>" + b.nombre_localidad + "</option>");
                        $("#cbxlocalidad2").append("<option value='" + b.id_ref_ciudades + "'>" + b.nombre_localidad + "</option>");
                    })
                }
            })
        }
    }

</script>

<style>
    .big-checkbox {
        width: 20px;
        height: 30px;
    }

    .control-label {
        font-size: 15px;
        color: #357ebd;
    }

    .letra {
        font-size: 15px;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .control-label {
        font-size: 15px;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .showErroneos {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .cortinilla {
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .ventana {
        width: 15%;
        height: 25%;
        padding: 1%;
        background-image: url(../../Resources/cargando.gif);
        background-size: 100% 100%;
        top: 40%;
        left: 42.5%;
        position: relative;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    label {
        display: block;
        margin-bottom: 2px;
    }
</style>



