@model AsaludEcopetrol.Models.Odontologia.PlanMejora
@{
    ViewBag.Title = "PLAN DE MEJORA BENEFICIARIO - TABLERO DE CONTROL";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />

<div class="row">
    <div class="col-sm-12 table-responsive">
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DOCUMENTO</th>
                    <th>NOMBRE</th>
                    <th>FECHA INGRESO</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListPLanBeneficiario)
                {
                <tr>
                    <td>@item.id_odont_plan_mejora_beneficiario</td>
                    <td>@item.documento_beneficiario</td>
                    <td>@item.NOMBRE</td>
                    <td>@item.fecha_ingreso.Value.ToString("dd/MM/yyyy")</td>

                    <td class="text-center">
                        <a role="button" class="btn btn-success btn-sm" href="@Url.Action("PlandeMejoraBeneficiario", "odontologia", new {id = item.id_odont_plan_mejora_beneficiario })">Ver plan de mejora &nbsp;<i class="glyphicon glyphicon-check"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>

    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 150px;
    }

    .TamañoImag {
        height: 150px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .mywidth {
        width: 35em;
        font-family: Verdana;
        font-size: 1em;
    }


    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .gj-dialog-md-close span {
        display: none;
    }
</style>



