
@model List<ECOPETROL_COMMON.ENTIDADES.management_medicamentosDispen_consolidadoIdResult>
@{
    Layout = null;
    var i = 0;
}
<div class="panel-heading">
    <strong class="text-primary_asalud">Consolidado</strong>
</div>
<div class="table-responsive">
    <table class="consolidado table table-bordered" style="font-size:10px; width:98%;">
        <thead>
            <tr>
                <th>Ítem</th>
                <th>Dependencia salud</th>
                <th>Ciudad beneficiario</th>
                <th>Ciudad despacho</th>
                <th>Unis</th>
                <th>Código comercial</th>
                <th>Nombre medicamento DCI</th>
                <th>Valor total</th>
            </tr>
        </thead>
        <tbody style="height:80px; overflow:auto;">
            @foreach (ECOPETROL_COMMON.ENTIDADES.management_medicamentosDispen_consolidadoIdResult item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.dependencia_salud</td>
                    <td>@item.ciudad_beneficiario</td>
                    <td>@item.ciudad_despacho</td>
                    <td>@item.unis</td>
                    <td>@item.cod_comercial</td>
                    <td>@item.nom_medicamento_DCI</td>
                    <td>@item.valor_total_entrega</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('.consolidado').DataTable({
            "sSearch": "Buscar:",
            "searching": true,
            "iDisplayLength": 20,
            "lengthChange": false,
            "info": false,
            responsive: true,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    });

</script>

