@model AsaludEcopetrol.Models.Urgencias.Urgencias
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "BUSCAR URGENCIAS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

@{ string alerta = (string)ViewData["alerta"];
    string idadmin = (string)ViewBag.idadmin;
}

@using (Html.BeginForm())
{
    <div class="container">
        <div>

            @if (!String.IsNullOrEmpty(alerta))
            {
                @Html.Raw(alerta);
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary_asalud">BUSCAR</strong>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.fecha_desde)</span></h5>
                        @(Html.Kendo().DateTimePickerFor(p => p.fecha_desde)
              .Name("datepicker1")
              .Format("dd/MM/yyyy")
              .Events(e =>
              {
                  e.Change("change1");
              })
              .HtmlAttributes(new { style = "width: 95%", title = "Vigencia desde" })
                )
                        @Html.ValidationMessageFor(u => u.fecha_desde, null, new { @class = "label label-danger" })
                    </div>

                    <div class="col-sm-4">
                        <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.fecha_hasta)</span></h5>
                        @(Html.Kendo().DateTimePickerFor(p => p.fecha_hasta)
              .Name("datepicker2")
              .Format("dd/MM/yyyy")
              .Events(e =>
              {
                  e.Change("change2");
              })
              .HtmlAttributes(new { style = "width: 95%", title = "Vigencia desde" })
                )
                        @Html.ValidationMessageFor(u => u.fecha_hasta, null, new { @class = "label label-danger" })
                    </div>
                    <div class="col-sm-4">
                        <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.regional)</span></h5>
                        @Html.DropDownListFor(model => model.regional, new SelectList(Model.RefRegional, "indice", "nombre_regional"), "Seleccione...", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(u => u.regional, null, new { @class = "label label-danger" })
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input id="BtnActualizar" type="submit" value="BUSCAR" class="btn button_Asalud_Aceptar" />
                    </div>
                </div>

                <div class="hidden">
                    @Html.TextBoxFor(u => u.fecha_desdeOK)
                    @Html.TextBoxFor(u => u.fecha_hastaOK)
                    @Html.TextBoxFor(u => u.regional)
                </div>
            </div>
        </div>
    </div>
    <br />
}

<script type="text/javascript">

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%'
        });

        $('#datepicker1').attr('disabled', 'disabled');
        $('#datepicker2').attr('disabled', 'disabled');

    });

    function change1() {
        var DataItem = (kendo.toString(this.value(), 'd'));

        $('input:text[id$=fecha_desdeOK]').val(DataItem);

    }

     function change2() {
        var DataItem = (kendo.toString(this.value(), 'd'));

        $('input:text[id$=fecha_hastaOK]').val(DataItem);

    }


    $(document).ready(function () {

        if ('@ViewBag.regional' != '') {
            $("#regional").val('@ViewBag.regional');
        }
    })


     function llamarVistaParcial(AI) {

        var laURLDeLaVista = '@Url.Action("_TableroUrgencias")?ID=' + AI
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {},
            success: function (response) {
                $('#resultado').html('');
                $('#resultado').html(response);
            }
        });
    }


      // PAGINAR//
        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 7,
                    showPrevNext: false,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
            }

            var curr = 0;
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.showPrevNext) {
                $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.prev_link').hide();
            if (numPages <= 1) {
                pager.find('.next_link').hide();
            }
            pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .prev_link').click(function () {
                previous();
                return false;
            });
            pager.find('li .next_link').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.next_link').show();
                }
                else {
                    pager.find('.next_link').hide();
                }

                pager.data("curr", page);
                pager.children().removeClass("active");
                pager.children().eq(page + 1).addClass("active");

            }
        };
        $(document).ready(function () {

            $('#myTable').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 15 });

        });

        //FILTRO TABLA//
        var busqueda = document.getElementById('buscar');
        var table = document.getElementById("tabla").tBodies[0];

        buscaTabla = function () {
            texto = busqueda.value.toLowerCase();
            var r = 0;
            while (row = table.rows[r++]) {
                if (row.innerText.toLowerCase().indexOf(texto) !== -1)
                    row.style.display = null;
                else
                    row.style.display = 'none';
            }
        }

        busqueda.addEventListener('keyup', buscaTabla);





</script>

<style>
    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }
    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }


    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>
