
<div class="container">
    <div class="row">
        <a href="javascript:FiltrarPorColor(1)" role="button">
            <div class="notice col-sm-2 alert-warning notice-warning "><strong>@ViewBag.pendientePresentacion</strong> Pendiente por presentar</div>
        </a>
        <a href="javascript:FiltrarPorColor(2)" role="button">
            <div class="notice col-sm-2 alert-gestionar notice-gestionar"><strong>@ViewBag.pendienteGestion</strong> Pendiente por gestionar</div>
        </a>
        <a href="javascript:FiltrarPorColor(3)" role="button">
            <div class="notice col-sm-2 alert-success notice-success"><strong>@ViewBag.Oportunos</strong> Oportuno</div>
        </a>
        <a href="javascript:FiltrarPorColor(4)" role="button">
            <div class="notice col-sm-2 alert-danger notice-danger"><strong>@ViewBag.Inoportunos</strong> Inoportuno</div>
        </a>
        <a href="javascript:FiltrarPorColor(5)" role="button">
            <div class="notice col-sm-3 alert-info  notice-info"><strong>@ViewBag.fechaLimiteAmpliada</strong> Inoportuno con justificación</div>
        </a>
    </div>
</div>

