
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <a href="javascript:FiltrarPorColor(1)" role="button">
            <div class="notice col-sm-2 alert-success notice-success"><strong>@ViewBag.oportunos</strong> En tiempos</div>
        </a>
        <a href="javascript:FiltrarPorColor(2)" role="button">
            <div class="notice col-sm-2 alert-warning notice-warning "><strong>@ViewBag.proximosavencer</strong> Próximos a vencer</div>
        </a>
        <a href="javascript:FiltrarPorColor(3)" role="button">
            <div class="notice col-sm-2 alert-danger notice-danger"><strong>@ViewBag.vencidos</strong> Vencido</div>
        </a>
        <a href="javascript:FiltrarPorColor(4)" role="button">
            <div class="notice col-sm-2 alert-observaciones  notice-danger-pro"><strong>@ViewBag.fechaLimiteAmpliada</strong> Fecha límite ampliada</div>
        </a>
        <a href="javascript:FiltrarPorColor(5)" role="button">
            <div class="notice col-sm-2 alert-info  notice-danger-pro"><strong>@ViewBag.aceptados</strong> Aceptados</div>
        </a>
    </div>
</div>

<style>
    .notice {
        margin: 0.2%;
        padding: 10px;
        border-left: 6px solid #7f7f84;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    }

    .notice-sm {
        padding: 10px;
        font-size: 80%;
    }

    .notice-lg {
        padding: 35px;
        font-size: large;
    }

    .notice-success {
        border-color: #80D651;
    }

        .notice-success > strong {
            color: #80D651;
        }

    .notice-info {
        border-color: #45ABCD;
    }

        .notice-info > strong {
            color: #45ABCD;
        }

    .notice-warning {
        border-color: #FEAF20;
    }

        .notice-warning > strong {
            color: #FEAF20;
        }

    .notice-danger {
        border-color: #d73814;
    }

        .notice-danger > strong {
            color: #d73814;
        }

    .notice-danger-pro {
        border-color: #5086c1;
    }

        .notice-danger-pro > strong {
            color: #5086c1;
        }
</style>