@using Kendo.Mvc.UI;
@model AsaludEcopetrol.Models.GestorDocumental.GestorDocumental
@{
    ViewBag.Title = "CARGUE DOCUMENTO";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />
@using (Html.BeginForm())
{
    if (Model.GestionMd.Count > 0)
    {
        <table class="table table-bordered">
            <tbody>
                <tr>

                    <th class="text-center th">ID</th>
                    <th class="text-center th">TRIMESTRE</th>
                    <th class="text-center th">FECHA VISITA</th>
                    <th class="text-center th">PROVEEDOR</th>
                    <th class="text-center th">PUNTO FARMACEUTICO</th>
                  
                    <th class="text-center th"></th>

                </tr>

                @foreach (var order in Model.GestionMd)
                {

                    <tr>

                        <td>@order.ID</td>
                        <td>@order.TRIMESTRE</td>
                        <td>@order.FECHA_VISITA</td>
                        <td>@order.nombre_auditado</td>
                        <td>@order.nombre_farmacia</td>

                        <td>
                            <a class="btn btn-primary" href="@Url.Action("SubirdocumentoMedCalidad", "GestorDocumental", new { id = order.ID, proceso = 3, numero_proveedor = Model.numero_proveedor, tipo = 3 })">
                                CARGAR DOCUMENTO
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

    <div style="display:none">

        @Html.TextBoxFor(u => u.numero_proveedor)


    </div>
}

<script type="text/javascript">

  

</script>
<style>
    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }



    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }


    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }


    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 11px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-size: 12px;
        font-weight: normal;
        padding: 8px;
        background: #212020;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #1a23a3;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }
</style>


