@model  AsaludEcopetrol.Models.GestorDocumental.GestorDocumental
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "COMUNICACIONES";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}
@{ string alerta = (string)ViewData["alerta"];
    string idadmin = (string)ViewBag.idadmin;
}

<br />

<div class="tab-content">

    <div class="alert alert-success" id="pnlExito" style="display:none">
        <strong>Éxito!</strong>
        <input style="color:blue" type="text" class="form-control" name="msgex" id="msgex" />

    </div>

    <div class="alert alert-danger" id="pnlError" style="display:none">
        <strong>Error!</strong>
        <input style="color:firebrick" type="text" class="form-control" name="msgerr" id="msgerr" required />
    </div>


    <div class="tab-pane active" id="1b">
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary_asalud">Ingreso Comunicado</strong>
            </div>

            <div class="panel-body" id="panel_formulario">
                <form id="formulario" class="animated fadeInDown">

                    <div class="row">

                        <div class="col-sm-4 form-group">
                            <label class="control-label text-primary">Dirigido</label>
                            <select class="form-control select2" onchange="CargarpuntosDispensacion($(this).val())" required id="id_com_digirido" name="id_com_digirido">
                                <option value="">- Seleccionar -</option>
                                @foreach (ECOPETROL_COMMON.ENTIDADES.md_Ref_com_dirigido item in ViewBag.dirigido)
                                {
                                    <option value="@item.id_ref_com_dirigido">@item.nombre_dirigido</option>
                                }

                            </select>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label class="control-label text-primary">Punto dispensación</label>
                            <select class="form-control select2" required id="id_puntos_dispensacion" name="id_puntos_dispensacion">
                                <option value="">- Seleccionar -</option>
                            </select>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="control-label text-primary">Tipo</label>
                            <select class="form-control select2" required id="id_com_tipo" name="id_com_tipo">
                                <option value="">- Seleccionar -</option>
                                @foreach (ECOPETROL_COMMON.ENTIDADES.md_Ref_com_tipo item in ViewBag.tipo)
                                {
                                    <option value="@item.id_ref_com_tipo">@item.des_tipo</option>
                                }

                            </select>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-sm-4 form-group">
                            <label class="control-label text-primary">Fecha</label>
                            <input class="datepickerr" value="" title="Este Campo es Obligatorio *" style="width:100%" name="fecha_coOK" id="fecha_coOK" required autocomplete="off" />

                        </div>

                        <div class="col-sm-4 form-group">
                            <label class="control-label text-primary">Seleccione PDF</label>
                            <input type="file" name="file" id="file" class="form-control" multiple required />
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="control-label text-primary">Observaciones</label>
                            <input type="text" maxlength="100" class="form-control" name="observaciones_comunicado" id="observaciones_comunicado" required />
                        </div>


                    </div>


                    <div class="row">

                        <div class="col-sm-12">
                            <button class="btn btn-primary" type="button" onclick="ValidarFormulario()">Cargar</button>

                        </div>
                    </div>

                    <div style="display:none">
                        <input class="form-control" type="text" name="alerta" id="alerta" required />
                    </div>

                </form>
            </div>
        </div>

    </div>

</div>





<script src="~/Scripts/validate.js"></script>
<script>

    function ValidarFormulario() {
        var validator = $("#formulario").validate();
        if (validator.form()) {

            GuardarDatos();
        }
    }

     function GuardarDatos() {

         var formData = new FormData($("form")[0]);

        formData.append("file", $("input[type=file]")[0].files[0]);
        formData.append("id_ref_com_dirigido", $("#id_com_digirido").val());
        formData.append("id_ref_puntos_dispersacion", $("#id_puntos_dispensacion").val());
        formData.append("id_ref_com_tipo",$("#id_com_tipo").val());
        formData.append("observaciones", $("#observaciones_comunicado").val());
        formData.append("fecha", $("#fecha_coOK").val());


        LoadingShow();
        $.ajax({
            url: "@Url.Action("SaveComunicaciones", "GestorDocumental")",
            type: "post",
            data: formData,
            method: 'POST',
            contentType: false,
            processData: false,

            success: function (response) {

                 if (response.success)
                {
                     LoadingHide();
                     //document.getElementById('pnlExito').style.display = 'block';
                     //document.getElementById('pnlError').style.display = 'none';
                     //$("#file").val("");
                     //$('input:text[id$=msgex]').val(response.message);
                     //$("#id_com_digirido").val("");
                     //$("#id_puntos_dispensacion").val("");
                     //$("#id_com_tipo").val("");
                     //$("#observaciones_comunicado").val("");
                     //$("#fecha_coOK").val("");

                    alert(response.message);
                    location.reload();

                }
                else
                {
                     //alert(response.message);
                     LoadingHide();
                     //document.getElementById('pnlError').style.display = 'block';
                     //document.getElementById('pnlExito').style.display = 'none';
                     //$('input:text[id$=msgerr]').val(response.message);
                     //$("#file").val("");
                    

                }

            }
        })
    }

    $(document).ready(function () {

         $('.select2').select2({
            width: '100%'
        });

        $(".datepickerr").kendoDatePicker({
            format: "MM/dd/yyyy",
        });
        $(".k-input").attr('readonly', true);


    })


     $("#file").change(function () {

            var data = document.getElementById('file');
            var nameext = data.files[0].name;
            var extension = getFileExtension3(nameext);

            var listaextensiones = ["pdf"];
            var valida = false;

            jQuery.each(listaextensiones, function (i, val) {
                if (extension == val) {
                    valida = true;
                }
            });

            if (valida == false) {
                alert("La extension no es valida seleccione un PDF");
                $("#file").val("");
            }

     });
     function getFileExtension3(filename) {
        return filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2);
    }

     function CargarpuntosDispensacion(a) {
        var dirigido = a;
        if (dirigido != "") {
            $.ajax({
                url: "@Url.Action("GetCascadePuntosDispensacion", "GestorDocumental")",
                type: "post",
                data: { dirigido: dirigido },
                success: function (data) {
                    $("#id_puntos_dispensacion").empty();
                    $("#id_puntos_dispensacion").append("<option value=''> - Seleccionar - </option>");

                    data.forEach(function (b) {
                        $("#id_puntos_dispensacion").append("<option value='" + b.PuntosID + "'>" + b.PuntosName + "</option>");

                    });

                }
            })
        }

    }

</script>

<style>
    .big-checkbox {
        width: 20px;
        height: 30px;
    }

    .control-label {
        font-size: 15px;
        color: #357ebd;
    }

    .letra {
        font-size: 15px;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .control-label {
        font-size: 15px;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .showErroneos {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .cortinilla {
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .ventana {
        width: 15%;
        height: 25%;
        padding: 1%;
        background-image: url(../../Resources/cargando.gif);
        background-size: 100% 100%;
        top: 40%;
        left: 42.5%;
        position: relative;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    #table2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 10px;
        margin: 7px;
        width: 990px;
        text-align: left;
        border-collapse: collapse;
    }


        #table2 th {
            font-size: 12px;
            font-weight: normal;
            padding: 8px;
            background: #9598A0;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #524e4e;
        }

        #table2 td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #000000;
            border-top: 1px solid transparent;
        }

    label {
        display: block;
        margin-bottom: 2px;
    }
</style>