@model  AsaludEcopetrol.Models.GestorDocumental.GestorDocumental
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "ELIMINAR MEDICAMENTOS CALIDAD";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />
@using (Html.BeginForm())
{

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="text-center th">ID</th>
                <th class="text-center th">CARGUE FECHA</th>
                <th class="text-center th">OBSERVACIONES</th>
                <th class="text-center th">RUTA</th>

                <th class="text-center th"></th>
                <th class="text-center th"></th>

            </tr>

            @foreach (var order in Model.GetCalidadDetalle)
                {

                <tr>
                    <td>@order.id_md_indicador_detalle</td>
                    <td>@order.cargue_fecha</td>
                    <td>@order.obs</td>
                    <td>@order.ruta</td>

                    <td>
                        <h5> <a href="#" class="btn btn-primary" onclick="javascript:window.open('@Url.Action("GestorDocsCal", "GestorDocumental" , new { Ruta = @order.ruta  })','','width=700,height =500,left =50,top =50,toolbar =yes');">VER DOCUMENTO</a></h5>
                    </td>
                    <td>
                     @*   <h5> <a href="#" class="btn btn-primary" onclick="javascript:window.open('@Url.Action("GestorElimDocsCal", "GestorDocumental" , new {id = @order.id_gestion_documental__medicamentos_cad, Ruta = @order.ruta  })','','width=700,height =500,left =50,top =50,toolbar =yes');">ELIMINAR DOCUMENTO</a></h5>*@
                        @Html.ActionLink("Eliminar", "GestorElimDocsCal", "GestorDocumental", new { id = @order.id_gestion_documental__medicamentos_cad, Ruta = @order.ruta, idM = @order.id_indicadores_medicamentos, proveedor = Model.numero_proveedor }, null)
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <div style="display:none">

        @Html.TextBoxFor(u => u.id_indicadores_medicamentos)
        @Html.TextBoxFor(u => u.numero_proveedor)

    </div>
}

<script type="text/javascript">



</script>
<style>
    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }



    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }


    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }


    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 11px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-size: 12px;
        font-weight: normal;
        padding: 8px;
        background: #212020;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #1a23a3;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }
</style>




