@model List<ECOPETROL_COMMON.ENTIDADES.vw_odont_tableros_ProtesisRemov>
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "TABLERO PROTESIS REMOVIBLE";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

@{
    string FechaInicio = (string)ViewData["FechaIncio"];
    string FechaFinal = (string)ViewData["FechaFinal"];
    Int32 regional = (Int32)ViewData["regional"];
    Int32 unis = (Int32)ViewData["unis"];
    Int32 localidad = (Int32)ViewData["localidad"];
    string especilista = (string)ViewData["especialista"];
    Int32 documento = (Int32)ViewData["documento"];
    Int32 tiempotratante = (Int32)ViewData["tiempotratante"];

}



<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />

<br />

<div class="container">

    <div>
        <table align="center" width="100%" style="color:#ffffff; background: #2E64FE;">
            <tr>
                <td class="text-center" style="font-size:small">
                    <Label>FILTROS DE BUSQUEDA</Label>
                </td>
            </tr>
        </table>
    </div>
    <form id="formbuscador" method="post" enctype="multipart/form-data" action="TableroControlProtesisRemovible">
        <div class="row">

            <div class="col-sm-2 row">
                <h4><span class="label label-default">Fecha Desde:</span></h4>
                @(Html.Kendo().DatePicker()
                    .Name("fecha1")
                    .Value(FechaInicio)
                    .Format("dd/MM/yyyy")
                    .Events(e =>
                    {
                        e.Change("SetFechaInicial");
                    })
                    .HtmlAttributes(new { style = "width: 100%", title = "Fecha Desde" })
                )
                <input type="hidden" id="txtfechainicial" name="FechaIncio" />
            </div>
            <div class="col-sm-2">
                <h4><span class="label label-default">Fecha Hasta:</span></h4>
                @(Html.Kendo().DatePicker()
                .Name("fecha2")
                .Value("2019/01/01")
                .Format("dd/MM/yyyy")
                .Events(e =>
                {
                    e.Change("SetFechaFinal");
                })
                    .HtmlAttributes(new { style = "width: 100%", title = "Fecha Hasta" })
                )
                <input type="hidden" id="txtfechaFinal" name="FechaFinal" />
            </div>
            <div class="col-sm-3">

                <h4><span class="label label-default">Regional:</span></h4>
                @(Html.Kendo().DropDownList()
                 .Name("regional")
                 .HtmlAttributes(new { style = "width:90%" })
                 .OptionLabel("Seleccione Regional...")
                 .DataTextField("nombre_regional")
                 .DataValueField("id_ref_regional")
                 .Filter(FilterType.Contains)
                 .Events(events => events.Select("CustomerSelect3"))
                 .DataSource(source =>
                 {
                  source.Read(read =>
                 {
                 read.Action("GetCascadeRegional", "Facturas");
                 });
                 })

                )

            </div>
            <div class="col-sm-3">

                <h4><span class="label label-default">Unis:</span></h4>
                @(Html.Kendo().DropDownList()
                 .Name("unis")
                 .HtmlAttributes(new { style = "width:90%" })
                 .OptionLabel("Seleccione Unis...")
                 .DataTextField("nombre")
                 .DataValueField("id_ref_unis")
                 .Filter(FilterType.Contains)
                 .Events(events => events.Select("CustomerSelect4"))
                 .DataSource(source =>
                 {
                   source.Read(read =>
                   {
                     read.Action("GetCascadeUnis", "odontologia")
                     .Data("filterProducts");
                   })
                    .ServerFiltering(true);
                 })

                 .CascadeFrom("regional")
                )
                <script>
                    function filterProducts() {
                        return {
                            regional: $("#regional").val()
                        };

                    }
                </script>


            </div>

            <div class="col-sm-2">

                <h4><span class="label label-default">Localidad:</span></h4>
                @(Html.Kendo().DropDownList()
                .Name("localidad")
                .HtmlAttributes(new { style = "width:90%" })
                .OptionLabel("Seleccione Localidad...")
                .DataTextField("nombre_localidad")
                .DataValueField("id_ref_ciudades")
                .Filter(FilterType.Contains)
                .Events(events => events.Select("CustomerSelect5"))
                .DataSource(source =>
                 {
                  source.Read(read =>
                   {
                   read.Action("GetCascadeLocalidades", "odontologia")
                   .Data("filterProducts2");
                   })
                  .ServerFiltering(true);
                })
                .CascadeFrom("unis")
                )
                <script>
                    function filterProducts2() {
                        return {
                            unis: $("#unis").val()
                        };

                    }
                </script>


            </div>
        </div>
        <div class="row">

            <div class="col-sm-4 row">
                <h4><span class="label label-default">Especialista Tratante:</span></h4>
                @(Html.Kendo().DropDownList()
                .Name("especilista")
                .HtmlAttributes(new { style = "width:90%" })
                .OptionLabel("Seleccione Especialista...")
                .DataTextField("Razón_Social")
                .DataValueField("Razón_Social")
                .Filter(FilterType.Contains)
                .Events(events => events.Select("CustomerSelect6"))
                .DataSource(source =>
                 {
                  source.Read(read =>
                  {
                   read.Action("GetCascadeOdontologiaG", "odontologia")
                   .Data("filterProducts");
                  })
                 .ServerFiltering(true);
                 })
                .CascadeFrom("regional")
                )
                <script>
                    function filterProducts() {
                        return {
                            regional: $("#regional").val()
                        };

                    }
                </script>

            </div>
            <div class="col-sm-3">
                <h4><span class="label label-default">Tiempo de duración de tratamiento:</span></h4>
                @(Html.Kendo().NumericTextBox<Int32>()
                   .Name("tiempotratante")
                   .Value(0)
                   .Placeholder("Tiempo Tratamiento")
                   .HtmlAttributes(new { style = "width: 100%", title = "tiempo tratamiento" })
                )
                <input type="hidden" id="txttiempotratante" name="tiempotratante" />
            </div>
            <div class="col-sm-3">
                <h4><span class="label label-default">Numero de Documento Paciente:</span></h4>
                <input type="text" id="documento" name="documento" value="" class="form-control" onKeyPress="return soloNumeros(event)" />
            </div>
            <div class="col-sm-2">

            </div>

        </div>


        <div class="row">
            <div class="col-sm-12 text-left">
                <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search" aria-hidden="true"></i> Buscar</button>
            </div>
        </div>

        <br />
        <div>
            <table align="center" width="100%" style="color:#ffffff; background: #2E64FE;">
                <tr>
                    <td class="text-center" style="font-size:small">
                        <Label>RESULTADOS DE BUSQUEDA</Label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                <a class="btn btn-primary" href="@Url.Action("DescargarReporteProtesisRemovible", "TablerosOdontologia", new { FechaIncio = FechaInicio, FechaFinal = FechaFinal, regional = regional, unis = unis ,localidad = localidad
                    ,especilista = especilista,tiempotratante = tiempotratante, documento = documento})">
                    Reporte
                    <i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </form>
</div>

@using (Html.BeginForm())
{

    <div class="container">
        <div class="">

            <form id="pnlPrincipal" class="General">

                <table id="tabla" class="table table-bordered datatable1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>FECHA AUDITORIA</th>
                            <th>REGIONAL</th>
                            <th>UNIS</th>
                            <th>DOCUMENTO PACIENTE</th>
                            <th>NOMBRE PACIENTE</th>
                            <th>TIEMPO EN TRATAMIENTO</th>
                            <th>ESPECIALISTA TRATANTE</th>
                            <th>COLABORACION PACIENTE</th>
                            <th>PPE QUIEN REALIZA</th>
                            <th>PACIENTE SATISFECHO</th>
                            <th>OBSERVACIONES</th>


                        </tr>

                    </thead>
                    <tbody>
                        @foreach (ECOPETROL_COMMON.ENTIDADES.vw_odont_tableros_ProtesisRemov item in Model)
                        {
                            <tr>
                                <td>@item.id_rehabilitacion_oral_protesis_removibles</td>
                                <td>@item.fecha_digita.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.regional_descripcion</td>
                                <td>@item.unis_descripcion</td>
                                <td>@item.documento</td>
                                <td>@item.nombre</td>
                                <td>@item.tiempo_tratamiento</td>
                                <td>@item.especialista_tratante</td>
                                <td>@item.colaboracion_paciente</td>
                                <td>@item.ppe_quien_realiza</td>
                                <td>@item.paciente_satisfecho</td>
                                <td>@item.observaciones</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
}

<script type="text/javascript">


     $(document).ready(function () {

        if ('@FechaInicio' != '') {
            $("#fecha1").val('@FechaInicio');
            $("#txtfechainicial").val('@FechaInicio');
        }

        if ('@FechaFinal' != '') {
            $("#fecha2").val('@FechaFinal');
            $("#txtfechaFinal").val('@FechaFinal');
        }

        $('#close').on('click', function () {
            $('#popup').fadeOut('slow');
            $('.popup-overlay').fadeOut('slow');
            return false;
        });
    })

    function soloNumeros(e){
	var key = window.Event ? e.which : e.keyCode
	return (key >= 48 && key <= 57)
    }

    function SetFechaInicial() {
        var fecha = kendo.toString(this.value(), 'd');
        $("#txtfechainicial").val(fecha);
    }

       function SetFechaInicial() {
        var fecha = kendo.toString(this.value(), 'd');
        $("#txtfechainicial").val(fecha);
    }

     function change() {
        var value = $("#ortodoncia_primera_vez").val();

    };

    function change2() {
        var value = $("#caso_trasferencia").val();

    };


    function SetFechaFinal() {
        var fecha = kendo.toString(this.value(), 'd');
        $("#txtfechaFinal").val(fecha);
    }
    function CustomerSelect3(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#regional").val(DataItem.id_ref_regional);
    }

    function CustomerSelect4(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#unis").val(DataItem.id_ref_unis);
    }

    function CustomerSelect5(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#localidad").val(DataItem.id_ref_ciudades);
    }

    function CustomerSelect6(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#especilista").val(DataItem.id_ref_odont_prestadores);
    }

       $('.datatable1').DataTable({
        "searching": false,
        "iDisplayLength": 15,
        "lengthChange": false,
        "info": false,
        "order": [[0, "asc"]],
        responsive: true,
        language: {
            processing: "Procesando...",
            search: "Buscar:",
            lengthMenu: "Mostrar MENU registros",
            info: "Mostrando registros del START al END de un total de TOTAL registros",
            infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
            infoFiltered: "(filtrado de un total de MAX registros)",
            infoPostFix: "",
            loadingRecords: "Cargando...",
            zeroRecords: "No se encontraron resultados",
            emptyTable: "Ningún dato disponible en esta tabla",
            paginate: {
                first: "Primero",
                previous: "Anterior",
                next: "Siguiente",
                last: "Último",
            },
        }

    });


</script>
<style>
    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }



    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }


    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>




