
@using Kendo.Mvc.UI;
@model  AsaludEcopetrol.Models.Medicamentos.Cuentas

<div class="panel-group" id="accordion">

    <div class="panel panel-default">

        <div class="panel-heading">

            <strong class="text-primary_asalud">DE ORDEN ADMINISTRATIVO</strong>
        </div>

        <div class="panel-body">

            <table class="table table-bordered table-condensed" style="font-size:11px">
                <thead>

                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Detalle</th>
                        <th class="text-center">Peso</th>
                        <th class="text-center">Valor</th>
                        <th class="text-center">Resultado</th>
                        <th class="text-center">Observaciones</th>

                    </tr>


                </thead>
                <tbody>


                    @foreach (ECOPETROL_COMMON.ENTIDADES.vw_md_tablero_intenventoria_general_detalle1 item in ViewBag.lista1)
                    {

                        <tr>
                            <td class="text-center">@item.id_md_interventoria_general_detalle1 </td>
                            <td class="text-center">@item.descripcion_general1 </td>
                            <td class="text-center">@item.peso </td>
                            <td class="text-center">@item.valor </td>
                            <td class="text-center">@item.resultado </td>
                            <td class="text-center">@item.observaciones </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-heading">

            <strong class="text-primary_asalud">DE ORDEN TECNICO</strong>
        </div>

        <div class="panel-body">

            <table class="table table-bordered table-condensed" style="font-size:11px">
                <thead>

                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Detalle</th>
                        <th class="text-center">Peso</th>
                        <th class="text-center">Valor</th>
                        <th class="text-center">Resultado</th>
                        <th class="text-center">Observaciones</th>

                    </tr>


                </thead>
                <tbody>


                    @foreach (ECOPETROL_COMMON.ENTIDADES.vw_md_tablero_interventoria_general_detalle2 item in ViewBag.lista2)
                    {

                        <tr>
                            <td class="text-center">@item.id_md_interventoria_general_detalle2 </td>
                            <td class="text-center">@item.descripcion_general2 </td>
                            <td class="text-center">@item.peso </td>
                            <td class="text-center">@item.valor </td>
                            <td class="text-center">@item.resultado </td>
                            <td class="text-center">@item.observaciones </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-heading">

            <strong class="text-primary_asalud">DE ORDEN FINANCIERO - CONTABLE </strong>
        </div>

        <div class="panel-body">

            <table class="table table-bordered table-condensed" style="font-size:11px">
                <thead>

                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Detalle</th>
                        <th class="text-center">Peso</th>
                        <th class="text-center">Valor</th>
                        <th class="text-center">Resultado</th>
                        <th class="text-center">Observaciones</th>

                    </tr>


                </thead>
                <tbody>


                    @foreach (ECOPETROL_COMMON.ENTIDADES.vw_md_tablero_interventoria_general_detalle3 item in ViewBag.lista3)
                    {

                        <tr>
                            <td class="text-center">@item.id_md_interventoria_general_detalle3 </td>
                            <td class="text-center">@item.descripcion_general3 </td>
                            <td class="text-center">@item.peso </td>
                            <td class="text-center">@item.valor </td>
                            <td class="text-center">@item.resultado </td>
                            <td class="text-center">@item.observaciones </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-heading">

            <strong class="text-primary_asalud">DE ORDEN LEGAL</strong>
        </div>

        <div class="panel-body">

            <table class="table table-bordered table-condensed" style="font-size:11px">
                <thead>

                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Detalle</th>
                        <th class="text-center">Peso</th>
                        <th class="text-center">Valor</th>
                        <th class="text-center">Resultado</th>
                        <th class="text-center">Observaciones</th>

                    </tr>


                </thead>
                <tbody>


                    @foreach (ECOPETROL_COMMON.ENTIDADES.vw_md_tablero_interventoria_general_detalle4 item in ViewBag.lista4)
                    {

                        <tr>
                            <td class="text-center">@item.id_md_interventoria_general_detalle4 </td>
                            <td class="text-center">@item.descripcion_general4 </td>
                            <td class="text-center">@item.peso </td>
                            <td class="text-center">@item.valor </td>
                            <td class="text-center">@item.resultado </td>
                            <td class="text-center">@item.observaciones </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>