
@{
    ViewBag.Title = "_IntermediacionesLupe";
}

<div class="table-responsive">
    <div>
        <label class="text-secondary_asalud">INTERMEDIACIONES - @ViewBag.id</label>

    </div>
    <hr />
    <table id="intermedio" class="table table-bordered table-striped" style="font-size:10px; width:97%;">

        <thead>
            <tr>
                <th>ítem</th>
                <th>Id intermediación</th>
                <th>Porcentaje intermediación ABE</th>
                <th>Porcentaje intermediación FC</th>
                <th>Regional</th>
                <th>Nit prestador</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewBag.total > 0)
                {

                    var i = 0;
                    foreach (ECOPETROL_COMMON.ENTIDADES.management_lupe_cargues_intermediacionesResult item in ViewBag.list)
                    {
                        i++;
                        <tr>
                            <td class="text-center">@i</td>
                            <td class="text-center">@item.id_lupe_interemediacion</td>
                            <td>@item.porcentaje_intermediacion_ABE</td>
                            <td>@item.porcentaje_intermediacion_FC</td>
                            <td>@item.nombre_regional</td>
                            <td>@item.Nit</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12" style="text-align:center; font-size:15px;">
                            <label>No hay intermediaciones para este cargue.</label>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<style>

    #intermedio {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 11px;
        margin: 10px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

        #intermedio th {
            font-weight: bold;
            padding: 8px;
            background: #636363;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        #intermedio td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        #intermedio tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }
</style>

