@model  AsaludEcopetrol.Models.Medicamentos.GestionMedicamentos
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "SUBIR DOCUMENTOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br>

@using (Html.BeginForm())
{


    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary-Asalud">FACTURAS</strong>
            </div>
            <div class="container">
                <div class="panel-body">
                    <form id="frm-alumno">
                        <div class="row">

                            <div class="col-sm-4">
                                <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.numero_formula)</span></h5>
                                @Html.TextBoxFor(p => p.numero_formula, "{0:#.#}", new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.numero_formula, null, new { @class = "label label-danger" })
                            </div>
                        </div>

                        <div id="pnlGuardar" class="General">
                            <table>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <input id="BtnActualizar" type="submit" value="BUSCAR" class="btn button_Asalud_Guardar" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Error">
                                        @Html.ValidationSummary(true, "")
                                    </td>
                                </tr>

                                <tr>
                                    <td style="display:none">

                                        @*  @Html.TextBoxFor(u => u.fecha_ingreso_salesforceOK)*@


                                    </td>
                                </tr>

                            </table>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </fieldset>

}
<script>

</script>


<style>
    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>



