@using Kendo.Mvc.UI;
@model  AsaludEcopetrol.Models.Medicamentos.ConsultaMed

@{
    ViewBag.Title = "CONSULTAS MEDICAMENTOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link href="~/Scripts/Descargas/dist/css/tableexport.css" rel="stylesheet" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>

<div id="divEmployee">

    <button onclick="javascript:Export();">Exportar a PDF</button>
    <table id="exportTable" class="table table-striped">

        <thead class='warning'>
            <tr>
                <th class="text-left th" style="font-family:Arial">DESCRIPCION</th>
                <th class="text-left th" style="font-family:Arial">VALOR</th>

        </thead>
        <tbody id="exportTable">
            @foreach (var order in Model.ListaConsulta)
            {
                <tr>

                    <td>@order.descripcion</td>
                    <td>@order.valor</td>


                </tr>
            }
        </tbody>
    </table>

    <div class="col-sm-7">

        <div class="row">
            <div class="col-sm-12">
                <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.filtro)</span></h4>
                @Html.RadioButtonFor(model => model.filtro, "1", new { @onclick = "Grafica1()" })@Html.Label("Barras")
                &nbsp;
                @Html.RadioButtonFor(model => model.filtro, "2", new { @readonly = "readonly", @onclick = "Grafica2()" })@Html.Label("Circular")
                &nbsp;
                @Html.RadioButtonFor(model => model.filtro, "3", new { @readonly = "readonly", @onclick = "Grafica3()" })@Html.Label("Dispersión")
                &nbsp;
                @Html.RadioButtonFor(model => model.filtro, "4", new { @readonly = "readonly", @onclick = "Grafica4()" })@Html.Label("Anillo")

                @Html.ValidationMessageFor(u => u.filtro, null, new { @class = "label label-danger" })

            </div>
        </div>

        <div id='pnlGrafica1' class="row" style="text-align:center;display:none;">
            <div class="col-sm-12">
                <div style="width: 600px; height: 300px;">
                    <canvas id="barcanvas"></canvas>
                </div>
            </div>
        </div>

        <div id='pnlGrafica2' class="row" style="text-align:center;display:none;">
            <div class="col-sm-6">
                <div style="width: 600px; height: 300px;">
                    <canvas id="Piecanvas"></canvas>
                </div>
            </div>
        </div>

        <div id='pnlGrafica3' class="row" style="text-align:center;display:none;">
            <div class="col-sm-6">
                <div style="width: 600px; height: 300px;">
                    <canvas id="Linecanvas"></canvas>
                </div>
            </div>
        </div>

        <div id='pnlGrafica4' class="row" style="text-align:center;display:none;">
            <div class="col-sm-6">
                <div style="width: 600px; height: 300px;">
                    <canvas id="Doughnutcanvas"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/Scripts/Descargas/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/Descargas/FileSaver.min.js"></script>
<script src="~/Scripts/Descargas/Blob.min.js"></script>
<script src="~/Scripts/Descargas/xls.core.min.js"></script>
<script src="~/Scripts/Descargas/dist/js/tableexport.js"></script>

<script type="text/javascript">

    $("table").tableExport({
        formats: ["xlsx", "txt", "csv"], //Tipo de archivos a exportar ("xlsx","txt", "csv", "xls")
        position: 'button',  // Posicion que se muestran los botones puedes ser: (top, bottom)
        bootstrap: true,//Usar lo estilos de css de bootstrap para los botones (true, false)
        fileName: "BaseConsolidado",    //Nombre del archivo

    });

    function Export() {
        var pdf = new jsPDF('p', 'pt', 'letter');

        pdf.text(50, 25, "Employee Report");
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        source = document.getElementById('divEmployee').innerHTML;

        // we support special element handlers. Register them with jQuery-style
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },

            function (dispose) {
                // dispose: object with X, Y of the last line add to the PDF
                // this allow the insertion of new lines after html
                pdf.save('Test.pdf');
            }, margins);
    }

    function Grafica1() {

        document.getElementById('pnlGrafica1').style.display = 'block';

        document.getElementById('pnlGrafica2').style.display = 'none';
        document.getElementById('pnlGrafica3').style.display = 'none';
        document.getElementById('pnlGrafica4').style.display = 'none';
        gf1();

    };

    function Grafica2() {

        document.getElementById('pnlGrafica2').style.display = 'block';

        document.getElementById('pnlGrafica1').style.display = 'none';
        document.getElementById('pnlGrafica3').style.display = 'none';
        document.getElementById('pnlGrafica4').style.display = 'none';
        gf2();

    };

    function Grafica3() {

        document.getElementById('pnlGrafica3').style.display = 'block';

        document.getElementById('pnlGrafica1').style.display = 'none';
        document.getElementById('pnlGrafica2').style.display = 'none';
        document.getElementById('pnlGrafica4').style.display = 'none';

        gf3();
    };

    function Grafica4() {

        document.getElementById('pnlGrafica4').style.display = 'block';

        document.getElementById('pnlGrafica1').style.display = 'none';
        document.getElementById('pnlGrafica2').style.display = 'none';
        document.getElementById('pnlGrafica3').style.display = 'none';
        gf4();

    };

    function gf1() {

        var barChartData =
        {
            labels: [@Html.Raw(ViewBag.descripcion_List)],
            datasets: [{
                label: '',
                backgroundColor: [
                    "#f990a7",
                    "#aad2ed",
                    "#9966FF",
                    "#99e5e5",
                    "#f7bd83",
                    "#bc8d97",
                    "#6e82ad",
                    "#729eb2",
                    "#7cc1b0",
                    "##adcc8a",
                ],
                borderWidth: 2,
                data: [@ViewBag.valor_List]
            }]

        };
        var ctx1 = document.getElementById("barcanvas").getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'bar',
                data: barChartData,
                options:
                    {
                        title:
                        {
                            display: true,
                            text: "@ViewBag.consulta"
                        },
                        responsive: true,
                        maintainAspectRatio: true
                    }
            });

    }

    function gf2() {

        var PieChartData =
           {
               labels: [@Html.Raw(ViewBag.descripcion_List)],
               datasets: [{
                   label: '',
                   backgroundColor: [
                       "#f990a7",
                       "#aad2ed",
                       "#9966FF",
                       "#99e5e5",
                       "#f7bd83",
                   ],
                   borderWidth: 2,
                   data: [@ViewBag.valor_List]
               }]
           };
        var ctx1 = document.getElementById("Piecanvas").getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'pie',
                data: PieChartData,
                options:
                    {
                        title:
                        {
                            display: true,
                            text: "@ViewBag.consulta"
                        },
                        responsive: true,
                        maintainAspectRatio: true
                    }
            });
    }


    function gf3() {

        var LineChartData =
         {
             labels: [@Html.Raw(ViewBag.descripcion_List)],
             datasets: [{
                 label: '',
                 backgroundColor: "rgba(75,192,192,0.4)",
                 borderWidth: 3,
                 data: [@ViewBag.valor_List]
             }]
         };


        var ctx1 = document.getElementById("Linecanvas").getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'line',
                data: LineChartData,
                options:
                    {
                        title:
                        {
                            display: true,
                            text: "@ViewBag.consulta"
                        },
                        responsive: true,
                        maintainAspectRatio: true
                    }
            });

    }

    function gf4() {

        var DoughnutChartData =
            {
                labels: [@Html.Raw(ViewBag.descripcion_List)],
                datasets: [{
                    label: '',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.valor_List]
                }]
            };
        var ctx1 = document.getElementById("Doughnutcanvas").getContext("2d");
        window.myBar = new Chart(ctx1,
            {
                type: 'doughnut',
                data: DoughnutChartData,
                options:
                    {
                        title:
                        {
                            display: true,
                            text: "@ViewBag.consulta"
                        },
                        responsive: true,
                        maintainAspectRatio: true
                    }
            });
    }
</script>


<style>

    #exportButton {
        border-radius: 0;
    }

    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .mywidth {
        width: 35em;
        font-family: Verdana;
        font-size: 1em;
    }
</style>


