@model  AsaludEcopetrol.Models.Medicamentos.GestionMedicamentos
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "AUDITORIA MEDICAMENTOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}


@using (Html.BeginForm())
{
    <br />
    <br />

    <a class="btn btn-primary" href="@Url.Action("BuscarFactura", "medicamentos")">
        VOLVER
    </a>


    if (Model.ListFacturas.Count > 0)
    {

        <table class="table table-bordered">
            <tbody>
                <tr>

                    <th class="text-center th">NUMERO DOCUMENTO</th>
                    <th class="text-center th">NOMBRE</th>
                    <th class="text-center th">CIUDAD</th>
                    <th class="text-center th">NUMERO FACTURA</th>
                    <th class="text-center th">NUMERO FORMULA</th>
                    <th class="text-center th">GESTIONAR FORMULA</th>

                </tr>

                @foreach (var order in Model.ListFacturas)
                {

                    <tr>
                        <td>@order.numero_documento</td>
                        <td>@order.nombre_beneficiario</td>
                        <td>@order.ciudad</td>
                        <td>@order.numero_formula</td>
                        <td>@order.numero_formula</td>
                        <td>                            
                            <a class="btn btn-primary" href="@Url.Action("TableroControlMedicamentos", "medicamentos", new {variable = order.numero_formula, tipo = 2})">
                                VER
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
    }
    else
    {

        <br />
        <br />

        <div id="pnlerror" class="General">

            <div class="alert alert-danger">

                SIN REGISTROS...

            </div>
        </div>

    }

}

<script type="text/javascript">




</script>

<style>
    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }



    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }


    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }


    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 11px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-size: 12px;
        font-weight: normal;
        padding: 8px;
        background: #212020;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #1a23a3;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }
</style>


