


<div class="table-responsive">
    <div>
        <label class="text-secondary_asalud">LOG CARGUE #@ViewBag.idCargue - FASE #@ViewBag.fase</label>
    </div>
    <hr />
    <table id="fases" class="table table-bordered table-striped" style="font-size:10px; width:96%;">

        <thead>
            <tr>
                <th>Id cargue</th>
                <th>Fase</th>
                <th>Estado</th>
                <th>Detalle estado</th>
                <th>Fecha gestión</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewBag.conteoFases > 0)
                {
                    var i = 0;
                    foreach (ECOPETROL_COMMON.ENTIDADES.log_prefacturas_estadoValidacion item in ViewBag.listadoFases)
                    {
                        i++;
                        <tr>
                            <td class="text-center">@item.id_cargue</td>
                            <td class="text-center">@item.fase</td>
                            <td class="text-center">@item.estado</td>
                            <td class="text-center">@item.mensajeEstado</td>
                            <td class="text-center">@item.fecha_digita</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="12" style="text-align:center; font-size:15px;">
                            <label>No hay log en fase @ViewBag.fase para este cargue.</label>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<style>

    #fases {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 11px;
        margin: 10px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

        #fases th {
            font-weight: bold;
            padding: 8px;
            background: #636363;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        #fases td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        #fases tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }
</style>

