@using Kendo.Mvc.UI;
@model  AsaludEcopetrol.Models.Medicamentos.GestionObligaciones
@{
    ViewBag.Title = "OBLIGACIONES CONTRACTUALES DETALLE";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.js" type="text/javascript"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.css" rel="stylesheet" type="text/css" />

<script src="https://unpkg.com/gijgo@1.9.13/js/messages/messages.es-es.min.js" type="text/javascript"></script>


<br>

<div class="container-fluid">

    @*<div class="row">
            <div class="col-xs-12">
                <table id="grid"></table>
            </div>
        </div>*@

    <div class="gj-clear-both"></div>
    <div class="gj-margin-top-10">
        <table id="grid"></table>
    </div>


    <div class="row">

        <div class="col-sm-12">
            <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.hallazgos)</span></h4>
            @Html.TextAreaFor(p => p.hallazgos, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.hallazgos, null, new { @class = "label label-danger" })
        </div>

    </div>

    <br />

    <div id="pnlGuardar" class="General">
        <div class="text-center" >
            @*<input id="BtnActualizar" type="submit" value="SIGUIENTE" class="btn btn-success" />*@

            <button type="submit" id="btnSave3" class="btn btn-primary" onclick="Save4()">GUARDAR</button>
        </div>
        <div class="Error">
            @Html.ValidationSummary(true, "")
        </div>

        <div style="display:none">
            @Html.TextBoxFor(u => u.id_obligaciones_contractuales)
            @Html.TextBoxFor(u => u.nombre_auditado)
        </div>

    </div>

    <div id="resultado" style='display:none;' class="Error">
        <h3>Ingreso correcto...</h3>
    </div>

    <div style="display:none">
        @Html.TextBoxFor(u => u.id_obligaciones_contractuales)
        @Html.TextBoxFor(u => u.nombre_auditado)

    </div>
</div>


<div id="dialog2" class="gj-display-none">

    <div data-role="body">
        <input type="hidden" id="ID" />
        <div style="display:none" class="">
            <input type="text" class="gj-textbox-md" id="id_md_ref_indicador2">
        </div>

        <div class="">
            <div>
                <textarea class="form-control" rows="5" id="observaciones2" placeholder="observaciones..." style="font-size:10pt;width:250px;" required="required"></textarea>
            </div>
        </div>
        <br />
        <div class="">

            <label class="text-secondary_asalud"> Seleccione los archivos *</label>
            <input type="file" name="file" id="file" class="form-control" multiple />

        </div>
    </div>
    <br />

    <div data-role="footer">
        <button type="submit" id="btnSave2" class="btn btn-primary">GUARDAR</button>
        <button type="button" id="btnCancel2" class="btn btn-danger">CANCELAR</button>
    </div>

</div>


<br>
<br>

<script type="text/javascript">

    function Edit2(e) {

        //$('#id_md_ref_indicador2').val(e.data.id);
        //$('#file').val(e.data.file);

        //dialog2.open('CARGAR IMAGEN');
    }

    function Edit2(e) {

        //$('#id_md_ref_indicador2').val(e.data.id);


        //dialog2.open('CARGAR IMAGEN');
    }

    function Save2() {

        //var formData = new FormData($("form")[0]);

        //formData.append("file", $("input[type=file]")[0].files[0]);
        //formData.append("id_md_ref_indicador", $("#id_md_ref_indicador2").val());
        //formData.append("id_indicadores_medicamentos", $("#id_indicadores_medicamentos").val());
        //formData.append("nombre_auditado", $("#nombre_auditado").val());
        //formData.append("observaciones", $("#observaciones2").val());

        //$.ajax({

        //    url: "/medicamentos/Save2",
        //    data: formData,
        //    method: 'POST',
        //    contentType: false,
        //    processData: false,

        //})
        //    .done(function () {
        //        dialog2.close();
        //        grid.reload();
        //    })
        //    .fail(function () {
        //        alert('ERROR AL GUARDAR.');
        //        dialog2.close();
        //    });

    }

    function Save4() {

           var textBox1 = $('input:text[id$=id_obligaciones_contractuales]').keyup();
        var value2 = textBox1.val();

        document.getElementById('resultado').style.display = 'block';

        var formData = new FormData($("form")[0]);

        formData.append("id_obligaciones_contractuales", $("#id_obligaciones_contractuales").val());
        formData.append("hallazgos", $("#hallazgos").val());

        $.ajax({

            url: "/medicamentos/SaveObligaciones4",
            data: formData,
            method: 'POST',
            contentType: false,
            processData: false,
            success: function (response) {

                document.getElementById('resultado').style.display = 'block';
                @*window.open('@Url.Action("CrearPdfCartaIndicadoresMD2", "medicamentos", new { id_obligaciones_contractuales = Model.id_obligaciones_contractuales})', '', 'width =500,height =200,left =50,top =50,toolbar =yes');*@
            }

        })

            .fail(function () {
                alert('ERROR AL GUARDAR.');
                dialog2.close();
            });

    }

    $(document).ready(function () {
        var textBox1 = $('input:text[id$=id_obligaciones_contractuales]').keyup();
        var value2 = textBox1.val();

        var valores = ['0', '1'];
        var grid;
        grid = $('#grid').grid({
            locale: 'es-es',
            dataSource: '/medicamentos/Getobligaciones2/' + value2,
            uiLibrary: 'bootstrap4',
            primaryKey: 'id_md_ref_obligaciones',
            inlineEditing: { mode: 'command', managementColumnConfig: { width: 240 } },
            columns: [

                { field: 'Nro', width: 50 },
                { field: 'descripcion_obligacion', title: 'Descripcion', width: 400 },
                { field: 'peso', width: 50, title: 'Peso' },
                { field: 'valor', title: 'Valor', width: 50, type: 'dropdown', editor: { dataSource: valores } },
                { field: 'resultado', title: 'Resultado', width: 80 },
                { field: 'observaciones', title: 'Observaciones', editor: true, width: 200, align: 'center' },
         
            ],
            pager: { limit: 10 }

        });
        grid.on('rowDataChanged', function (e, id, record) {

            var data = $.extend(true, {}, record);
            $.ajax({
                url: '/medicamentos/Saveobligaciones3',
                data: { record: data },
                method: 'POST',
                success: function (data) {
                    location.reload();
                }
            })

                .fail(function () {
                    alert('Failed to save.');
                });

        });


        dialog2 = $('#dialog2').dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            width: 360
        });

        $('#btnSave2').on('click', Save2);
        $('#btnCancel2').on('click', function () {
            dialog2.close();
        });

    });

</script>

<style>
    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 150px;
    }

    .TamañoImag {
        height: 150px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .mywidth {
        width: 35em;
        font-family: Verdana;
        font-size: 1em;
    }


    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 10px;
        margin: 9px;
        width: 800px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-size: 12px;
        font-weight: normal;
        padding: 8px;
        background: #212020;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #524e4e;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #1a23a3;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }
</style>