
@{
    ViewBag.Title = "TABLERO INFORMACIÓN CIERRES";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-md-6">
            <strong class="text-primary_asalud">
                Consulta cargues
            </strong>
        </div>
        <div class="col-md-6" style="text-align:right;">
            @if (ViewBag.conteo > 0)
            {
                <a role="button" class="button_Asalud_descargas" title="Reporte" href="javascript:ExportarDatos()">
                    <i class="glyphicon glyphicon-download"></i> Reporte cierres
                </a>
            }
        </div>
        <br />
    </div>

    <div class="panel-body">
        <form id="formulario" name="formulario" method="post" action="TableroInformacionCierres">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-secondary_asalud">Regional:</label>
                    <select id="regional" name="regional" class="form-control select2" onchange="BuscarUsuarios()" multiple>
                        @foreach (ECOPETROL_COMMON.ENTIDADES.Ref_regional item in ViewBag.regional)
                        {
                            <option value="@item.id_ref_regional">@item.indice</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="text-secondary_asalud">Usuarios:</label>
                    <select id="usuario" name="usuario" class="form-control select2" multiple>
                        <option value="">--Seleccionar--</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="text-secondary_asalud">Opl:</label>
                    <select id="opl" name="opl" class="form-control select2">

                        @foreach (ECOPETROL_COMMON.ENTIDADES.md_Ref_proveedor item in ViewBag.proveedor)
                        {
                            <option value="@item.id_ref_proveedor"> @item.nombre</option>
                        }
                    </select>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-4">
                    <label class="text-secondary_asalud">Estado:</label>
                    <select id="estado" name="estado" class="form-control">
                        <option value="">--Seleccionar--</option>
                        <option value="abierta">Abierta</option>
                        <option value="cerrada">Cerrada</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="text-secondary_asalud">Fecha inicial:</label>
                    <input class="form-control datepickerr" id="fechaInicio" name="fechaInicio" style="width:100%;" required />
                </div>
                <div class="col-md-3">
                    <label class="text-secondary_asalud">Fecha final:</label>
                    <input class="form-control datepickerr" id="fechaFin" name="fechaFin" style="width:100%;" required />
                </div>
                <br />

                <div class="col-sm-2 form-group">
                    <button type="button" class="btn button_Asalud_Aceptar" onclick="ValidarFormulario()">BUSCAR</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row" style="margin-top:2%">
            <div class="col-sm-3 form-group">
                <label class="text-secondary_asalud"> Cargues totales: @ViewBag.conteo</label>
            </div>
            <div class="col-sm-3 form-group">
                <label class="text-secondary_asalud"> Cargues abiertos: @ViewBag.conteoAbiertos</label>
            </div>
            <div class="col-sm-3 form-group">
                <label class="text-secondary_asalud"> Cargues cerrados: @ViewBag.conteoCerrados</label>
            </div>
            <div class="col-sm-3 form-group">
                <label class="text-secondary_asalud">Promedio días cierre: @ViewBag.conteoPromedioDiasCierre</label>
            </div>
        </div>

        <div class="panel-body">
            <table id="tabla" class="table table-bordered datatable table-hover" style="width:98%;">
                <thead>
                    <tr>
                        <th>Id cargue</th>
                        <th>Fecha creación</th>
                        <th>Estado</th>
                        <th>Días sin cierre</th>
                        <th>Fecha cierre</th>
                        <th>Días entre creación y cierre</th>
                        <th>Nombre carga</th>
                        <th>Regional</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.conteo > 0)
                    {
                        foreach (ECOPETROL_COMMON.ENTIDADES.management_prefacturas_tableroCierreResult item in ViewBag.lista)
                        {
                    <tr>
                        <td>@item.id_cargue_base</td>
                        <td>@item.fechaCreacion</td>
                        <td>@item.estado</td>
                        @if (item.estado == "abierta")
                        {
                            <td>@item.diasSincierre</td>
                        }
                        else
                        {
                            <td>0</td>
                        }
                        @if (item.estado == "cerrada")
                        {
                            <td>@item.fechaCierre</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.estado == "cerrada")
                        {
                            <td>@item.diasDiferencia</td>
                        }
                        else
                        {
                            <td>0</td>
                        }
                        <td>@item.nombre</td>
                        <td>@item.nombre_regional</td>

                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="14" style="text-align:center; font-size:14px">SIN REGISTROS</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/validate.js"></script>
<script>

    $(document).ready(function () {
        $('.select2').select2({
            width: '100%',
            height: '100%'
        });


        $(".datepickerr").kendoDatePicker({
            format: "MM/dd/yyyy",
        });
        $(".k-input").attr('readonly', true);

        mostrarTabla();
    });


    function mostrarTabla() {
        var conteo = "@ViewBag.conteo";
        if (conteo > 0) {

            $('#tabla').DataTable().destroy();

            $('#tabla').DataTable({
                "sSearch": "Buscar:",
                "searching": true,
                "iDisplayLength": 25,
                "lengthChange": false,
                "info": false,
                responsive: true,
                stateSave: false,
                "bDestroy": true,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });
        }
    }


    function BuscarUsuarios() {

        var result = [];
        var select = document.getElementById("regional").selectedOptions;
        var opt;

        for (var i = 0; i < select.length; i++) {
            opt = select[i];

            if (opt.selected) {
                result.push(opt.value);
            }
        }

        if (result != null && result.length > 0) {

            $.ajax({
                url: "@Url.Action("BuscarUsuarios", "medicamentos")",
                method: "post",
                data: {
                    regionales: result,
                },
                success: function (data) {
                    $("#usuario").empty();
                    $("#usuario").html(data);
                    $("#usuario").val("").trigger("change");
                }
            })
        }

    }


    function ValidarFormulario() {
        var validator = $("#formulario").validate();
        if (validator.form()) {
            LoadingShow();
            $("#formulario").submit();
        }
    }

    function ExportarDatos() {

        var url = "@Url.Action("ExportarDatosTableroCierres", "medicamentos")";
        window.open(url, '', 'width=500,height =50,left =50,top =650,toolbar =yes');
    }

</script>

<style>


    .control-label {
        font-size: 15px;
        color: #357ebd;
    }

    .letra {
        font-size: 15px
    }

    .error {
        color: indianred;
        font-size: 13px;
    }

    .control-label {
        font-size: 15px;
    }

    #pnlcargararchivo {
        margin-top: 5%;
    }

    label.error {
        float: left;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .showErroneos {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .cortinilla {
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .ventana {
        width: 15%;
        height: 25%;
        padding: 1%;
        background-image: url(../../Resources/cargando.gif);
        background-size: 100% 100%;
        top: 40%;
        left: 42.5%;
        position: relative;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .text-secondary_asalud {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        color: #556da2;
    }

    input:read-only {
        background-color: #636363;
        color: #357ebd;
    }

    #tabla {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

        #tabla th {
            font-weight: bold;
            padding: 8px;
            background: #636363;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        #tabla td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        #tabla tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>
