@using Kendo.Mvc.UI;
@model  AsaludEcopetrol.Models.Evolucion.DiagnosticoDefinitivo
@{
    ViewBag.Title = "DIAGNOSTICO DEFINITIVO";
    Layout = "~/Views/Shared/_LayoutECOPETROL3.cshtml";
}

<br />

@using (Html.BeginForm())
{


    <div class="General">
        <table align="center" width="700" style="color:#ffffff; background: #2E64FE;">
            <tr>
                <td class="text-center">
                    DIAGNOSTICO DEFINITIVO
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <table border="0" align="center" width="600">


            @if (Model != null && Model.lstDiagDef != null && Model.lstDiagDef.Count > 0)
                {
                <tr>

                    <th class="text-center">&nbsp;</th>


                </tr>
                foreach (var item in Model.lstDiagDef)
                {
                    <tr>

                        <td class="text-center">
                            @item.diagnosticoDefinitivo

                        </td>

                    </tr>
                }

            }


        </table>
        <table>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>

    </div>

    <div class="General">

        <table align="center" width="700" style="color:#ffffff; background: #2E64FE;">
            <tr>
                <td class="text-center">
                    AÑADIR MAS AL DIAGNOSTICO DEFINITIVO
                </td>
            </tr>
        </table>
    </div>
    <div class="General">
        <table align="center" width="700">
            <tr>
                <td>
                    &nbsp;
                </td>
                <td class="auto-style2">
                    &nbsp;
                </td>
                <td class="auto-style1">
                    &nbsp;
                </td>

            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="tdNomal">
                    @Html.LabelFor(u => u.diagnosticoDefinitivo)
                </td>
                <td class="auto-style2">
                    @Html.TextAreaFor(u => u.diagnosticoDefinitivo, 5, 50, new { @class = "form-control" })
                </td>
                <td class="auto-style1">
                    @Html.ValidationMessageFor(x => x.diagnosticoDefinitivo)
                </td>
            </tr>
            <tr>
                <td class="tdNomal">
                    &nbsp;
                </td>
                <td class="auto-style2">
                    &nbsp;
                </td>
                <td class="auto-style1">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>

        <div class="col-lg-12">
        </div>

    </div>
    <div id="pnlGuardar" class="General">

        <table align="center">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input id="BtnGuardar" type="submit" value="GUARDAR" class="text-center" onclick="cerrarVentana()" />

                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td class="Error">
                    @Html.ValidationSummary(true, "")
                </td>
            </tr>

            <tr>
                <td style="display:none">
                    @Html.TextBoxFor(u => u.id_concurrencia)
                </td>
            </tr>
        </table>

    </div>
}

<script>

function cerrarVentana(){
//la referencia de la ventana es el objeto window del popup. Lo utilizo para acceder al método close
  this.close()
 // window.close('@Url.Action("DiagnosticoDefinitivo", "Evolucion", new { idConcu = Model.id_concurrencia})', '', 'width=750,height=550,left=50,top=50,toolbar=yes');

}
</script> 
<style>
    .k-autocomplete.k-header {
        width: 300px;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
    }

    .Acordion {
        width: 820px;
    }


    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .tdNomal {
        Width: 105px;
    }

    .tdGrande {
        width: 300px;
    }

    .tdPequeño {
        Width: 50px;
    }

    .select {
        position: relative;
        border: 1px solid #ccc;
        width: 120px;
        overflow: hidden;
        background-color: #fff;
    }

        .select:before {
            content: '';
            position: absolute;
            right: 5px;
            top: 7px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 5px 0 5px;
            border-color: #000000 transparent transparent transparent;
            z-index: 5;
            pointer-events: none;
        }

        .select select {
            padding: 5px 8px;
            width: 130%;
            border: none;
            box-shadow: none;
            background-color: transparent;
            background-image: none;
        }

    .auto-style3 {
        height: 26px;
    }



    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }


    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>



