<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" href="~/Resources/favicon.ico" type="image/x-icon">
    <title>ASALUD</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        //<![CDATA[
        document.cookie = 'same-site-cookie=foo; SameSite=Lax';
        document.cookie = 'cross-site-cookie=bar; SameSite=None; Secure';

        //]]>

    </script>

    <link href="~/Scripts/css/StyleAsaludEcopetrol.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.bootstrap.mobile.min.css" />

    <link href="~/Content/alertfy/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertfy/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/cultures/kendo.culture.es-PA.min.js" )"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/messages/kendo.messages.es-PA.min.js" )"></script>

    <script src="~/Scripts/kendo/2014.1.318/kendo.datepicker.min.js"></script>

    <script>
        kendo.culture("es-PA");
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.js" type="text/javascript"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/messages/messages.es-es.min.js" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.14.0/dist/sweetalert2.all.min.js"></script>


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/Content/alertfy/alertify.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.solo-numero').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });

            $('.solo-numero2').keydown(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });

            $('.solo-numero3').focusout(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });

            $(".k-input").attr('readonly', true);

            $(".year").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true,
                startDate: new Date('2021'),
                endDate: new Date()
            });

            $(window).scroll(function ()
            {
                if ($(this).scrollTop() > 100) {
                    $('#scrollapp').fadeIn();
                } else {
                    $('#scrollapp').fadeOut();
                }
            });

            $('#scrollapp').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });

            //envioNotificacionEntregables();

        })

        function LoadingShow() {
            $("#SpinnerCarga").modal();
            $("#SpinnerCarga").modal({ backdrop: 'static', keyboard: false });
            $("#SpinnerCarga").modal('show');
        }

        function LoadingHide() {
            $("#SpinnerCarga").modal('hide');
        }

        /*Notificacon que se envia Diariamente de los entregables que estan proximos a vencer */

        @*function envioNotificacionEntregables()
        {
            $.ajax({
                url: "@Url.Action("EnvioCorreoEntrablesProximosaVencer", "SeguimientoEntregables")",
                type: "POST",
                success: function (data)
                {
                    console.log("Notificación de entregables enviada")
                }
            })
        }*@

    </script>

    @Scripts.Render("~/bundles/modernizr")


    <style>

        html body {
            height: 100%;
            background-color: #FFFFFF;
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        /**/
        footer {
            background-color: #5B687B;
            padding: 25px;
            color: #fff;
            /*position: relative;*/
            width: 100%;
            height: 50px;
            align-content: center;
            text-align: center;
        }

            footer .contenidoBajo {
                align-content: center;
                text-align: center;
                margin-top: -10px;
                font-family: 'Century Gothic', 'Century Gothic';
                font-size: 11px;
            }

                footer .contenidoBajo .textoArroba {
                    font-size: 20px;
                    width: 40px;
                }

        .pagination > .active > a {
            background-color: #333333 !important;
            border-color: white !important;
        }

        #ModalAnalitica iframe {
            width: 100%;
            min-height: 65vh;
        }

        #ModalAnalitica .modal-dialog {
            margin-right: 40%;
        }

        span.k-widget.k-datepicker.k-header.datepicker {
            background-color: white;
        }

        label.error {
            background-color: indianred;
            color: white;
            font-size: 13px;
            font-weight: bold;
            width: 100% !important;
        }

        viewer-pdf-toolbar {
            display: none !important;
        }

            viewer-pdf-toolbar#toolbar {
                display: none !important;
            }

        .jumbotron {
            background: url("../../Resources/banner_vaciosami.jpg") no-repeat center center;
            background-size: 100% 100%;
            position: relative;
            background-attachment: scroll;
            color: #fff;
            border: 1px solid #BCBEC2; /* Agrega un borde negro de 10px de grosor */
            font-family: 'Century Gothic';
        }

            .jumbotron:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #212529;
                opacity: 0;
                color: white;
            }

            .jumbotron h3 {
                font-size: 20px
            }

        .site-heading {
            font-family: 'Century Gothic' !important;
        }

        #scrollapp {
            position: fixed;
            right: 10px;
            bottom: 10px;
            cursor: pointer;
            width: 40px;
            height: 40px;
            background-color: #636363;
            text-indent: -9999px;
            display: none;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px
        }


            #scrollapp span {
                position: absolute !important;
                top: 50% !important;
                left: 50% !important;
                margin-left: -8px !important;
                margin-top: -12px !important;
                height: 0 !important;
                width: 0;
                border: 8px solid transparent !important;
                border-bottom-color: #ffffff !important;
            }

            #scrollapp:hover {
                background-color: #556da2 !important;
            }



        /*.imgLogoTitulo {
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
            width: 100px;
            margin-top: 0.5%;
            position: absolute;*/
        /*margin-left: -8%;*/
        /*margin-right:5px;
        }*/


        /*.imgLogoTitulo {
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
            width: 100px;
            margin-top: 10%;
            margin-right: 10px;*/
            /* Cambiar la posición a relativa */
            /*position: relative;
            z-index: 0;*/ /* Asegura que esté por debajo del menú si es necesario */
        /*}*/

        .imgLogoTitulo {
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
            width: 100px;
            margin-top: 0.5%;
            position: absolute;
            margin-left: -3%;
        }

        .navbar-ex1-collapse {
            z-index: 1; /* Asegura que el menú esté por encima del logo */
        }

        .imgLogo {
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
            width: 40px;
            margin-top: 0.1%;
        }

        .fondoTitulo {
            background-color: #5B687B;
            border: 1px solid #788CA5; /* Borde del div */
            border-radius: 7px;
            text-align: center;
            line-height: 1; /* Ajusta la altura de línea para que las líneas estén pegadas */
            height: auto;
            padding: 5px; /* Ajusta el relleno para evitar que el texto se pegue al borde */
            box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el cálculo del ancho y alto del elemento */
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="font-size:12px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Inicio","Usuario")"> <img src="~/Resources/HSFLOGO.png" class="imgLogoTitulo" /></a>
            </div>

            @Html.Action("Menu", "Menu")

        </div>
    </nav>

    <!--Inicio banner-->
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <div class="col-sm-offset-4 col-md-4">
                    <div class="site-heading" style="max-width:100%">
                        <div class="fondoTitulo">
                            <strong style="font-family:'Century Gothic' !important">@ViewBag.Title</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--fin del banner-->

    <div class="container">
        @RenderBody()

        <div id="loader"></div>
        <div id="dialog"></div>
        <div id="container" style="min-height: 1px">
            <div id="content" style="min-height: 1px">
                <div id="DivLoadingPage"></div>
                <div class="modal fade" data-backdrop="static" data-keyboard="false" id="SpinnerCarga">
                    <img id="imgloader" src="~/Resources/cargando.gif" alt="Loading">
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalAnalitica" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content modal-lg">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-primary" id="titlemodal">Cargar Base analitica FBL3N</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="cargademodal" src="about:blank"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="text-align:center; align-content:center; margin-bottom:30px;">
        <img src="~/Resources/LOGO ASALUD SELLO.png" style="width:60px;" />
    </div>
    <br />

    <footer>
        <div class="contenidoBajo">
            Un desarrollo de &nbsp; <img src="~/Resources/HSFLOGO.png" class="imgLogo" />  &nbsp; @Html.Raw("&#0174;")  &nbsp; @DateTime.Now.Year
        </div>
    </footer>

    <a href="javascript:void(0);" id="scrollapp" title="Subir" style="display: none;">Top<span></span></a>

</body>
</html>
