@using Kendo.Mvc.UI;
@model AsaludEcopetrol.Models.Concurrencia.ConcurrenciaEncuesta
@{
    ViewBag.Title = "ENCUESTA DE SATISFACCIÓN";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}


<br />
@using (Html.BeginForm())
{

    <div class="container">
        <form id="frm-alumno">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Formulario de ingreso - encuesta de satisfacción</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="Error">
                                @Html.ValidationSummary(true, "")
                            </div>

                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.nombre_responde_encuesta)</span></h5>
                            @Html.TextBoxFor(p => p.nombre_responde_encuesta, new { @class = "form-control", @maxlength = "100" })
                            @Html.ValidationMessageFor(u => u.nombre_responde_encuesta, null, new { @class = "label label-danger" })
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-6">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.canal)</span></h5>
                            @Html.RadioButtonFor(model => model.canal, "Personal", false)&nbsp;@Html.Label("Personal")
                            @Html.ValidationMessageFor(u => u.canal, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.canal, "Telefonico", false)&nbsp;@Html.Label("Telefonico")
                            @Html.ValidationMessageFor(u => u.canal, null, new { @class = "label label-danger" })

                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">

                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta1)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta1, "Excelente", false)&nbsp;@Html.Label("Excelente")
                            @Html.ValidationMessageFor(u => u.pregunta1, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta1, "Buena", false)&nbsp;@Html.Label("Buena")
                            @Html.ValidationMessageFor(u => u.pregunta1, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta1, "Regular", false)&nbsp;@Html.Label("Regular")
                            @Html.ValidationMessageFor(u => u.pregunta1, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta1, "Mala", false)&nbsp;@Html.Label("Mala")
                            @Html.ValidationMessageFor(u => u.pregunta1, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta1, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta1, null, new { @class = "label label-danger" })

                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta2)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta2, "Excelente", false)&nbsp;@Html.Label("Excelente")
                            @Html.ValidationMessageFor(u => u.pregunta2, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta2, "Buena", false)&nbsp;@Html.Label("Buena")
                            @Html.ValidationMessageFor(u => u.pregunta2, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta2, "Regular", false)&nbsp;@Html.Label("Regular")
                            @Html.ValidationMessageFor(u => u.pregunta2, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta2, "Mala", false)&nbsp;@Html.Label("Mala")
                            @Html.ValidationMessageFor(u => u.pregunta2, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta2, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta2, null, new { @class = "label label-danger" })
                        </div>


                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta3)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta3, "Excelente", false)&nbsp;@Html.Label("Excelente")
                            @Html.ValidationMessageFor(u => u.pregunta3, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta3, "Buena", false)&nbsp;@Html.Label("Buena")
                            @Html.ValidationMessageFor(u => u.pregunta3, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta3, "Regular", false)&nbsp;@Html.Label("Regular")
                            @Html.ValidationMessageFor(u => u.pregunta3, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta3, "Mala", false)&nbsp;@Html.Label("Mala")
                            @Html.ValidationMessageFor(u => u.pregunta3, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta3, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta3, null, new { @class = "label label-danger" })
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta4)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta4, "Completamente Satisfecho", false)&nbsp;@Html.Label("Completamente Satisfecho")
                            @Html.ValidationMessageFor(u => u.pregunta4, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta4, "Satisfecho", false)&nbsp;@Html.Label("Satisfecho")
                            @Html.ValidationMessageFor(u => u.pregunta4, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta4, "Medianamente Satisfecho", false)&nbsp;@Html.Label("Medianamente Satisfecho")
                            @Html.ValidationMessageFor(u => u.pregunta4, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta4, "Nada Satisfecho", false)&nbsp;@Html.Label("Nada Satisfecho")
                            @Html.ValidationMessageFor(u => u.pregunta4, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta4, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta4, null, new { @class = "label label-danger" })
                        </div>



                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta5)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta5, "Excelente", false)&nbsp;@Html.Label("Excelente")
                            @Html.ValidationMessageFor(u => u.pregunta5, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta5, "Buena", false)&nbsp;@Html.Label("Buena")
                            @Html.ValidationMessageFor(u => u.pregunta5, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta5, "Regular", false)&nbsp;@Html.Label("Regular")
                            @Html.ValidationMessageFor(u => u.pregunta5, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta5, "Mala", false)&nbsp;@Html.Label("Mala")
                            @Html.ValidationMessageFor(u => u.pregunta5, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta5, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta5, null, new { @class = "label label-danger" })
                        </div>


                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta6)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta6, "Excelente", false)&nbsp;@Html.Label("Excelente")
                            @Html.ValidationMessageFor(u => u.pregunta6, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta6, "Buena", false)&nbsp;@Html.Label("Buena")
                            @Html.ValidationMessageFor(u => u.pregunta6, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta6, "Regular", false)&nbsp;@Html.Label("Regular")
                            @Html.ValidationMessageFor(u => u.pregunta6, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta6, "Mala", false)&nbsp;@Html.Label("Mala")
                            @Html.ValidationMessageFor(u => u.pregunta6, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta6, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta6, null, new { @class = "label label-danger" })
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta7)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta7, "Excelente", false)&nbsp;@Html.Label("Excelente")
                            @Html.ValidationMessageFor(u => u.pregunta7, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta7, "Buena", false)&nbsp;@Html.Label("Buena")
                            @Html.ValidationMessageFor(u => u.pregunta7, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta7, "Regular", false)&nbsp;@Html.Label("Regular")
                            @Html.ValidationMessageFor(u => u.pregunta7, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta7, "Mala", false)&nbsp;@Html.Label("Mala")
                            @Html.ValidationMessageFor(u => u.pregunta7, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta7, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta7, null, new { @class = "label label-danger" })
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta8)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta8, "Siempre", false)&nbsp;@Html.Label("Siempre")
                            @Html.ValidationMessageFor(u => u.pregunta8, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta8, "Casi Siempre", false)&nbsp;@Html.Label("Casi Siempre")
                            @Html.ValidationMessageFor(u => u.pregunta8, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta8, "Casi Nunca", false)&nbsp;@Html.Label("Casi Nunca")
                            @Html.ValidationMessageFor(u => u.pregunta8, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta8, "Nunca", false)&nbsp;@Html.Label("Nunca")
                            @Html.ValidationMessageFor(u => u.pregunta8, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta8, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta8, null, new { @class = "label label-danger" })
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta9)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta9, "Excelente", false)&nbsp;@Html.Label("Excelente")
                            @Html.ValidationMessageFor(u => u.pregunta9, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta9, "Buena", false)&nbsp;@Html.Label("Buena")
                            @Html.ValidationMessageFor(u => u.pregunta9, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta9, "Regular", false)&nbsp;@Html.Label("Regular")
                            @Html.ValidationMessageFor(u => u.pregunta9, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta9, "Mala", false)&nbsp;@Html.Label("Mala")
                            @Html.ValidationMessageFor(u => u.pregunta9, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta9, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta9, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta11)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta11, "Siempre", false)&nbsp;@Html.Label("Siempre")
                            @Html.ValidationMessageFor(u => u.pregunta11, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta11, "Casi Siempre", false)&nbsp;@Html.Label("Casi Siempre")
                            @Html.ValidationMessageFor(u => u.pregunta11, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta11, "Casi Nunca", false)&nbsp;@Html.Label("Casi Nunca")
                            @Html.ValidationMessageFor(u => u.pregunta11, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta11, "Nunca", false)&nbsp;@Html.Label("Nunca")
                            @Html.ValidationMessageFor(u => u.pregunta11, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta11, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta11, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.pregunta10)</span></h5>
                            @Html.RadioButtonFor(model => model.pregunta10, "Siempre", false)&nbsp;@Html.Label("Siempre")
                            @Html.ValidationMessageFor(u => u.pregunta10, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta10, "Casi Siempre", false)&nbsp;@Html.Label("Casi Siempre")
                            @Html.ValidationMessageFor(u => u.pregunta10, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta10, "Casi Nunca", false)&nbsp;@Html.Label("Casi Nunca")
                            @Html.ValidationMessageFor(u => u.pregunta10, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta10, "Nunca", false)&nbsp;@Html.Label("Nunca")
                            @Html.ValidationMessageFor(u => u.pregunta10, null, new { @class = "label label-danger" })
                            <br />
                            @Html.RadioButtonFor(model => model.pregunta10, "No Aplica", false)&nbsp;@Html.Label("No Aplica")
                            @Html.ValidationMessageFor(u => u.pregunta10, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-12 form-group">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.observaciones)</span></h5>
                            @Html.TextAreaFor(p => p.observaciones, new { @class = "form-control", @rows = "4", @maxlength = "500" })

                        </div>
                        <div class="col-sm-12 form-group">
                            <h5><span class="text-secondary_asalud">@Html.LabelFor(p => p.justificacion)</span></h5>
                            @Html.TextAreaFor(p => p.justificacion, new { @class = "form-control", @rows = "4", @maxlength = "500" })
                        </div>
                        <div class="col-sm-12 form-group text-center">
                            @if (ViewBag.usuario != "14")
                            {
                                <input id="BtnActualizar" type="submit" value="INGRESAR" class="btn button_Asalud_Guardar" />
                            }
                            <button type="button" class="btn button_Asalud_Rechazar" onclick="history.back()">Volver</button>
                            <div>@Html.ValidationSummary(true, "")</div>
                            <div class="hidden">@Html.TextBoxFor(u => u.id_concurrencia)</div>
                        </div>
                    </div>
                </div>
            </div>


        </form>


    </div>


}
<script type="text/javascript">

</script>

<style>
    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }


    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .formulario h2 {
        font-size: 16px;
        color: #001F3F;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .formulario > div {
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
    }
</style>
