
@{
    ViewBag.Title = "ADMINISTRACIÓN DE CRITERIOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
    List<ECOPETROL_COMMON.ENTIDADES.ver_tipocriterio> lista = (List<ECOPETROL_COMMON.ENTIDADES.ver_tipocriterio>)ViewBag.ver_tipoVerificacion;
    int i = 0;
}

<br />

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12 form-group text-right">
                    <button id="btnaddcriterio" name="btnaddcriterio" class="btn button_Asalud_Aceptar btn-sm"><i class="glyphicon glyphicon-plus"></i>&nbsp; Nuevo tipo de criterio</button>
                </div>
                <form id="formulario">
                    <table id="tbltipocriterio" class="table table-striped table-bordered table-funcion" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Indice</th>
                                <th>Tipo criterio</th>
                                <th>Grupo cumplimiento</th>
                                <th>Impacto</th>
                                <th style="max-width:10px"></th>
                                <th style="max-width:10px"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.conteo != 0)
                            {
                                foreach (ECOPETROL_COMMON.ENTIDADES.ref_ver_tipoCriterio item in ViewBag.reftipocriterio)
                                {
                                    i += 1;
                                    var obj = lista.Where(l => l.id_tipo_criterio == item.id_tipo_criterio).FirstOrDefault();
                                    <tr>
                                        @if (obj != null)
                                        {
                                            <td class="text-center"><input value="@item.id_tipo_criterio" checked="checked" id="chk_@i" type="checkbox" class="check" onchange="activ(@i)" /></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><input value="@item.id_tipo_criterio" id="chk_@i" type="checkbox" class="check" onchange="activ(@i)" /></td>
                                        }
                                        <td>@item.indice</td>
                                        <td>@item.nombre_criterio</td>
                                        <td>
                                            @if (obj != null)
                                            {
                                                <select class="form-control" id="cbxgrupo_@i" required name="cbxgrupo_@i">
                                                    <option value="">-Seleccionar-</option>
                                                    @foreach (ECOPETROL_COMMON.ENTIDADES.ref_ver_grupo_tpocriterio item2 in ViewBag.refverGrupoTipoVerificacion)
                                                    {
                                                        if (obj.id_grupo_tipocriterio != null)
                                                        {
                                                            if (obj.id_grupo_tipocriterio == item2.id_grupoTipoCriterio)
                                                            {
                                                                <option selected value="@item2.id_grupoTipoCriterio">@item2.nombre_grupo_criterio</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item2.id_grupoTipoCriterio">@item2.nombre_grupo_criterio</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="@item2.id_grupoTipoCriterio">@item2.nombre_grupo_criterio</option>
                                                        }

                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control" id="cbxgrupo_@i" required name="cbxgrupo_@i" disabled>
                                                    <option value="">-Seleccionar-</option>
                                                    @foreach (ECOPETROL_COMMON.ENTIDADES.ref_ver_grupo_tpocriterio item2 in ViewBag.refverGrupoTipoVerificacion)
                                                    {
                                                        <option value="@item2.id_grupoTipoCriterio">@item2.nombre_grupo_criterio</option>
                                                    }
                                                </select>
                                            }
                                        </td>
                                        <td>

                                            @if (obj != null)
                                            {
                                                <select class="form-control select2" name="impacto_@i" id="impacto_@i" required>
                                                    <option value="">-Seleccione-</option>

                                                    @foreach (ECOPETROL_COMMON.ENTIDADES.ref_tipoCriterio impac in ViewBag.tipoImpacto)
                                                    {
                                                        if (obj.impacto != null)
                                                        {
                                                            if (Convert.ToInt32(obj.impacto) == impac.id_tipo)
                                                            {
                                                                <option selected value="@impac.id_tipo">@impac.descripcion</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@impac.id_tipo">@impac.descripcion</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="@impac.id_tipo">@impac.descripcion</option>
                                                        }
                                                    }

                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control select2" name="impacto_@i" id="impacto_@i" disabled required>
                                                    <option value="">...</option>
                                                    <  @foreach (ECOPETROL_COMMON.ENTIDADES.ref_tipoCriterio impac in ViewBag.tipoImpacto)
                                                    {
                                                        <option value="@impac.id_tipo">@impac.descripcion</option>
                                                    }
                                                </select>
                                            }

                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-sm button_Asalud_Aceptar" title="Editar" href="javascript:GetDatosTipoCriterio(@item.id_tipo_criterio)">
                                                <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-sm button_Asalud_Rechazar" title="Eliminar" href="javascript:EliminarTipoCriterio(@item.id_tipo_criterio, @ViewBag.tipoverificacion)">
                                                <i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10" style="text-align:center">No se han agregado criterios.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>

            </div>
            <div class="panel-footer text-center">
                <a role="button" href="@Url.Action("VerificacionFarmaceutica","Verificacion")" class="btn button_Asalud_Rechazar">Volver</a>
                <button class="btn button_Asalud_Guardar" onclick="GuardarAdminCriterios()" type="button">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAdd2" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-primary_asalud"></h4>
            </div>
            <div class="modal-body">
                <form id="form_add_tipo_criterio">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" id="txtidtipocriterio" name="txtidtipocriterio" value="0" />
                            <div class="form-group">
                                <label class="text-secondary_asalud">Indice:</label>
                                <input autocomplete="off" type="text" class="form-control" id="txtindicetipocriterio" name="txtindicetipocriterio" maxlength="4" required />
                            </div>
                            <div class="form-group">
                                <label class="text-secondary_asalud">Nombre tipo criterio:</label>
                                <textarea id="txtnomtipocriterio" name="txtnomtipocriterio" class="form-control" maxlength="400" required></textarea>
                                @*<input autocomplete="off" type="text" class="form-control" id="txtnomtipocriterio" name="txtnomtipocriterio" maxlength="200" required />*@
                            </div>
                            <div class="form-group">
                                <label class="text-secondary_asalud">Peso:</label>
                                <input autocomplete="off" type="text" class="form-control solo-numero" id="txtPeso" maxlength="4" name="txtPeso" required />
                            </div>
                            @*<div class="">
                                    <label class="text-secondary_asalud">Impacto</label>
                                    <select id="txtImpacto" name="txtImpacto" class="form-control select2" required>
                                        <option value="">...</option>
                                        <option value="alto">Alto</option>
                                        <option value="moderado">Moderado</option>
                                        <option value="bajo">Bajo</option>
                                        <option value="no">No aplica</option>
                                    </select>
                                </div>*@
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button_Asalud_Rechazar" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="Validar_formulario_2()" class="btn button_Asalud_Guardar">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/validate.js"></script>
<script>

    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    $(document).ready(function () {
        $("#btnaddcriterio").click(function () {
            $("#txtidtipocriterio").val(0)
            $("#txtindicetipocriterio").val("");
            $("#txtnomtipocriterio").val("");
            $("#txtpeso").val("");
            $(".modal-title").text("Agregar nuevo tipo de criterio");
            $("#ModalAdd2").modal('show');
        })
    })

    function ValidarSeleccionados() {
        var seleccionados = [];
        $("#tbltipocriterio tbody tr td .check").each(function () {
            var value = $(this).val();
            if ($(this).is(':checked')) {
                seleccionados.push(value);
            }
        })
        return seleccionados;
    }

    function ValidarSeleccionados2() {
        var count = "@i";
        var seleccionados = [];
        for (var i = 1; i <= count; i++) {
            if ($("#chk_" + i).is(':checked')) {
                seleccionados.push($("#cbxgrupo_" + i).val());
            }
        }

        return seleccionados;
    }

    function ValidarSeleccionados3() {
        var count = "@i";
        var seleccionados = [];
        for (var i = 1; i <= count; i++) {
            if ($("#chk_" + i).is(':checked')) {
                seleccionados.push($("#impacto_" + i).val());
            }
        }

        return seleccionados;
    }

    function Validar_formulario_2() {
        var validator = $("#form_add_tipo_criterio").validate();
        if (validator.form()) {
            $("#ModalAdd2").modal('hide');
            GuardarTipoCriterio();
        }
    }

    function GuardarTipoCriterio() {
        debugger
        LoadingShow();
        var id = "@ViewBag.tipoverificacion";
        var peso = document.getElementById("txtPeso").value;
        //var impacto = $("#txtImpacto").val();

        $.ajax({
            url: "@Url.Action("GuardarTipoCriterio")",
            type: "post",
            data: {
                idtipocriterio: $("#txtidtipocriterio").val(),
                indice: $("#txtindicetipocriterio").val(),
                NomTipoCriterio: $("#txtnomtipocriterio").val(),
                peso: peso
                //    impacto: impacto
            },
            success: function (data) {

                alert(data.msj);
                LoadingHide();

                if (data.rta == 0) {
                    var url = "@Url.Action("AdminCriterios", "Verificacion")?idTipoVerificacion=" + id;
                    location.href = url;
                }
            }
        })
    }

    function GetDatosTipoCriterio(a) {
        var idtipocriterio = a;
        $.ajax({
            url: "@Url.Action("GetdatosTipoCriterio")",
            type: "post",
            data: { idtipocriterio: idtipocriterio },
            success: function (data) {
                if (data != 0) {

                    $("#txtidtipocriterio").val(data.idtipocriterio);
                    $("#txtindicetipocriterio").val(data.idc);
                    $("#txtnomtipocriterio").val(data.nomtipocriterio);
                    $("#txtPeso").val(data.peso);

                    //$("#txtImpacto").val(data.impacto).trigger("change");

                    $(".modal-title").text("Editar nuevo tipo de cohorte");
                    $("#ModalAdd2").modal('show');
                }
                else {
                    alert("No se ha encontrado el tipo de cohorte");
                }
            }
        });
    }

    function EliminarTipoCriterio(a, b) {
        var idtipocriterio = a;
        var tipoadh = b;
        Swal.fire({
            title: 'Estas Seguro(a)?',
            text: "Este tipo de criterio quedara eliminado permanentemente, y con el todos los criterios que estén asociados al mismo.",
            showCancelButton: true,
            confirmButtonColor: '#80ab97',
            cancelButtonColor: '#883344',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                var url = "@Url.Action("EliminarTipoCriterio", "Verificacion")?idtipocriterio=" + idtipocriterio + "&tipoahd=" + tipoadh;
                location.href = url;
            }
        })
    }

    function GuardarAdminCriterios() {
        var validator = $("#formulario").validate();

        if (validator.form()) {

            LoadingShow();

            var id = "@ViewBag.tipoverificacion";
            var seleccionados = ValidarSeleccionados();
            var seleccionados2 = ValidarSeleccionados2();
            var seleccionados3 = ValidarSeleccionados3();

            if (seleccionados.length > 0) {
                $.ajax({
                    url: "@Url.Action("GuardarAdmincriterios")",
                    type: "post",
                    data: {
                        tipoVerificacion: id,
                        seleccionados: seleccionados,
                        seleccionados2: seleccionados2,
                        seleccionados3: seleccionados3
                    },
                    success: function (data) {

                        alert(data.msj);
                        LoadingHide();

                        if (data.rta == 1) {
                            var url = "@Url.Action("VerificacionFarmaceutica", "Verificacion")";
                            location.href = url;
                        }
                    }
                })
            } else {
                Swal.fire(
                    'Algo salio mal!',
                    'Debe seleccionar al menos un tipo de criterio.',
                    'error'
                )
            }
        }

    }

    function activ(i) {
        if ($("#chk_" + i).is(':checked')) {
            $("#cbxgrupo_" + i).prop('disabled', false);
            $("#impacto_" + i).prop('disabled', false);
        } else {
            $("#cbxgrupo_" + i).val("");
            $("#cbxgrupo_" + i).prop('disabled', true);
            $("#impacto_" + i).prop('disabled', true);
        }
    }

</script>

<style>
    #pnlPrincipal {
        padding-left: 1%;
        padding-right: 2%;
    }

    #pnlcargararchivo {
        margin-top: 5%;
    }

    .error {
        color: indianred;
        font-size: 13px;
    }

    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }
</style>

