@model List<ECOPETROL_COMMON.ENTIDADES.calidad_quejas_validas_base_zip>
@{
    ViewBag.Title = "CARGAR BASE QUEJAS VALIDAS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
    int rta = (int)ViewData["rta"];
    string Msg = (string)ViewData["Msg"];
    string rol = (string)ViewBag.rol;
    string usuario = (string)ViewBag.usuario;
}


<br />
@if (rta != 0)
{
    if (rta == 1)
    {
        <div class="alert alert-success" role="alert">
            <strong>Éxito </strong>@Msg
        </div>
    }
    else if (rta == 2)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Error </strong>@Msg
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            <strong>Éxito </strong>Documento eliminado correctamente!
        </div>
    }
    <br />
}


<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="text-primary-Asalud">CARGUES REALIZADOS</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 text-right form-group">
                <button class="btn button_Asalud_Aceptar" type="button" onclick="AbrirModal()">Cargar Archivo</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha de cargue</th>
                    <th>Observaciones</th>
                    <th>Descargar</th>
                    <th>Eliminar documento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ECOPETROL_COMMON.ENTIDADES.calidad_quejas_validas_base_zip item in Model)
                {
                    <tr>
                        <td>@item.fecha.ToString("dd/MM/yyyy")</td>
                        <td>@item.observaciones</td>
                        <td class="text-center"><a role="button" class="btn btn-sm button_Asalud_descargas" href="javascript:DescargarBaseQuejasValidas(@item.id_calidad_quejas_validas_base_zip)">Ver documento</a></td>
                        <td class="text-center">
                            @if (rol == "1" || usuario == "jcastellanosp")
                            {
                                <a role="button" class="btn btn-sm button_Asalud_Rechazar" href="javascript:EliminarArchivo(@item.id_calidad_quejas_validas_base_zip)">Eliminar documento</a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="text-primary_asalud">CARGAR DOCUMENTO</strong>
            </div>

            <div class="modal-body">
                <form id="formulario" method="post" action="CargueBaseQuejasValidas" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label class="text-secondary_asalud">Seleccionar documento:</label>
                            <input type="file" class="form-control" id="file" name="file" accept=".zip,.rar" required onchange="ValidacionArchivo()" />
                        </div>
                        <div class="col-sm-12 form-group">
                            <label class="text-secondary_asalud">Fecha de cargue:</label>
                            <input class="datepickerr" autocomplete="off" style="width: 100%" name="fechacargue" id="fechacargue" required/>
                        </div>
                        <div class="col-sm-12">
                            <label class="text-secondary_asalud">Observaciones:</label>
                            <textarea class="form-control" id="observaciones" name="observaciones" rows="4" maxlength="2000" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ValidarFormulario()" class="button_Asalud_Guardar">GUARDAR CAMBIOS</button>
                <button type="button" class="button_Asalud_Rechazar" data-dismiss="modal">CERRAR</button>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/validate.js"></script>

<script>
    $(document).ready(function () {
        $('.select2').select2({
            width: '100%'
        });

        $(".datepickerr").kendoDatePicker({
            format: "MM/dd/yyyy"
        });

        $('.table').DataTable({
            "sSearch": "Buscar:",
            "searching": true,
            "iDisplayLength": 50,
            "lengthChange": false,
            "info": false,
            responsive: true,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    })

    function AbrirModal()
    {
        var fileInput = document.getElementById('file');
        var filePath = fileInput.value;
        fileInput.value = '';
        $("#observaciones").val("");
        $("#modal").modal('show');
    }

    function ValidarFormulario()
    {
        var validator = $("#formulario").validate();
        if (validator.form()) {
            LoadingShow();
            $("#formulario").submit();
        }
    }

    function ValidacionArchivo()
    {
        var fileInput = document.getElementById('file');
        var filePath = fileInput.value;
        var allowedExtensions = /(.zip|.rar)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Por favor, solo subir archivos comprimidos');
            fileInput.value = '';
            return false;
        } else {
            return true
        }
    }

    function EliminarArchivo(a)
    {
        var txt = confirm("¿está seguro/a de eliminar este archivo?")
        if (txt)
        {
            LoadingShow();
            var url = "@Url.Action("EliminarArchivoQuejas","Insumos")?id=" + a
            location.href = url;
        }
    }

    function DescargarBaseQuejasValidas(id)
    {
        var url = "@Url.Action("DescargarBaseQuejasValidas", "Insumos")?id=" + id
        window.open(url, '', 'width=700,height =500,left =50,top =50,toolbar =yes');
    }
</script>

<style>
    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>
