@model List<ECOPETROL_COMMON.ENTIDADES.vw_calidad_oportunidad_citas_medicina_gnral_indicador>
@{
    ViewBag.Title = "TABLERO DE CONTROL OPORTUNIDAD DE CITAS MEDICAS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
    int conteoResultados = ViewBag.countresultados;
    int resultado = ViewBag.resultado;


}

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js"></script>
<link rel="Stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" />

<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="text-primary-Asalud">TABLERO DE OPORTUNIDAD DE CITAS MEDICAS</strong>
    </div>
    <div class="panel-body">
        <form id="formulario" method="post" action="TableroOportunidadCitasMedicas">
            <div class="row">
                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Periodo fecha inicio</label>
                    <input class="datepickerr" style="width: 100%" name="FechaInicialfiltro" id="FechaInicialfiltro" />
                </div>
                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Periodo fecha final</label>
                    <input class="datepickerr" style="width: 100%" name="FechaFinalfiltro" id="FechaFinalfiltro" />
                </div>
                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Nit prestador</label>
                    <input type="text" autocomplete="off" class="form-control solo-numero" name="Codprestador" id="Codprestador" maxlength="100" />
                </div>
                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Prestador</label>
                    <input type="text" autocomplete="off" class="form-control" name="Prestador" id="Prestador" maxlength="100" />
                </div>
                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Documento profesional</label>
                    <input type="text" autocomplete="off" class="form-control solo-numero" name="Docprofesional" id="Docprofesional" maxlength="100" />
                </div>
                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Profesional</label>
                    <input type="text" autocomplete="off" class="form-control" name="Profesional" id="Profesional" maxlength="100" />
                </div>

                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Regional</label>
                    <select class="form-control select2" style="width:100%" name="regional" id="regional" onchange="ObtenerUnis($(this).val())">
                        <option value="">- Seleccione -</option>
                        @{ string reg = (string)ViewBag.reg;}
                        @foreach (ECOPETROL_COMMON.ENTIDADES.Ref_regional item in ViewBag.regional)
                        {

                            if (!string.IsNullOrEmpty(reg))
                            {
                                if (reg == item.indice)
                                {
                                    <option selected value="@item.indice">@item.indice</option>
                                }
                                else
                                {
                                    <option value="@item.indice">@item.indice</option>
                                }
                            }
                            else
                            {
                                <option value="@item.indice">@item.indice</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Unis:</label>
                    <select class="form-control select2" id="unis" name="unis" onchange="ObtenerCiudades($(this).val())">
                        <option value="">- Seleccionar -</option>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label class="text-secondary_asalud">Localidad:</label>
                    <select class="form-control select2" id="ciudad" name="ciudad">
                        <option value="">- Seleccionar -</option>
                    </select>
                </div>
            </div>
            @if (resultado == 2)
            {
                <div class="row">
                    <div class="col-sm-12" style="text-align:center; font-family:'Century Gothic'; color:red;">
                        <p style="font-family:'Century Gothic'">@Html.Raw("No hay datos en el periodo filtrado")</p>
                    </div>
                </div>
            }
            <div class="row" style="margin-top:1%">
                <div class="col-sm-4 form-group">
                    <label class="text-secondary_asalud">• Citas cumplidas : @ViewBag.citascumplidas</label>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="text-secondary_asalud">• Citas asignadas: @ViewBag.citasasignadas</label>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="text-secondary_asalud">• %Indicador: @ViewBag.indicador</label>
                </div>
            </div>

            <div>
                <div class="col-sm-12 form-group text-right">
                    <label style="width:100%;visibility:hidden" class="text-secondary_asalud">Boton buscar:</label>
                    <button class="btn button_Asalud_Guardar" type="button" onclick="ValidarFormulario()"><i class="glyphicon glyphicon-search"></i>&nbsp; Buscar</button>
                    @if (Model.Count > 0)
                    {
                        <a class="btn button_Asalud_descargas" href="@Url.Action("DescargarResultadosOportunidadCitasMedicas","Insumos")"><i class="glyphicon glyphicon-download"></i>&nbsp; Exportar reporte completo</a>
                    }
                </div>
            </div>
        </form>

        <br />
        <table id="tabla" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nit prestador</th>
                    <th>Prestador</th>
                    <th>Documento profesional</th>
                    <th>Profesional</th>
                    <th>Periodo</th>
                    <th>Mes/año</th>
                    <th>Regional</th>
                    <th>Citas cumplidas</th>
                    <th>Citas asignadas</th>
                    <th>% Indicador</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ECOPETROL_COMMON.ENTIDADES.vw_calidad_oportunidad_citas_medicina_gnral_indicador item in Model)
                {
                    <tr>
                        <td>@item.Nit_prestador</td>
                        <td>@item.Prestador</td>
                        <td>@item.doc_profesional</td>
                        <td>@item.profesional</td>
                        <td>@item.Periodo.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.mes/@item.año</td>
                        <td>@item.Regional</td>
                        <td>@item.citas_cumplidas</td>
                        <td>@item.citas_asignadas</td>
                        <td>@item.indicador_final%</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#FechaInicialfiltro").change(function () {
            var values = $(this).val();
            if (values != "") {
                $("#FechaFinalfiltro").prop('required', true);
            }
            else {
                $("#FechaFinalfiltro").prop('required', false);
            }
        })

        $("#FechaFinalfiltro").change(function () {
            var values = $(this).val();
            if (values != "") {
                $("#FechaInicialfiltro").prop('required', true);
            }
            else {
                $("#FechaInicialfiltro").prop('required', false);
            }
        })

        $('.select2').select2({
            width: '100%'
        });

        $(".datepickerr").kendoDatePicker({
            format: "MM/dd/yyyy"
        });

        $('.table').DataTable({
            "sSearch": "Buscar:",
            "searching": true,
            "iDisplayLength": 50,
            "lengthChange": false,
            "info": false,
            responsive: true,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });

        $("#Prestador").autocomplete({
            source: "/Insumos/Buscar_Prestador_citasmed_odontologia",
            type: "POST",
            dataType: "json",
            minLenght: 0,
            change: function (evento, ui) {
                if (ui.item != null) {
                    $(this).val(ui.item.nombre);
                }
            }
        })

        $("#Codprestador").autocomplete({
            source: "/Insumos/Buscar_CodPrestador_citasmed_odontologia",
            type: "POST",
            dataType: "json",
            minLenght: 0,
            change: function (evento, ui) {
                if (ui.item != null) {
                    $(this).val(ui.item.Nit);
                }
            }
        })

        $("#Docprofesional").autocomplete({
            source: "/Insumos/Buscar_CodProfesional_citasmed_odontologia",
            type: "POST",
            dataType: "json",
            minLenght: 0,
            change: function (evento, ui) {
                if (ui.item != null) {
                    $(this).val(ui.item.documento);
                }
            }
        })

        $("#Profesional").autocomplete({
            source: "/Insumos/Buscar_Profesional_citasmed_odontologia",
            type: "POST",
            dataType: "json",
            minLenght: 0,
            change: function (evento, ui) {
                if (ui.item != null) {
                    $(this).val(ui.item.nombre);
                }
            }
        })
    })

    function ObtenerUnis(a) {
        if (a != "") {
            $.ajax({
                url: "@Url.Action("ObtenerUnis")",
                type: "post",
                data: { idregional: a },
                success: function (data) {
                    $("#unis").empty();
                    $("#unis").html(data);
                    $("#unis").val("").trigger("change");
                }
            })
        }
    }

    function ObtenerCiudades(a) {
        if (a != "") {
            $.ajax({
                url: "@Url.Action("ObtenerCiudades")",
                type: "post",
                data: { idunis: a },
                success: function (data) {
                    $("#ciudad").empty();
                    $("#ciudad").html(data);
                    $("#ciudad").val("").trigger("change");

                }
            })
        }
    }

    function ObtenerIps(a) {
        if (a != "") {
            $.ajax({
                url: "@Url.Action("ObtenerIPS")",
                type: "post",
                data: { Ciudad: a },
                success: function (data) {
                    $("#ips").empty();
                    $("#ips").html(data);
                    $("#ips").val("").trigger("change");
                }
            })
        }
    }

    function ValidarFormulario() {
        var validator = $("#formulario").validate();
        if (validator.form()) {
            LoadingShow();
            $("#formulario").submit();
        }
    }
</script>

<style>
    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    #tabla {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

        #tabla th {
            font-weight: bold;
            padding: 8px;
            background: #636363;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        #tabla td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        #tabla tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>

