@model AsaludEcopetrol.Models.Consulta.Consulta
@{
    ViewBag.Title = "FACTURAS SIN GESTIONAR";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />


<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center th" style='display:none;'>ID DEVOLUCION</th>
                    <th class="text-center th">NUMERO FACTURA</th>
                    <th class="text-center th">FECHA FACTURA</th>
                    <th class="text-center th">FECHA RECEPCION</th>
                    <th class="text-center th">IPS</th>
                    <th class="text-center th">VALOR FACTURA</th>
                    <th class="text-center th">AUDITAR</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.ListFacturasSin)
                {
                    <tr>
                        <td style='display:none;'>@order.id_factura_sin_censo</td>
                        <td>@order.numero_factura</td>
                        <td>@order.fecha_factura.Value.ToString("dd/MM/yyyy")</td>
                        <td>@order.fecha_recepcion.Value.ToString("dd/MM/yyyy")</td>
                        <td>@order.ips</td>
                        <td>@order.valor_factura</td>
                        <td>
                            <a class="btn button_Asalud_Aceptar" href="@Url.Action("GestionFacturasinCenso", "Facturas", new { ID= order.id_factura_sin_censo})">
                                GESTIONAR
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*@{Html.RenderPartial("_paginador", Model);}*@
    </div>
</div>

<script src="httpS://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('.table').DataTable({
            "searching": true,
            "aLengthMenu": [[10, 30, 200, 500, 1000, 5000, -1], [10, 30, 200, 500, 1000, 5000, "Todos"]],
            "iDisplayLength": 10,
            "lengthchange": false,
            "info": false,
            "responsive": true,
            "zeroRecords": "No se encontraron resultados",
            responsive: true,
            language: {
                sLengthMenu: "Ver _MENU_ registros",
                processing: "Procesando...",
                search: "Buscar:",
                lengthmenu: "Mostrar menu registros",
                info: "Mostrando registros del start al end de un total de total registros",
                infoempty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                infofiltered: "(Filtrado de un total de max registros)",
                loadingrecords: "Cargando...",
                zerorecords: "No se encontraron resultados",
                emptytable: "Ningún dato disponible en esta tabla",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo",
                },
            }
        });
    });

</script>


<style>
    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }
</style>















