
@{
    string rol2 = (string)ViewBag.rol2;
    Int32? idusuario2 = (Int32?)ViewBag.idusuario2;

}

<div class="tab-pane active" id="1a">
    <div class="col-md-12 text-right divDescarga">
        <a class="button_Asalud_descargas botonFiltro" onclick="descargarPqrSemaforo(1);" style="text-align:right;"><i class="glyphicon glyphicon-download"></i> DESCARGAR</a>
    </div>
    <div class="container">
        <div class="panel panel-default">

            <div class="panel-heading">
                <form id="divFiltro" method="post" action="TableroControl" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 form-group" style="font-size:13px; text-align:center;">
                            <div>
                                <a class="text-primary_asalud" style="color: #636363;" onclick="mostrarEstados2(1)">
                                    SEMAFORIZACIÓN
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 form-group" style="font-size:13px;">
                            <div style="background-color: #D9DBDE; color: #636363 " class="contenedor1">
                                <a class="text-secondary_asalud" style="color: #636363;" onclick="mostrarEstados2(1)">
                                    Total casos: @ViewBag.Total2
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 form-group" style="font-size:13px;">
                            <div style="background-color: #b0c2f2; color: #636363; " class="contenedor1">
                                <a class="text-secondary_asalud" style="color: #636363;" onclick="mostrarEstados2(2)">
                                    Supersalud: @ViewBag.conteoFiltradas2["SuperSalud2"]
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 form-group" style="font-size:13px;">
                            <div style="background-color: #A29DD7; color: #636363; " class="contenedor1">
                                <a class="text-secondary_asalud" style="color: #636363;" onclick="mostrarEstados2(9)">
                                    Reabiertos: @ViewBag.conteoFiltradas2["Reabiertos2"]
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 form-group" style="font-size:13px;">
                            <div style="background-color: #FFBE8E; color: #636363; " class="contenedor1">
                                <a class="text-secondary_asalud" style="color: #636363;" onclick="mostrarEstados(10)">
                                    Devueltos cierre: @ViewBag.conteoFiltradas2["Devueltocierre2"]
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 form-group" style="font-size:13px;">
                            <div style="background-color: #883344; color: #c5c5c5; " class="contenedor1">
                                <a class="text-secondary_asalud" style="color: #c5c5c5;" onclick="mostrarEstados2(3)">
                                    Vencidos: @ViewBag.conteoFiltradas2["Vencidas2"]
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 form-group" style="font-size:13px;">
                            <div style="background-color: #FFFAE0; color: #636363; " class="contenedor1">
                                <a class="text-secondary_asalud" style="color: #636363; " onclick="mostrarEstados2(5)">
                                    Por priorizar: @ViewBag.conteoFiltradas2["Priorizar2"]
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 form-group" style="font-size:13px;">
                            <div style="background-color: #CF9CE3; color: #636363; " class="contenedor1">
                                <a class="text-secondary_asalud" style="color: #636363; " onclick="mostrarEstados2(7)">
                                    Ampliación: @ViewBag.conteoFiltradas2["Ampliacion2"]
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 form-group" style="font-size:13px;">
                            <div style="background-color: #E88693; color: #636363; " class="contenedor1">
                                <a class="text-secondary_asalud" style="color: #636363; " onclick="mostrarEstados2(8)">
                                    Ampliación vencidos: @ViewBag.conteoFiltradas2["AmpliacionVen2"]
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="panel-group" id="accordion" style="overflow-x:auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-md-3">

                        <a data-toggle="collapse" data-parent="#accordion" class="text-secondary_asalud collapse10" href="#collapse10">
                            En revisión con auditoría: @ViewBag.filtrado2["listaRevision2"]
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a data-toggle="collapse" data-parent="#accordion" class="text-secondary_asalud collapse20" href="#collapse20">
                            En revisión por analista: @ViewBag.filtrado2["listaSinrevision2"]
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a data-toggle="collapse" data-parent="#accordion" class="text-secondary_asalud collapse30" href="#collapse30">
                            VoBo auditor: @ViewBag.filtrado2["listaRespuestSi2"]
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a data-toggle="collapse" data-parent="#accordion" class="text-secondary_asalud collapse40" href="#collapse40">
                            Sin VoBo auditor: @ViewBag.filtrado2["listaRespuestNo2"]
                        </a>
                    </div>
                </div>
                <br />
                <div id="collapse10" class="panel-collapse collapse">
                    <div class="table-responsive">
                        @Html.Action("_conRevision2", "Pqrs")
                    </div>
                </div>
                <div id="collapse20" class="panel-collapse collapse in">
                    <div class="table-responsive">
                        @Html.Action("_sinRevision2", "Pqrs")
                    </div>
                </div>
                <div id="collapse30" class="panel-collapse collapse">
                    @Html.Action("_voBoAuditor2", "Pqrs")
                </div>
                <div id="collapse40" class="panel-collapse collapse">
                    @Html.Action("_voBoAuditorNo2", "Pqrs")
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        mostrarTabla20(20);

        $('#collapse10').on('shown.bs.collapse', function () {
            mostrarTabla20(10);
        });
        $('#collapse20').on('shown.bs.collapse', function () {
            mostrarTabla20(20);
        });

        $('#collapse30').on('shown.bs.collapse', function () {
            mostrarTabla20(30);
        });
        $('#collapse40').on('shown.bs.collapse', function () {
            mostrarTabla20(40);
        });
    });

    function mostrarTabla20(tipo) {

        var dato = $("#collapse" + tipo).hasClass("in");

        if (dato) {

            $('.tableRepartoSema').DataTable().destroy();

            $('.tableRepartoSema').DataTable({
                "searching": true,
                "idisplaylength": 10,
                "lengthchange": false,
                "info": false,
                responsive: true,
                language: {
                    processing: "procesando...",
                    search: "buscar:",
                    lengthmenu: "mostrar menu registros",
                    info: "mostrando registros del start al end de un total de total registros",
                    infoempty: "mostrando registros del 0 al 0 de un total de 0 registros",
                    infofiltered: "(filtrado de un total de max registros)",
                    infopostfix: "",
                    loadingrecords: "cargando...",
                    zerorecords: "no se encontraron resultados",
                    emptytable: "ningún dato disponible en esta tabla",
                    paginate: {
                        first: "primero",
                        previous: "anterior",
                        next: "siguiente",
                        last: "último",
                    },
                }
            });
        }
    }

    function MostrarArchivos(idPqrs, tipo) {

        var laURLDeLaVista = '@Url.Action("MostrarRepositorioArchivos")?idPqrs=' + idPqrs + "&tipo=" + tipo;
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {},
            success: function (response) {
                $('#resultado3').html('');
                $('#resultado3').html(response);

            }
        });
    }

    function descargarPqrSemaforo(tipo) {
        var URL = "@Url.Action("ExportarInformePQRSSalesForce", "Pqrs")?tipo=" + tipo;
        window.open(URL, '', 'width=500,height=150,left=50,top=550,toolbar =yes');
    }

</script>


<style>

    .collapse {
        display: none;
    }

    .collapsing {
        height: 0;
        overflow: hidden;
    }

    .dataTables_length {
        visibility: hidden;
    }

    .reabierto {
        width: 25px;
        height: 18px;
        border-radius: 5px;
        margin-left: -20px;
    }
</style>
