
@if (ViewBag.conteoDetalle > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="control-label text-secondary_asalud">DETALLE GESTIÓN PQRS</strong>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-bordered" style="font-size:10px;">
                <tbody>
                    <tr>
                        <th class="text-center">Subtemática</th>
                        <th class="text-center">Prestador</th>
                        <th class="text-center">Fecha gestión</th>
                        <th class="text-center">Requirió llamada</th>
                        <th class="text-center">A quién llamó</th>
                        <th class="text-center">Nombre quién llamó</th>
                        <th class="text-center">Observación</th>
                        <th class="text-center">Observación ampliación</th>
                        <th class="text-center">Fecha ampliación</th>
                        <th class="text-center">Vobo auditor</th>
                        <th class="text-center">Nombre Vobo auditor</th>
                        <th class="text-center">Edad beneficiario</th>
                        <th class="text-center">Fecha envío prestador</th>
                        <th class="text-center">Componente</th>
                    </tr>

                    @foreach (ECOPETROL_COMMON.ENTIDADES.vw_ecop_PQRS_DetalleG item in ViewBag.listaDetalle)
                    {
                        <tr>
                            <td>@item.subtematica_des </td>
                            <td>@item.descripcion_prestador </td>
                            <td>@item.fecha_gestion </td>
                            <td>@item.requirio_llamada </td>
                            <td>@item.quien_llamo_desc </td>
                            <td>@item.nombre_quien_llamo </td>
                            <td>@item.observacion_gestion </td>
                            <td>@item.observacion_ampliacion </td>
                            <td>@item.fecha_ampliacion </td>
                            <td>@item.vobo_auditor </td>
                            <td>@item.nombre_vobo_auditor</td>
                            <td>@item.edad_beneficiario</td>
                            <td>@item.fecha_envio_prestador</td>
                            <td>@item.descripcion_componente</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
}
else
{
    <div class="alert alert-danger" role="alert">
        SIN GESTIÓN DEL ANALISTA.
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="control-label text-secondary_asalud">DETALLE GESTIÓN PQRS AUDITOR</strong>
    </div>
    <div class="panel-body">
        @if (ViewBag.conteoAuditor > 0)
        {
            <table class="table table-bordered" style="font-size:10px;">
                <tbody>
                    <tr>
                        <th class="text-center">Observación</th>
                        <th class="text-center">Atributo</th>
                        <th class="text-center">Válido</th>
                        <th class="text-center">VoBo</th>
                        <th class="text-center">Respuesta prestador</th>
                        <th class="text-center">Contacto con beneficiario</th>
                        <th class="text-center">Contacto técnico auditor</th>
                        <th class="text-center">Soluciona el problema</th>
                        <th class="text-center">Fecha ingreso</th>
                    </tr>

                    @foreach (var item in ViewBag.listaAuditor)
                    {
                        <tr>
                            <td>@item.observacion_gestion </td>
                            <td>@item.descripcion </td>
                            <td>@item.validez </td>
                            <td>@item.vobo </td>
                            <td>@item.respuesta_prestador </td>
                            <td>@item.contacto_con_beneficiario </td>
                            <td>@item.concepto_tecnico_auditor </td>
                            <td>@item.soluciona_el_problema </td>
                            <td>@item.fecha_ingreso</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                SIN GESTIÓN DEL AUDITOR.
            </div>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="control-label text-secondary_asalud">OBSERVACIONES AUDITOR</strong>
    </div>
    <div class="panel-body">
        @if (ViewBag.conteoObservaciones > 0)
        {
            <table class="table table-bordered" style="font-size:10px;">
                <tbody>
                    <tr>
                        <th class="text-center">Observación</th>
                        <th class="text-center">Fecha gestión</th>
                        <th class="text-center">Auditor gestiona</th>
                    </tr>

                    @foreach (ECOPETROL_COMMON.ENTIDADES.management_pqrs_observacionesAuditorResult item in ViewBag.observaciones)
                    {
                        <tr>
                            <td>@item.observacion </td>
                            @*<td>@item.fecha_digita.Value.ToString("dd/MM/yyyy") </td>*@
                            <td>@item.fecha_digita.Value.ToString("dd/MM/yyyy HH:mm") </td>
                            <td>@item.nombre </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                SIN OBSERVACIONES DEL AUDITOR.
            </div>
        }
    </div>
</div>
