
@{
    var numeroCaso = ViewBag.numCaso;
    var i = 0;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="title text-center">
            <h4>
                <a class="text-primary_asalud" data-toggle="collapse" data-parent="#accordion">ARCHIVOS INGRESO PQR</a>
            </h4>
            <h5>
                <label class="text-secondary_asalud">Id. @ViewBag.idPqr</label>
                <input type="hidden" id="idPqr" name="idPqr" value="@ViewBag.idPqr" />
                <input type="hidden" id="numeroCaso" name="numeroCaso" value="@ViewBag.numCaso" />
            </h5>

        </p>
    </div>

    <br />

    <div class="col-md-12 text-right">
        <a class="btn btn-sm button_Asalud_Rechazar" onclick="EliminarMasivos()">Eliminar masivo</a>
    </div>
    <br />
    <br />

    <div class="panel-body">
        <div id="divTabla">
            <div class="table-responsive">
                <table id="tableGestionDocumentalArchivos" class="table table-bordered table-condensed" style="font-size:11px; width:100%;  margin:0px !important">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <input type="checkbox" id="chkSeleccionarTodos" name="chkSeleccionarTodos" />
                            </th>

                            <th class="text-center">Fecha de cargue</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Archivo</th>
                            <th class="text-center">Usuario creador</th>
                            <th class="text-center">Ver</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="tbodytbl2">
                        @if (ViewBag.conteoArchivos > 0)
                        {

                            foreach (ECOPETROL_COMMON.ENTIDADES.management_pqrs_mirarArchivosResult item in ViewBag.lista)
                            {
                                i++;
                                <tr>

                                    <td style="text-align:center;">
                                        <input type="checkbox" id="chekSi_@i" class="chkCargue" />
                                        <input type="hidden" id="idArchivo_@i" value="@item.id_gestion_documental_pqrs" />
                                    </td>

                                    @if (item.cargue_fecha != null)
                                    {
                                        <td class="text-center">@item.cargue_fecha.Value.ToString("dd/MM/yyyy H:mm:ss")</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">@item.cargue_fecha</td>
                                    }

                                    <td class="text-center">@item.descripcionTipo</td>
                                    <td class="text-center">@item.nombreArchivo</td>
                                    <td class="text-center">@item.nombreCargador</td>

                                    <td class="text-center">
                                        <a href='javascript:MostrarArchivo(@item.id_gestion_documental_pqrs);'>Ver archivo</a>
                                    </td>

                                    @*@if (ViewBag.rol == "1" || ViewBag.rol == "10" || ViewBag.rol == "34")*@


                                    <td class="text-center">
                                        <a class="button_Asalud_Rechazar" onclick="EliminarArchivo(@item.id_gestion_documental_pqrs, @item.id_ecop_pqr);">
                                            Eliminar
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12" style="text-align:center; font-size:15px;">
                                    <label>Sin archivos.</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />

        <div id="divFormulario">
            <form id="formularioArchivosIngreso">
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-secondary_asalud">Adjuntar:</label><span style="color:red"></span>
                        <input type="file" class="form-control" name="archivos" id="archivos" multiple onchange="validarArchivos(this)" />
                        <div id="mensajeError" style="color: red;"></div>
                    </div>

                    <div class="col-md-4">
                        <label class="text-secondary_asalud">¿Enviar caso?</label><span style="color:red"></span>
                        <input type="radio" value="1" id="radioOpcion" name="radioOpcion" required onchange="cambioOpcion(this.value)" /> SI
                        <input type="radio" value="0" id="radioOpcion" name="radioOpcion" required onchange="cambioOpcion(this.value)" /> NO
                        <input type="hidden" id="seleccionRadio" name="seleccionRadio" />

                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="text-center">
                        <button class="button_Asalud_Guardar" id="btnguardar" type="button" onclick="ValidarformularioArchivos()">GUARDAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/validate.js"></script>
<script>

    var seleccionadosSi = [];

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%'
        });

        //$("#tipoArchivo").find("option[value='3']").remove();

        $("#chkSeleccionarTodos").change(function () {
            debugger
            if ($(this).is(':checked')) {

                $("#tableGestionDocumentalArchivos .chkCargue").each(function () {
                    $("#tableGestionDocumentalArchivos .chkCargue").prop('checked', true);
                })
            }
            else {

                $("#tableGestionDocumentalArchivos .chkCargue").each(function () {
                    $("#tableGestionDocumentalArchivos .chkCargue").prop('checked', false);
                })
            }
        });

        MostrarTablaArch();

    });

    function MostrarTablaArch() {
        var conteo = "@ViewBag.conteoArchivos";
        if (conteo > 0) {
            $('#tableGestionDocumentalArchivos').DataTable().destroy();
            $('#tableGestionDocumentalArchivos').DataTable({
                "searching": true,
                "iDisplayLength": 10,
                "lengthChange": false,
                "info": false,
                "order": [[0, "asc"]],
                responsive: true,
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar MENU registros",
                    info: "Mostrando registros del START al END de un total de TOTAL registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de MAX registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último",
                    },
                }
            });
        }
    }

    function validarArchivos(input) {
        var archivos = input.files;
        var mensajeError = document.getElementById('mensajeError');

        for (var i = 0; i < archivos.length; i++) {
            var archivo = archivos[i];
            var nombreArchivo = archivo.name;

            // Verificar si el archivo tiene la extensión .bat o .exe
            if (nombreArchivo.endsWith('.bat') || nombreArchivo.endsWith('.exe')) {
                mensajeError.innerHTML = 'No se permiten archivos .bat o .exe';
                input.value = ''; // Limpiar la selección
                return;
            }
        }

        // Si todos los archivos son válidos, borrar el mensaje de error
        mensajeError.innerHTML = '';
    }

    function getFileExtension3(filename) {
        return filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2);
    }

    function ValidarformularioArchivos() {
        var validator = $("#formularioArchivosIngreso").validate();
        if (validator.form()) {
            GuardarArchivosNuevos();
        }
    }

    function MostrarArchivo(idArchivo) {
        var url = "@Url.Action("VerArchivoIngresoPqr", "Pqrs")?idArchivo=" + idArchivo;
        popupWindow = window.open(url, '', 'height=150,width=500,left=50,top=550,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes')
    }

    function cambioOpcion(valor) {
        if (valor == 1) {
            document.getElementById("seleccionRadio").value = "SI";
        } else{
            document.getElementById("seleccionRadio").value = "NO";
        }
    }

    function GuardarArchivosNuevos() {

        var numeroCaso = document.getElementById("numeroCaso").value;
        //alert(numeroCaso);
        //return false;
        var idPqr = $("#idPqr").val();

        var formData = new FormData($("form")[0]);
        formData.append("idPqr", $("#idPqr").val());
        formData.append("opcion", $("#seleccionRadio").val());

        var archivos = $("#archivos").get(0).files;
        for (i = 0; i < archivos.length; i++) {
            formData.append("files", archivos[i]);
        }

        formData.append("numerocaso", numeroCaso);
        LoadingShow();
        $.ajax({

            url: "@Url.Action("GuardarArchivoDeInicial", "Pqrs")",
            method: "post",
            data: formData,
            type: "post",
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.rta != 0) {
                    alert(data.mensaje);
                    LoadingHide();

                    if (data.secierra == 1) {
                        location.reload();
                    } else {
                        MostrarArchivosRepos(idPqr);

                    //    $("#myModalArchivos").modal("hide");
                    }


                } else {
                    alert(data.mensaje);
                    LoadingHide();
                    //$("#myModalArchivos").modal("hide");
                }
            }
        })

    }

    function EliminarArchivo(idArchivo, idPqrs) {
        if (confirm('Está a punto de eliminar un archivo ¿Desea continuar?')) {
            EliminarRegistro(idArchivo, idPqrs);
        }
    }

    function EliminarRegistro(idArchivo, idPqrs) {

        var formData = new FormData($("form")[0]);
        formData.append("idArchivo", idArchivo);
        formData.append("idPqrs", idPqrs);

        LoadingShow();
        $.ajax({
            url: "@Url.Action("EliminarArchivoPqrCierre", "Pqrs")",
            type: "post",
            data: formData,
            method: 'POST',
            contentType: false,
            processData: false,

            success: function (response) {

                if (response.success) {
                    LoadingHide();
                    alert(response.message);
                    location.reload();
                }
                else {
                    LoadingHide();
                    alert(response.message);
                }
            }
        })
    }

    function EliminarMasivos() {

        debugger
        validacionCheckeoIdSi();
        if (seleccionadosSi.length > 0) {
            var confirmar = confirm("¿Seguro(a) de eliminar estos archivos?");
            if (confirmar == true) {
                var idPqr = $("#idPqrs").val();

                LoadingShow();
                $.ajax({
                    url: "@Url.Action("EliminarArchivoPqrCierreMasivo", "Pqrs")",
                    type: "post",
                    data: {
                        idPqr: idPqr,
                        listadoId: seleccionadosSi
                    },
                    method: 'POST',

                    success: function (response) {
                        alert(response.mensaje);
                        LoadingHide();
                        if (response.rta == 1) {
                            location.reload();
                        }
                    }
                })


            }
        } else {
            alert("Seleccione archivos para eliminar");
            return false;
        }
    }

    function validacionCheckeoIdSi() {
        var conteo = @i;
        seleccionadosSi = [];

        for (var i = 1; i <= conteo; i++) {
            var valor = document.getElementById('chekSi_' + i);
            if (valor != null) {
                if (valor.checked) {
                    var item = document.getElementById("idArchivo_" + i).value;
                    seleccionadosSi.push(item);
                }
            }
        }
    }

</script>

<style>
    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 10px;
        margin: 10px;
        width: 600px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #ffffff;
    }

    td {
        padding: 8px;
        background: #ffffff;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .contenedor1 {
        border-radius: 10px;
        height: 30px;
        font-weight: 600;
        text-align: center;
    }
</style>