@using Kendo.Mvc.UI;
@model AsaludEcopetrol.Models.PQRS.GestionPqrs
@{
    ViewBag.Title = "CASOS PQRS EN REVISIÓN ANALISTA";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

@{
    string alerta = (string)ViewData["alerta"];
}

<br>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (!String.IsNullOrEmpty(alerta))
            {
                @Html.Raw(alerta);
            }
        </div>
    </div>
</div>

<br />

@using (Html.BeginForm())
{


    <fieldset>
        <div class="container">

            <form id="frm-alumno">


                <div class="panel panel-default">

                    <div class="panel-heading">

                        <strong class="text-primary_asalud">Gestion analista</strong>
                    </div>

                    <div class="panel-body">

                        <table class="table table-bordered table-condensed" style="font-size:11px">

                            <thead>
                                <tr>


                                    <th class="text-center">ID</th>
                                    <th class="text-center">ID PQRS</th>
                                    <th class="text-center">Numero caso</th>
                                    <th class="text-center">Consecutivo caso</th>
                                    <th class="text-center">Fecha ingreso salesforce</th>
                                    <th class="text-center">Fecha ingreso buzon asalud</th>
                                    <th class="text-center">Fecha Asignacion</th>
                                    <th class="text-center">Regional</th>
                                    <th class="text-center">Ciudad</th>
                                    <th class="text-center">Auditor asignado</th>
                                    <th class="text-center">Analista asignado</th>
                                    <th class="text-center">Detalle</th>
                                    <th class="text-center">Proyeccion</th>
                                    <th class="text-center">Opciones</th>
                                    <th class="text-center">Observacion auditor</th>


                                </tr>
                            </thead>
                            <tbody>

                                @foreach (ECOPETROL_COMMON.ENTIDADES.vw_ecop_PQRS_enrevision item in ViewBag.listaenrevision)
                                {

                                <tr>

                                    <td class="text-center">@item.id_ecop_PQRA_enrevision </td>
                                    <td class="text-center">@item.id_ecop_PQRS</td>
                                    <td class="text-center">@item.numero_caso </td>
                                    <td class="text-center">@item.consecutivo_caso </td>
                                    @if (item.fecha_ingreso_salesforce != null)
                                    {

                                        <td class="text-center">@item.fecha_ingreso_salesforce.Value.ToString("MM/dd/yyyy") </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    @if (item.fecha_ingreso_buzon_asalud != null)
                                    {

                                        <td class="text-center">@item.fecha_ingreso_buzon_asalud.Value.ToString("MM/dd/yyyy") </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    @if (item.fecha_asignacion != null)
                                    {

                                        <td class="text-center">@item.fecha_asignacion.Value.ToString("MM/dd/yyyy") </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    <td>@item.regional_descripcion </td>
                                    <td>@item.ciudad_del_caso_descripcion </td>
                                    <td>@item.nombre_auditor_des </td>
                                    <td>@item.usuario_asignado_descrip</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-default text-center" onclick="llamarVistaParcial(@item.id_ecop_PQRS);" data-toggle="modal" data-target="#myModal">
                                            VER DETALLE
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-primary" href='javascript:verManual(@item.id_ecop_PQRA_enrevision)'>
                                            VER PROYECCION
                                        </a>

                                        <script>

                                                    function verManual(a) {

                                                        var id = a;

                                                        $.ajax({
                                                            url: "@Url.Action("ArtefactoProyeccionEnreviasion")",
                                                            type: "GET",
                                                            data:
                                                            {
                                                                id: id
                                                            },
                                                            success: function (data) {

                                                                var URL2 = "@Url.Action("GestorUrlArtefactoProyeccion", "Pqrs")?id=" + data.id;
                                                                window.open(URL2, '', 'width =700,height =700,left =50,top =50,toolbar =yes');

                                                            },
                                                            error: function (data) {

                                                                alert("error al momento de realizar el procedimiento")

                                                            }

                                                        })

                                                    }


                                        </script>
                                    </td>

                                    <td class="text-center">
                                        @if (item.estado_revision == 2)
                                        {
                                            <a style="color:green" href='javascript:IngresoGestionPqrs(@item.id_ecop_PQRA_enrevision,3,@item.id_ecop_PQRS)'>
                                                APROBADO
                                            </a>
                                        }
                                        else
                                        {

                                            <a style="color:red" href='javascript:Rechaza(@item.id_ecop_PQRA_enrevision, @item.id_ecop_PQRS)'>
                                                RECHAZADO
                                            </a>
                                        }


                                    </td>
                                    <td>@item.observacion_auditor</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>


}



<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titlemodal">Detalle PQRS</h4>
            </div>
            <div class="modal-body">
                <div id="resultado"></div>
                @*<div id="resultado2"></div>*@
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">CERRAR</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal5">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="resultado5"></div>
                @*<div id="resultado2"></div>*@
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">CERRAR</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal6">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="resultado6"></div>
                @*<div id="resultado2"></div>*@
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">CERRAR</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>

    $('.table').DataTable({
        "searching": true,
        "iDisplayLength": 10,
        "lengthChange": false,
        "info": false,
        "order": [[0, "desc"]],
        responsive: true,
        language: {
            processing: "Procesando...",
            search: "Buscar:",
            lengthMenu: "Mostrar MENU registros",
            info: "Mostrando registros del START al END de un total de TOTAL registros",
            infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
            infoFiltered: "(filtrado de un total de MAX registros)",
            infoPostFix: "",
            loadingRecords: "Cargando...",
            zeroRecords: "No se encontraron resultados",
            emptyTable: "Ningún dato disponible en esta tabla",
            paginate: {
                first: "Primero",
                previous: "Anterior",
                next: "Siguiente",
                last: "Último",
            },
        }

    });


    function llamarVistaParcial(AI) {

        var laURLDeLaVista = '@Url.Action("_DetallePqrs")?ID=' + AI
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {},
            success: function (response) {
                $('#resultado').html('');
                $('#resultado').html(response);
            }
        });
    }



    function IngresoGestionPqrs(a, b ,c) {

        var opcionrealizar = 1; // decide que opcion se va a realizar
        var idpqrsenrevision = a;
        var estadogestion = b;
        var idpqrs = c;
     


        var mensaje;
        if (opcionrealizar == 1) {

            mensaje = "¿Desea realizar la proyeccion de la PQRS aprobada?";


        }
        else {
            mensaje = "¿Seguro que desea rechazar este caso?";
        }

        var opcion = confirm(mensaje);

        if (opcion == true) {
            $.ajax({
                url: "@Url.Action("Aprobo")",

                type: "GET",
                data:
                {
                    opcionrealizar: opcionrealizar,
                    idpqrs: idpqrs,
                    estadogestion: estadogestion,
                    idpqrsenrevision: idpqrsenrevision

                },
                success: function (data) {
                    if (data.opcionrealizar == "1") {
                        window.location = "@Url.Action("_AprobadaPQRSEngestion", "Pqrs")?idpqrs=" + data.idpqrs + "&estadogestion=" + data.estadogestion + "&idpqrsenrevision=" + data.idpqrsenrevision;
                    }


                },
                error: function (data) {
                    alert("error al momento de realizar el procedimiento")
                }

            })

        }
        else {

        }

    }

    function Rechaza(a, b) {

        var opcionrealizar = 1; // decide que opcion se va a realizar
        var idpqrsenrevision = a;
        var idPqrs = b;
        


        var mensaje;
        if (opcionrealizar == 1) {

            mensaje = "¿Desea devolver el caso para realizar nuevamente la correción de la proyeccion?";


        }
        else {
            mensaje = "¿Seguro que desea rechazar este caso?";
        }

        var opcion = confirm(mensaje);

        if (opcion == true) {
            $.ajax({
                url: "@Url.Action("Rechazar")",

                type: "GET",
                data:
                {
                    opcionrealizar: opcionrealizar,
                    idPqrs: idPqrs,
                    idpqrsenrevision: idpqrsenrevision

                },
                success: function (data) {
                    if (data.opcionrealizar == "1") {
                        window.location = "@Url.Action("GestionPQRS", "Pqrs")?idPqrs=" + data.idpqrs;
                    }


                },
                error: function (data) {
                    alert("error al momento de realizar el procedimiento")
                }

            })

        }
        else {

        }

    }

    function llamarVistaParcial6(AI) {

        var laURLDeLaVista = '@Url.Action("_RechazarEnrevision")?ID=' + AI
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {},
            success: function (response) {
                $('#resultado6').html('');
                $('#resultado6').html(response);
            }
        });
    }


</script>

<style>


    .letraa {
        color: #337ab7;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }



    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }


    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        margin: 1px;
        text-align: left;
        width: 1107px;
        border-collapse: collapse;
    }

    th {
        font-size: 11px;
        font-weight: bold;
        padding: 5px;
        background: #212020;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 9px;
        border-bottom: 2px solid #fff;
        color: #000000;
        border-top: 1px solid transparent;
        border: 1px solid #ccc;
    }

    .container {
        padding-left: 0px;
    }
</style>