@{
    ViewBag.Title = "TABLERO ASEGURAMIENTO RASTREO HOSPITALARIO";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading">
            <strong class="text-secondary_asalud">FILTRADO</strong>
        </div>
        <div class="panel-body">
            <form id="formFiltro" action="TableroAhAseguramiento" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-secondary_asalud">Regional</label>
                        <select class="form-control select2" onchange="CargarUnis($(this).val())" required id="regional" name="regional">
                            <option value="">- Seleccionar -</option>
                            @foreach (ECOPETROL_COMMON.ENTIDADES.Ref_regional item in ViewBag.regionales)
                            {
                                <option value="@item.id_ref_regional">@item.nombre_regional</option>
                            }

                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="text-secondary_asalud">Unis</label>
                        <select class="form-control select2" id="unis" name="unis" onchange="ObtenerCiudades($(this).val())">
                            <option value="">- Seleccionar -</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="text-secondary_asalud">Municipio</label>
                        <select class="form-control select2" id="municipio" name="municipio">
                            <option value="">- Seleccionar -</option>
                        </select>
                    </div>
                    <br />

                    <div class="col-md-3">
                        <button type="submit" class="button_Asalud_Aceptar">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-secondary_asalud">DATOS</strong>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="tabla" class="table table-bordered" style="width:98%;">
                    <thead>
                        <tr>
                            <th class="text-center">ítem</th>
                            <th class="text-center">Documento</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Fecha nacimiento</th>
                            <th class="text-center">IPS</th>
                            <th class="text-center">Regional</th>
                            <th class="text-center">UNIS</th>
                            <th class="text-center">Municipio</th>
                            <th class="text-center">Fecha ingreso</th>
                            <th class="text-center">Fecha egreso</th>
                            <th class="text-center">Tipo ingreso</th>
                            <th class="text-center">Caso especial</th>
                            <th class="text-center">Tipo caso</th>
                            <th class="text-center">CIE10</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (ViewBag.conteo > 0)
                        {
                            foreach (ECOPETROL_COMMON.ENTIDADES.management_censo_aseguramientoTableroControlResult item in ViewBag.listado)
                            {
                                <tr>
                                    <td>
                                        @item.id_registro
                                        <input type="hidden" id="nombre_@item.id_registro" name="nombre_@item.nombreCompleto" value="@item.nombreCompleto" />
                                    </td>
                                    <td>@item.documentoCompleto</td>
                                    <td>@item.nombreCompleto </td>
                                    @if (item.fecha_nacimiento != null)
                                    {
                                        <td>@item.fecha_nacimiento.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                    else
                                    {
                                        <td>@item.fecha_nacimiento</td>
                                    }

                                    <td>@item.ips</td>

                                    <td>@item.regional</td>
                                    <td>@item.unis</td>
                                    <td>@item.municipio</td>

                                    @if (item.fecha_ingreso != null)
                                    {
                                        <td>@item.fecha_ingreso.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                    else
                                    {
                                        <td>@item.fecha_ingreso</td>
                                    }


                                    @if (item.fecha_egreso != null)
                                    {
                                        <td>@item.fecha_egreso.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                    else
                                    {
                                        <td>@item.fecha_egreso</td>
                                    }

                                    <td>@item.tipo_ingreso</td>
                                    <td>@item.caso_especial</td>
                                    <td>@item.tipo_caso</td>
                                    <td>@item.cie10Completo</td>
                                    <td>
                                        <a class="button_Asalud_Aceptar" onclick="MostrarDetalle(@item.id_lote, @item.id_registro)">
                                            Gestionar
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="15" style="width:100%; text-align:center;"> SIN DATOS</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-keyboard="false" id="ModalDetallado">
    <div class="modal-dialog modal-lg" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div id="resultado"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/validate.js"></script>

<script>

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%'
        });

        $('#tabla').DataTable({
            "sSearch": "Buscar:",
            "searching": true,
            "iDisplayLength": 20,
            "lengthChange": false,
            "info": false,
            responsive: true,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    });

    function MostrarDetalle(Lot, det) {

        var nombre = $("#nombre_" + det).val();

        $.ajax({
            url: "@Url.Action("ModalDetallesAseguramiento", "Censo")",
            type: "GET",
            data: {
                Lot: Lot,
                det: det,
                nombre: nombre
            },
            success: function (response) {
                $('#resultado').html('');
                $('#resultado').html(response);
                $('#ModalDetallado').modal("show");
            }
        });
    }

    function ObtenerCiudades(a) {
        if (a != "") {
            $.ajax({
                url: "@Url.Action("ObtenerCiudades")",
                type: "post",
                data: { idunis: a },
                success: function (data) {
                    $("#municipio").empty();
                    $("#municipio").html(data);
                    $("#municipio").val("").trigger("change");
                }
            })
        }
    }

    function CargarUnis(a) {
        if (a != "") {
            $("#ciudad").empty();
            $("#ciudad").empty();
            $.ajax({
                url: "@Url.Action("ObtenerUnis")",
                type: "post",
                data: { idregional: a },
                success: function (data) {
                    $("#unis").empty();
                    $("#unis").html(data);
                    $("#unis").val("").trigger("change");
                }
            })
        }
    }


</script>


<style>


    .control-label {
        font-size: 15px;
        color: #357ebd;
    }

    .letra {
        font-size: 15px
    }

    .error {
        color: indianred;
        font-size: 13px;
    }

    .control-label {
        font-size: 15px;
    }

    #pnlcargararchivo {
        margin-top: 5%;
    }

    label.error {
        float: left;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .showErroneos {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .cortinilla {
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .ventana {
        width: 15%;
        height: 25%;
        padding: 1%;
        background-image: url(../../Resources/cargando.gif);
        background-size: 100% 100%;
        top: 40%;
        left: 42.5%;
        position: relative;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .text-secondary_asalud {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        color: #556da2;
    }

    input:read-only {
        background-color: #636363;
        color: #357ebd;
    }

    #tabla {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

        #tabla th {
            font-weight: bold;
            padding: 8px;
            background: #636363;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        #tabla td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        #tabla tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>
