@using Kendo.Mvc.UI;
@model AsaludEcopetrol.Models.Consulta.Consulta

<div class="container">
  <form id="pnlPrincipal" class="General">
    <div class="row">
      <div class="col-sm-12">
        <table id="tabla" class="table table-hover table-striped table-condensed table-bordered">
          <thead>
            <tr>
              <th class="text-center th">ID CENSO </th>
              <th class="text-center th">FECHA_BASE </th>
              <th class="text-center th">MES</th>
              <th class="text-center th">AÑO</th>
              <th class="text-center th">NUMERO</th>
              <th class="text-center th">NOMBRE COMPLETO</th>
              <th class="text-center th">NIT/CC</th>
              <th class="text-center th">CONCEPTO DE PAGO</th>
              <th class="text-center th">HONORARIOS</th>
              <th class="text-center th">SALUD</th>
              <th class="text-center th">RETENCION EN LA FUENTE</th>
              <th class="text-center th">RETENCION DE ICA</th>
              <th class="text-center th">IVA</th>
              <th class="text-center th">VALOR TOTAL CANCELADO</th>
            </tr>
          </thead>
          <tbody id="myTable">
            @foreach (var order in Model.ListaCensoConcuFechas)
            {
              <tr>
                <td>@order.id_censo</td>
                <td>@order.fecha_recepcion_censo </td>
                <td>@order.Nombre_Ips</td>
                <td>@order.CiudadIPs</td>
                <td>@order.tipo_identifi_afiliado</td>
                <td>@order.num_identifi_afil</td>
                <td>@order.primer_apellido</td>
                <td>@order.segundo_apellido</td>
                <td>@order.segundo_nombre</td>
                <td>@order.primer_nombre</td>
   
              </tr>
            }
        </table>
      </div>
    </div>
  </form>
</div>