@using Kendo.Mvc.UI;
@model AsaludEcopetrol.Models.Consulta.Consulta
@{
    ViewBag.Title = "CONSULTAS ECOPETROL";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}


<script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>

<link rel="stylesheet" type="text/css" href="js/filtergrid.css" media="screen" />
<script type="text/javascript" src="js/tablefilter.js"></script>

<br />


@using (Html.BeginForm())
{

    <a class="btn button_Asalud_descargas" href="@Url.Action("Descargar2", "Consultas", new { fechainicio = Model.fecha_inicio, fechafin = Model.fecha_fin, regional = Model.regional, documento = Model.num_identifi_afil, valor = Model.valor})">
        DESCARGAR
    </a>

    <div class="table-responsive" id="mydatatable-container">
        <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">

            <thead>
                <tr>
                    <th class="text-center th">NUMERO IDENTIFICACION</th>
                    <th class="text-center th">CLASE IDENTIFICACION</th>
                    <th class="text-center th">APELLIDOS</th>
                    <th class="text-center th">NOMBRES</th>
                    <th class="text-center th">EDAD GESTACIONAL</th>
                    <th class="text-center th">FECHA NACIMIENTO</th>
                    <th class="text-center th">PESO</th>
                    <th class="text-center th">VIA PARTO</th>
                    <th class="text-center th">TALLA</th>
                    <th class="text-center th">SEXO</th>
                    <th class="text-center th">APGAR</th>
                    <th class="text-center th">CONTROL PRENATAL</th>
                    <th class="text-center th">NOMBRE IPS</th>
                    <th class="text-center th">CIUDAD IPS</th>
                    <th class="text-center th">REGIONAL ID </th>
                    <th class="text-center th">REGIONAL ASALUD</th>
                    <th class="text-center th">FECHA DIGITA</th>
                    <th class="text-center th">USUARIO DIGITA</th>
                    <th class="text-center th">FECHA BCG</th>
                    <th class="text-center th">FECHA VITAMINA K</th>
                    <th class="text-center th">FECHA CONSEJERIA LAC</th>
                    <th class="text-center th">RESULTADO TCH</th>
                    <th class="text-center th">FECHA CONSULTA PEDIATRA</th>
                    <th class="text-center th">FECHA HEPATITIS B</th>









                </tr>
            </thead>

            <tbody>
                @foreach (var order in Model.ListaGestantesNuevo)
                {

                    <tr>

                        <td>@order.Numero_identificacion</td>
                        <td>@order.Clase_de_identificacion</td>
                        <td>@order.Apellidos</td>
                        <td>@order.Nombre</td>
                        <td>@order.edad_gestacional</td>
                        <td>@order.fecha_nacimiento</td>
                        <td>@order.peso</td>
                        <td>@order.via_parto</td>
                        <td>@order.talla</td>
                        <td>@order.sexo</td>
                        <td>@order.apgar</td>
                        <td>@order.control_prenatal</td>
                        <td>@order.Nombre_Ips</td>
                        <td>@order.CiudadIPs</td>
                        <td>@order.regional_id</td>
                        <td>@order.regional_asalud</td>
                        <td>@order.fecha_digita</td>
                        <td>@order.usuario_digita</td>
                        <td>@order.fecha_BCG</td>
                        <td>@order.fecha_vitaminaK</td>
                        <td>@order.fecha_consenjeria_lactancia</td>
                        <td>@order.resultadoTCH</td>
                        <td>@order.fechaTCH</td>
                        <td>@order.fecha_consulta_pediatria</td>
                        <td>@order.fecha_hepatitisB</td>







                    </tr>
                }
            </tbody>
        </table>
    </div>


}

<script type="text/javascript">

    $(document).ready(function () {


    });


</script>

<style>

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }



    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }


    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }


    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }
</style>
