@model ECOPETROL_COMMON.ENTIDADES.management_VigilanciaCohortes_gestionesResult

<form id="formGestion">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-body table-responsive">
                <table class="table table-bordered table-responsive" style="width:98%;">
                    <tbody>
                        <tr>
                            <th>Gestión</th>
                            <th>Lote</th>
                            <th>Gestión</th>
                            @if (Model.gestion != null)
                            {
                                if (Model.gestion == "Confirmado")
                                {
                                    <th>Fecha confirmación</th>
                                    <th>Justificación confirmación</th>
                                }
                                else
                                {
                                    <th>Fecha descarte</th>
                                    <th>Observación descarte</th>
                                }
                            }
                            else
                            {
                                <th></th>
                                <th></th>
                            }

                            <th>Fecha gestión</th>
                            <th>Usuario gestiona</th>
                        </tr>
                    </tbody>
                    <tr>
                        <td>@Model.id_gestion</td>
                        <td>@Model.id_lote</td>
                        <td>@Model.gestion</td>

                        @if (Model.gestion != null)
                        {
                            if (Model.gestion == "Confirmado")
                            {
                                <td>@Model.fecha_confirmacion.Value.ToString("dd/MM/yyyy")</td>
                                <td>@Model.observacion_confirmacion</td>
                            }
                            else
                            {
                                <td>@Model.fecha_descarte.Value.ToString("dd/MM/yyyy")</td>
                                <td>@Model.observacion_descarte</td>
                            }
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }

                        <td>@Model.fecha_digita.Value.ToString("dd/MM/yyyy")</td>
                        <td>@Model.nombreDigita</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>


