@using Kendo.Mvc.UI;
@model  AsaludEcopetrol.Models.Evolucion.Glosa
@{
    ViewBag.Title = "CONSULTA GLOSA";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

@using (Html.BeginForm())
{
    <div class="General">
        <table align="center" width="700" style="color:#ffffff; background: #2E64FE;">
            <tr>
                <td class="text-center">
                    <Label>HISTORICO DETALLE GLOSA</Label>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <table border="1" align="center" width="600" class="table table-hover">

            @if (Model != null && Model.lstGlosa != null && Model.lstGlosa.Count > 0)
                {
                <tr>

                    <th class="text-center">ID</th>
                    <th class="text-center">PROCEDIMIENTO</th>
                    <th class="text-center">CODIGO GLOSA</th>
                    <th class="text-center">CANTIDAD GLOSA</th>
                    <th class="text-center">VALOR GLOSA</th>
                    <th class="text-center">OBSERVACIONES AUDITORIA</th>
                    <th class="text-center">USUARIO DIGITA</th>
                    <th class="text-center">FECHA DIGITA</th>

                </tr>
                foreach (var item in Model.lstGlosa)
                {
                    <tr>

                        <td class="text-center">
                            @item.id_concurrencia_glosa
                        </td>
                        <td class="text-center">
                            @item.id_cups
                        </td>
                        <td class="text-center">
                            @foreach (var item1 in Model.lstCodGlosa)
                            {
                                if (item1.id_ref_cuentas_glosa == item.id_codigo_glosa)
                                {
                                    @item1.des
                                    break;
                                }
                            }
                        </td>
                        <td class="text-center">
                            @item.cantidad_glosa
                        </td>
                        <td class="text-center">
                            @item.Valor_Glosa
                        </td>
                        <td class="text-center">
                            @item.observaciones_auditoria
                        </td>
                        <td class="text-center">
                            @item.usuario_digita
                        </td>
                        <td class="text-center">
                            @item.digita_fecha
                        </td>

                    </tr>
                }

            }


        </table>

        <table>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>

    </div>

}
<style>
    .k-autocomplete.k-header {
        width: 300px;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
    }

    .Acordion {
        width: 820px;
    }


    .General {
        font-family: Calibri;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .tdNomal {
        Width: 105px;
    }

    .tdGrande {
        width: 300px;
    }

    .tdPequeño {
        Width: 50px;
    }

    .select {
        position: relative;
        border: 1px solid #ccc;
        width: 120px;
        overflow: hidden;
        background-color: #fff;
    }

        .select:before {
            content: '';
            position: absolute;
            right: 5px;
            top: 7px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 5px 0 5px;
            border-color: #000000 transparent transparent transparent;
            z-index: 5;
            pointer-events: none;
        }

        .select select {
            padding: 5px 8px;
            width: 130%;
            border: none;
            box-shadow: none;
            background-color: transparent;
            background-image: none;
        }
</style>





