
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="title text-center">
            <h4>
                <a class="text-primary_asalud" data-toggle="collapse" data-parent="#accordion">ARCHIVOS SOPORTE</a>
            </h4>
            <h5>
                <label class="text-secondary_asalud">Id. @ViewBag.idRegistro</label>
                <input type="hidden" id="idRegistro" name="idRegistro" value="@ViewBag.idRegistro" />
                <input type="hidden" id="tipoCargue" name="tipoCargue" value="@ViewBag.tipoCargue" />
                <input type="hidden" id="fechaCargue" name="fechaCargue" value="@ViewBag.fechaCargue" />
            </h5>
        </p>
    </div>
    <div class="panel-body">
        <div id="divTabla">
            <div class="table-responsive">
                <table id="tablaArchivos" class="table table-bordered table-condensed" style="font-size:11px; width:100%;  margin:0px !important">
                    <thead>
                        <tr>
                            <th class="text-center">Ítem</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Tipo soporte</th>
                            <th class="text-center">Archivo</th>
                            <th class="text-center">Fecha prestación soporte</th>
                            <th class="text-center">Fecha de cargue</th>
                            <th class="text-center">Usuario creador</th>
                            <th class="text-center">Ver</th>
                            @if (ViewBag.rol == "1")
                            {
                                <th class="text-center">Eliminar</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="tbodytbl2">
                        @if (ViewBag.conteoArchivos > 0)
                        {
                            var i = 0;

                            foreach (ECOPETROL_COMMON.ENTIDADES.management_cuentasAltoCosto_repositorioResult item in ViewBag.listaArchivos)
                            {
                                i++;
                                <tr>
                                    <td class="text-center">@i</td>

                                    <td class="text-center">@item.descripcion</td>
                                    <td class="text-center">@item.descripcionTipoSoporte</td>
                                    <td class="text-center">@item.nombre_archivo</td>

                                    @if (item.fecha_prestacion_soporte != null)
                                    {
                                        <td class="text-center">@item.fecha_prestacion_soporte.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">@item.fecha_prestacion_soporte</td>
                                    }

                                    @if (item.fecha_digita != null)
                                    {
                                        <td class="text-center">@item.fecha_digita.Value.ToString("dd/MM/yyyy H:mm:ss")</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">@item.fecha_digita</td>
                                    }
                                    <td class="text-center">@item.nombreCarga</td>

                                    <td class="text-center">
                                        <a href='javascript:MostrarArchivo(@item.id_archivo);'>Ver archivo</a>
                                    </td>

                                    @if (ViewBag.rol == "1")
                                    {
                                        <td class="text-center">
                                            <a class="button_Asalud_Rechazar" onclick="EliminarArchivo(@item.id_archivo, @item.id_registro, @item.id_tipo);">
                                                Eliminar
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="12" style="text-align:center; font-size:15px;">
                                    <label>Sin archivos.</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />

        <div id="divFormulario">
            <form id="formularioArchivosIngreso" method="post" action="InsertarArchivosRepositorio">
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-secondary_asalud">Fecha prestación del soporte:</label>
                        <input class="datepickerr3" title="Este campo es obligatorio" style="width:100%" name="fecha_prestacion_soporte" id="fecha_prestacion_soporte" required />
                    </div>

                    <div class="col-md-4">
                        <label class="text-secondary_asalud">Tipo soporte:</label><span style="color:red"></span>
                        <select id="tipoSoporte" name="tipoSoporte" class="form-control select2" required>
                            <option value="">--Seleccione--</option>
                            @foreach (ECOPETROL_COMMON.ENTIDADES.ref_cuentas_altocosto_tipoSoporte item in ViewBag.tipoSoporte)
                            {
                                <option value="@item.id_tipo">@item.descripcion</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="text-secondary_asalud">Adjuntar:</label><span style="color:red"></span>
                        <input type="file" class="form-control" name="archivos" id="archivos" onchange="ValidacionArchivoConfirmados();" multiple required />
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="text-center">
                        <button class="button_Asalud_Guardar" id="btnguardar" type="button" onclick="ValidarformularioArchivos()">GUARDAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/validate.js"></script>
<script>

    $(document).ready(function () {

        debugger

        var fechaCargue = "@ViewBag.fechaCargue";

        MostrarTablaArchivos();

        $(".datepickerr3").kendoDatePicker({
            format: "MM/dd/yyyy",
            max: new Date(fechaCargue)
        });

        $('.select2').select2({
            width: '100%'
        });

        $(".k-input").attr('readonly', true);

    });

    function MostrarTablaArchivos() {
        var conteo = "@ViewBag.conteoArchivos";
        if (conteo > 0) {
            $('.tablaArchivos').DataTable().destroy();
            $('.tablaArchivos').DataTable({
                "searching": true,
                "iDisplayLength": 50,
                "lengthChange": false,
                "info": false,
                "order": [[0, "asc"]],
                responsive: true,
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar MENU registros",
                    info: "Mostrando registros del START al END de un total de TOTAL registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de MAX registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último",
                    },
                }
            });
        }
    }


    function ValidarformularioArchivos() {
        var validator = $("#formularioArchivosIngreso").validate();
        if (validator.form()) {
            GuardarArchivosNuevos();
        }
    }

    function MostrarArchivo(idArchivo) {
        var url = "@Url.Action("VerArchivoRepositorio", "InventarioAltoCosto")?idArchivo=" + idArchivo;
        popupWindow = window.open(url, '', 'height=150,width=500,left=50,top=550,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes')
    }

    function GuardarArchivosNuevos() {

        var formData = new FormData($("form")[0]);
        formData.append("idRegistro", $("#idRegistro").val());
        formData.append("tipoCargue", $("#tipoCargue").val());
        formData.append("tipoSoporte", $("#tipoSoporte").val());
        formData.append("fecha_prestacion_soporte", $("#fecha_prestacion_soporte").val());

        var archivos = $("#archivos").get(0).files;
        for (i = 0; i < archivos.length; i++) {
            formData.append("archivos", archivos[i]);
        }

        LoadingShow();
        $.ajax({

            url: "@Url.Action("InsertarArchivosRepositorio", "InventarioAltoCosto")",
            method: "post",
            data: formData,
            type: "post",
            contentType: false,
            processData: false,
            success: function (data) {
                alert(data.mensaje);
                LoadingHide();
                $("#archivos").val(null).trigger("change");
                ModalArchivos($("#idRegistro").val(), $("#tipoCargue").val(), "@ViewBag.id");

            }
        })
    }


    function EliminarArchivo(idArchivo, idRegistro, tipoCargue) {
        if (confirm('Está a punto de eliminar un archivo ¿Desea continuar?')) {
            EliminarRegistro(idArchivo, idRegistro, tipoCargue);
        }
    }

    function EliminarRegistro(idArchivo, idRegistro, tipoCargue) {

        debugger

        var formData = new FormData($("form")[0]);
        formData.append("idRegistro", idRegistro);
        formData.append("tipo", tipoCargue);
        formData.append("idArchivo", idArchivo);

        LoadingShow();
        $.ajax({
            url: "@Url.Action("EliminarArchivoRepositorio", "InventarioAltoCosto")",
            type: "post",
            data: formData,
            method: 'POST',
            contentType: false,
            processData: false,

            success: function (response) {
                LoadingHide();
                alert(response.message);
                debugger

                ModalArchivos($("#idRegistro").val(), $("#tipoCargue").val(), "@ViewBag.id");

            }
        })
    }

    function ValidacionArchivoConfirmados() {
        var data = document.getElementById('archivos');
        var distintosArchivos = data.files;
        var contador = 0;

        for (contador; contador < distintosArchivos.length; contador++) {

            var nameext = data.files[contador].name;
            var extension = getFileExtension3(nameext);

            var listaextensiones = ["pdf", "Pdf", "PDF"];

            var valida = false;

            jQuery.each(listaextensiones, function (i, val) {
                if (extension == val) {
                    valida = true;
                }
            });

            if (valida == false) {
                alert("La extensión " + extension + " no es válida. Por favor, solo subir archivos PDF.");
                $("#archivos").val("");
            }
        }
    }

    function getFileExtension3(filename) {
        return filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2);
    }

</script>

<style>
    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 10px;
        margin: 10px;
        width: 600px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #ffffff;
    }

    td {
        padding: 8px;
        background: #ffffff;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .contenedor1 {
        border-radius: 10px;
        height: 30px;
        font-weight: 600;
        text-align: center;
    }
</style>