@model AsaludEcopetrol.Models.CuentasMedicas.DevolucionesFacturas
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "DEVOLUCIONES";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}
<br>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary_asalud">Gestionar devolución</strong>
            </div>

            <div class="panel-body" id="panel_formulario">
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.numero_factura)</span></h4>
                            @Html.TextBoxFor(p => p.numero_factura, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => u.numero_factura, null, new { @class = "label label-danger" })
                        </div>

                        <div class="col-sm-4">
                            <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.valor_factura)</span></h4>
                            @Html.TextBoxFor(p => p.valor_factura, "{0:#.#}", new { @class = "form-control", @onclick = "format(this)", @onchange = "format(this)" })
                            @Html.ValidationMessageFor(u => u.valor_factura, null, new { @class = "label label-danger" })
                        </div>

                        <div class="col-sm-4">
                            <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.observaciones)</span></h4>
                            @Html.TextAreaFor(p => p.observaciones, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => u.observaciones, null, new { @class = "label label-danger" })
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.fecha_factura)</span></h4>
                            @(Html.Kendo().DateTimePickerFor(p => p.fecha_factura)

                          .HtmlAttributes(new { style = "width: 70%", title = "Vigencia desde" })
                          .Name("datepicker1")
                         .Format("dd/MM/yyyy")
                         .Events(e =>
                         {
                             e.Change("change1");
                         })

                    )

                            @Html.ValidationMessageFor(u => u.fecha_factura, null, new { @class = "label label-danger" })
                        </div>

                        <div class="col-sm-4">
                            <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.fecha_recepcion_asalud)</span></h4>
                            @(Html.Kendo().DateTimePickerFor(p => p.fecha_recepcion_asalud)

                          .HtmlAttributes(new { style = "width: 70%", title = "Vigencia desde" })
                          .Name("datepicker2")
                         .Format("dd/MM/yyyy")
                         .Events(e =>
                         {
                             e.Change("change2");
                         })

                    )

                            @Html.ValidationMessageFor(u => u.fecha_recepcion_asalud, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input id="BtnActualizar" type="submit" value="INGRESAR" class="btn button_Asalud_Guardar" />
                        </div>
                    </div>



                    <div id="pnlGuardar" class="General">
                        <table align="left">
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td class="Error">
                                    @Html.ValidationSummary(true, "")
                                </td>
                            </tr>
                            <tr>
                                <td style="display:none">
                                    @Html.TextBoxFor(u => u.id_devolucion_factura)
                                    @Html.TextBoxFor(u => u.fecha_facturaok)
                                    @Html.TextBoxFor(u => u.fecha_recepcion_asaludok)

                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
}



<script type="text/javascript">

    $(document).ready(function () {

        $('#datepicker1').attr('disabled', 'disabled');

    });

    function change1() {
        var DataItem = (kendo.toString(this.value(), 'd'));

        $('input:text[id$=fecha_facturaok]').val(DataItem);

    }

    $(document).ready(function () {

        $('#datepicker2').attr('disabled', 'disabled');

    });

    function change2() {
        var DataItem = (kendo.toString(this.value(), 'd'));

        $('input:text[id$=fecha_recepcion_asaludok]').val(DataItem);

    }

    function format(input) {

        var textBox1 = $('input:text[id$=valor_factura]').keyup();
        var n = textBox1.val();

        var num = n.replace(/\./g, '');
        if (!isNaN(num)) {
            num = num.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
            num = num.split('').reverse().join('').replace(/^[\.]/, '');
            input.value = num;
        }

        else {
            alert('Solo se permiten numeros');
            input.value = input.value.replace(/[^\d\.]*/g, '');
        }
    }



</script>

<style>
    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

</style>






