
@{
    int conteoResultados = ViewBag.conteo;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="text-primary-Asalud">DETALLE FACTURACIÓN SAP</strong>
    </div>
    <div class="panel-body">

        <table id="tabla2" class="table2 table-bordered table-responsive" style="font-size:10px; width: 100%;">
                <thead>
                    <tr>
                        <th>Ítem</th>
                        <th>Nit</th>
                        <th>Nro documento</th>
                        <th>Referencia</th>
                        <th>Fecha contabilización</th>
                        <th>Fecha compensanción</th>
                        <th>Fecha pago</th>
                        <th>Regional</th>
                        <th>Unis</th>
                        <th>Localidad</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in ViewBag.list)
                    {
                        i++;
                        <tr>
                            <td class="text-center">@item.id_factura_sap</td>
                            <td>@item.nit</td>
                            <td>@item.nro_documento</td>
                            <td>@item.referencia</td>
                            <td>@item.fe_contabilizacion</td>
                            <td>@item.fecha_compensacion</td>
                            <td>@item.fecha_pago</td>
                            <td>@item.regional</td>
                            <td>@item.unis</td>
                            <td>@item.localidad</td>
                        </tr>
                    }
                </tbody>
            </table>
</div>
</div>



<script>

    $('.table2').DataTable({
        "sSearch": "Buscar:",
        "searching": true,
        "iDisplayLength": 25,
        "lengthChange": false,
        "info": false,
        responsive: true,
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
    });
</script>


<style>


    .control-label {
        font-size: 15px;
        color: #357ebd;
    }

    .error {
        color: indianred;
        font-size: 13px;
    }

    .control-label {
        font-size: 15px;
    }

    label.error {
        float: left;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .ventana {
        width: 15%;
        height: 25%;
        padding: 1%;
        background-image: url(../../Resources/cargando.gif);
        background-size: 100% 100%;
        top: 40%;
        left: 42.5%;
        position: relative;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .Tamaño {
        height: 200px;
    }

 
    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .text-secondary_asalud {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        color: #556da2;
    }

    input:read-only {
        background-color: #636363;
        color: #357ebd;
    }

    #tabla2 {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;

    }

        #tabla2 th {
            font-weight: bold;
            padding: 8px;
            background: #636363;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        #tabla2 td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        #tabla2 tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>
