@model  AsaludEcopetrol.Models.Medicamentos.Cronograma
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "INGRESO CRONOGRAMA VISITAS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

@{ string alerta = (string)ViewData["alerta"];
    string idadmin = (string)ViewBag.idadmin;
}

<br />
@using (Html.BeginForm("CronogramaVisitas", "Cronograma", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <br />
    <div class="container">

        <div class="row">
            <div class="col-md-12"></div>
            <table align="center" width="990" style="color:#ffffff; background: #2E64FE; margin-top:2%" class="form-group">
                <tbody>
                    <tr>
                        <td class="text-center" style="font-size:small">
                            <label>DATOS VISITA</label>
                        </td>
                    </tr>
                </tbody>
            </table>

            @if (!String.IsNullOrEmpty(alerta))
            {
                @Html.Raw(alerta);
            }
        </div>


        <div class="row">
            <div class="col-sm-3">
                <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.id_puntos_dispensacion)</span></h4>
                @Html.DropDownListFor(model => model.id_puntos_dispensacion, new SelectList(Model.lisPuntosDispersacion, "id_md_ref_puntos_dispensacion", "nombre_esm"), "Seleccione...", new { @class = "form-control respuntos" })
                @Html.ValidationMessageFor(u => u.id_puntos_dispensacion, null, new { @class = "label label-danger" })
            </div>


            <div class="col-sm-3">
                <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.tipo_visita)</span></h4>
                @Html.DropDownListFor(model => model.tipo_visita, new SelectList(Model.LstMdTipoVisita, "id_tipo_visita", "descripcion"), "Seleccione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.tipo_visita, null, new { @class = "label label-danger" })
            </div>
            
            <div class="col-md-3">
                <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.auditor_grupo)</span></h4>
                @Html.DropDownListFor(model => model.auditor_grupo, new SelectList(Model.auditor_grupo, "auditor_grupo", "auditor_grupo"), "Seleccione...", new { @class = "form-control"})
                @Html.ValidationMessageFor(u => u.auditor_grupo, null, new { @class = "label label-danger" })
            </div>

            <div class="col-sm-3">
                <h4><span class="text-secondary_asalud">@Html.LabelFor(p => p.fecha_visita)</span></h4>
                @(Html.Kendo().DateTimePickerFor(p => p.fecha_visita)
              .Name("datepicker1")
              .Format("dd/MM/yyyy")
              .Events(e =>
              {
                  e.Change("change1");
              })
              .HtmlAttributes(new { style = "width: 70%", title = "Vigencia desde" })
                )
                @Html.ValidationMessageFor(u => u.fecha_visita, null, new { @class = "label label-danger" })
            </div>




        </div>

        <br />
        <br />


        <div class="row">
            <div id="pnlGuardar" class="General text-center">
                <div>
                    <input id="BtnActualizar" type="submit" value="INGRESAR" class="btn btn-success" />
                </div>

                <div class="Error">
                    @Html.ValidationSummary(true, "")
                </div>

                <div style="display:none">
                    @Html.TextBoxFor(u => u.fecha_visitaOK)
                    <
                </div>
            </div>
        </div>






    </div>
    <br />

}
<script>

    $(document).ready(function () {

        $('#datepicker1').attr('disabled', 'disabled');


    });

    function change1() {
        var DataItem = (kendo.toString(this.value(), 'd'));

        $('input:text[id$=fecha_visitaOK]').val(DataItem);

    }

    function CustomerSelect(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#id_puntos_dispensacion").val(DataItem.PuntosId);
    }

    function CustomerSelect1(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#auditor_grupo").val(DataItem.AuditorID);
    }



    $(document).ready(function () {
        $('.respuntos').change(function () {
            var idpuntosdispensacion = $(this).val();


            $.ajax({
                url: "@Url.Action("GetCronoAuditores", "Cronograma")",
                type: "post",
                data: { idpuntosdispensacion: idpuntosdispensacion },
                success: function (data) {
                    $('#auditor_grupo').empty();
                    $('#auditor_grupo').append("<option value=''>Seleccione...</option>");
                    data.forEach(function (data) {
                        $('#auditor_grupo').append("<option value='" + data.id_auditor + "'>" + data.nombre + "</option>");
                    });


                },
            })
        })
    })


</script>






<style>
    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>

