@using Kendo.Mvc.UI;

@{
    var conteo = 0;

}

<form id="formulario2">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-primary_asalud">
                Ingresar registro de la vista
            </strong>
        </div>
        <div class="panel-body">
            <input type="hidden" id="id_glosa" value="@ViewBag.id_glosa" />

            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                        <button class="button_Asalud_Guardar" id="btnSeleccionar" type="button" onclick="seleccionarTodas()">Marcar todas</button>
                        <button class="button_Asalud_Guardar" id="btnDesmarcar" type="button" onclick="desmarcarTodas()" style="display: none">Desmarcar todas</button>
                    </div>
                </div>


                <div class="row">

                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <BR />
                            <table id="tbIngresoFechaEjecucion" class="table table-bordered table-condensed" style="font-size:11px; width:100%;  margin:0px !important">
                                <thead>
                                    <tr>
                                        <th class="text-center">IdFactura</th>
                                        <th class="text-center">Prefijo factura</th>
                                        <th class="text-center">Factura</th>
                                        <th class="text-center">Día radicación</th>
                                        <th class="text-center">Valor</th>
                                        <th class="text-center">Seleccione las facturas</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodytbl2">

                                    @foreach (ECOPETROL_COMMON.ENTIDADES.vw_ffmm_glosas item in ViewBag.lista)
                                    {
                                        conteo++;
                                        <tr>
                                            <td class="text-center">@item.id_ffmm_Cuentas_auditoria2</td>
                                            <td class="text-center">@item.prefijo_factura</td>
                                            <td class="text-center">@item.numero_factura</td>
                                            <td class="text-center">@item.año_mes_radicado</td>
                                            <td class="text-center">$@item.vlr_factura</td>
                                            <td class="text-center">
                                                <input type="checkbox" id="opcion_@conteo" name="opcion" value="@item.id_glosa" class="checkbox" />
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>

                <div class="row ">
                    <div class="col-sm-3">
                        <label class="text-secondary_asalud">Fecha de ejecución</label>
                        <input class="datepickerr" value="" title="Este campo  es obligatorio*" style="width:100%" name="fecha_ejecucion_visita" id="fecha_ejecucion_visita" onchange="validarFecha()" required />
                    </div>
                    <div class="col-sm-9">
                        <label class="text-secondary_asalud">Observaciones</label>
                        <textarea name="observaciones" required maxlength="2000" id="observaciones" class="form-control" rows="4" placeholder="- Escriba aqui observaciones.-"></textarea>

                    </div>

                </div>


            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center" id="divBotones">
                        <button class="button_Asalud_Guardar" id="btnguardar" type="button" onclick="ValidarFormulario()">GUARDAR</button>
                        <button class="button_Asalud_Rechazar" data-dismiss="modal">CERRAR</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


</form>



<script>

    var arreglo = [0];


    $('#tbIngresoFechaEjecucion').DataTable({
        "searching": false,
        "iDisplayLength": 10,
        "lengthChange": false,
        "info": false,
        "order": [[0, "asc"]],
        responsive: true,
        language: {
            processing: "Procesando...",
            search: "Buscar:",
            lengthMenu: "Mostrar MENU registros",
            info: "Mostrando registros del START al END de un total de TOTAL registros",
            infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
            infoFiltered: "(filtrado de un total de MAX registros)",
            infoPostFix: "",
            loadingRecords: "Cargando...",
            zeroRecords: "No se encontraron resultados",
            emptyTable: "Ningún dato disponible en esta tabla",
            paginate: {
                first: "Primero",
                previous: "Anterior",
                next: "Siguiente",
                last: "Último",
            },
        }

    });



    var today = new Date()

    $(".datepickerr").kendoDatePicker({
        format: "MM/dd/yyyy",
        max: new Date(today.setDate(today.getDate())),
        value: new Date()

    });
    $(".k-input").attr('readonly', true);

    $(".date").datepicker();

    function ValidarFormulario() {

        arreglo.splice(0, 1);

        var conteo = @conteo;
        var conteo2 = 0;
        var validator = $("#formulario2").validate();
        var dato = 0;

        document.getElementById('divBotones').style.visibility = 'none';
        document.getElementById('divBotones').style.visibility = 'none';

        for (var i = 0; i < conteo; i++) {
            conteo2++;
            if (document.getElementById("opcion_" + conteo2).checked == true) {
                dato = $("#opcion_" + conteo2).val();
                arreglo.push(dato);
            }

        }

        if (validator.form() && arreglo.length > 0) {

            GuardarDatos();
        } else {
            document.getElementById('divBotones').style.visibility = 'block';
            document.getElementById('divBotones').style.visibility = 'block';
            if (arreglo.length == 0) {
                alert("Por favor seleccione al menos una factura para programar la visita.");
            }


        }
    }

    function GuardarDatos() {
        var formData = new FormData($("form")[0]);

        var fecha = document.getElementById("fecha_ejecucion_visita").value;
        var observaciones = document.getElementById("observaciones").value;
        var arregloGlosas = arreglo;


        LoadingShow();
         $.ajax({
            url: "@Url.Action("EjecutarVisita", "CuentasMedicas")",
            type: 'POST',
            data: {
                'fecha': fecha,
                'arregloGlosas': arregloGlosas,
                'observaciones': observaciones,
            },
            datatype: "json",
            traditional: true,
           success: function (response) {

                if (response.success) {
                    LoadingHide();
                    alert(response.message);
                    var url = "@Url.Action("TableroDeVisitasProgramadas", "CuentasMedicas")";
                    location.href = url;
                }
                else {
                    LoadingHide();
                    alert(response.message);
                }

            }
        });
    }


        function seleccionarTodas() {
        var conteo = @conteo;
        var conteo2 = 0;
        for (var i = 0; i < conteo; i++) {
            conteo2++;
            document.getElementById("opcion_" + conteo2).checked = true;

        }
        document.getElementById("btnSeleccionar").style.display = 'none';
        document.getElementById("btnDesmarcar").style.display = 'block';
    }

    function desmarcarTodas() {
        var conteo = @conteo;
        var conteo2 = 0;
        for (var i = 0; i < conteo; i++) {
            conteo2++;
            document.getElementById("opcion_" + conteo2).checked = false;
        }
        document.getElementById("btnSeleccionar").style.display = 'block';
        document.getElementById("btnDesmarcar").style.display = 'none';
    }


</script>

