@model  AsaludEcopetrol.Models.Evolucion.EventoAdverso
@{
    ViewBag.Title = "ANALISIS REPORTE DE EVENTOS ADVERSOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />


@using (Html.BeginForm(null, null, FormMethod.Get))
{
}

<div class="panel panel-default">
    <div class="panel-body">

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>ID CENSO</th>
                    <th>ID CONCURRENCIA</th>
                    <th>CEDULA</th>
                    <th>NOMBRES</th>
                    <th>FECHA DEL EVENTO</th>
                    <th>TIPO DEL EVENTO</th>
                    <th>IPS</th>
                    <th></th>

                </tr>

                @foreach (var order in Model.Lista)
                {
                    <tr>
                        <td>@order.id_censo</td>
                        <td>@order.id_concurrencia</td>
                        <td>@order.cedula</td>
                        <td>@order.nombre</td>
                        <td>@order.fecha_evento</td>
                        <td>@order.tipo_evento</td>
                        <td>@order.ips</td>
                        <td>
                            <button type="button">
                                <a class="btn btn-primary" href="@Url.Action("VerCenso", "EventoAdverso", new { ID= order.id_censo,ID2 = order.id_censo})">
                                    ANALISIS Y REPORTE
                                </a>

                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">


</script>


<style>
    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>




