@model  AsaludEcopetrol.Models.Evolucion.EventoAdverso
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "REPORTES DE EVENTOS ADVERSOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />


@using (Html.BeginForm())
{

    <div class="container" style="font-family:'Century Gothic'">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary_asalud">Consultar</strong>
            </div>
            <div class="panel-body">
                <div class="General">
                    <div class="panel panel-default">

                        <table align="center">
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(model => model.Items, "1", new { @onclick = "mostrar()" })
                                    @Html.Label("ANALISIS")
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    @Html.RadioButtonFor(model => model.Items, "2", new { @onclick = "mostrar()" })
                                    @Html.Label("PLAN DE MEJORA")
                                </td>

                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    @Html.RadioButtonFor(model => model.Items, "2", new { @onclick = "mostrar()" })
                                    @Html.Label("SEGUIMIENTO PLAN MEJORA")
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div id='pnlBusquedaDocumento' style='display:none;' class="General">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <input id="BtnBuscarDocumento" type="submit" value="BUSCAR" class="btn button_Asalud_Aceptar" />
                        @Html.ValidationSummary(true, "")
                    </div>
                </div>
                <br />
            </div>
            <br />

            @*<div id='pnlBusquedaDocumento' style='display:none;' class="General">
                <table align="center">
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input id="BtnBuscarDocumento" type="submit" value="BUSCAR" class="btn button_Asalud_Aceptar" />

                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div>
                <table align="center">
                    <tr>
                        <td class="Error">
                            @Html.ValidationSummary(true, "")
                        </td>
                    </tr>

                </table>

            </div>*@
        </div>
    </div>

}
<script type="text/javascript">

    function mostrar() {

        document.getElementById('pnlBusquedaDocumento').style.display = 'block';

    };


</script>

<style>
    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .Totalidad {
        font-size: 12px;
        font-family: 'Century Gothic';
    }
</style>



